/* min */
#sha-sort .title {
  float: left
}

/* sha-sort */
#sha-sort a {
  margin-left: 10px;
  display: block;
  float: left;
  line-height: 25px;
  height: 25px;
  display: inline-block;
  zoom: 1;
  vertical-align: top;
  border: none;
  text-decoration: none;
  margin-right: 15px;
  font-size: 15px
}

#sha-sort a[sort-class="pd.name-DESC"],
#sha-sort a[sort-class="p.price-DESC"],
#sha-sort a[sort-class="rating-ASC"],
#sha-sort a[sort-class="p.model-DESC"],
#sha-sort a.selected {
  display: block
}

#sha-sort a[sort-class="rating-DESC"].selected,
#sha-sort a[sort-class="p.price-DESC"].selected,
#sha-sort a[sort-class="p.price-ASC"].selected,
#sha-sort a[sort-class="p.date_added-DESC"].selected
 {
  display: inline-block;
  color: #FFF;
  background: #7b589c;
  background: -moz-linear-gradient(top, #7b589c, #acacac);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #7b589c), color-stop(1, #7b589c));
  border-radius: 25px !important;
  padding-left: 10px;
  padding-right: 10px;
  filter: ;
  progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#7b589c', endColorstr='#acacac');
  -ms-filter: ;
  "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7b589c',endColorstr='#acacac')";
  -moz-border-radius: 25px !important;
  -webkit-border-radius: 25px !important;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -webkit-filter: ;
  progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#7b589c', endColorstr='#acacac');
  -ms-border-radius: 25px !important;
  -o-border-radius: 25px !important;
}

width:14px;
height:14px;
margin-right:4px;
margin-bottom:-2px;
margin-top:4px;
display:block;
float:left
}

#sha-sort a[sort-class="pd.name-ASC"] span {
  background-position: 0 -28px
}

#sha-sort a[sort-class="p.price-ASC"] span {
  background-position: 0 -42px
}

#sha-sort a[sort-class="rating-DESC"] span {
  background-position: 0 -14px
}

#sha-sort a[sort-class="pd.name-ASC"].next-selected span,
#sha-sort a[sort-class="p.price-ASC"].next-selected span,
#sha-sort a[sort-class="rating-DESC"].next-selected span,
#sha-sort a[sort-class="p.model-ASC"].next-selected span {
  background-position: 0 -56px
}

#sha-sort a[sort-class="pd.name-DESC"] span,
#sha-sort a[sort-class="p.price-DESC"] span,
#sha-sort a[sort-class="rating-DESC"].selected+a[sort-class="rating-ASC"] span,
#sha-sort a[sort-class="p.model-ASC"].selected+a[sort-class="p.model-DESC"] span {
  background-position: -14px -56px
}

#sha-sort a[sort-class="p.model-ASC"] span {
  background-position: 0 0
}

#sha-sort a[sort-class="p.sort_order-ASC"] {
  /* display:none */
}