.ms-container{}
.ms-main-block{
	margin-bottom: 100px;
}
.ms-center-main-block{
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.ms-button_container{}
.ms-button_order{
	display: inline-block;
    background-color: #7b589c;
    padding: 13px 46px;
    color: #ffffff;
    text-align: center;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.ms-button_order:hover{
	color: #ffffff;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

@media screen and (max-width: 768px){
	.ms-main-block{
		margin-bottom: 60px;
	}
}

.ms-sentence{}
.ms-title-line{
	display: flex;
	margin-bottom: 50px;
	color: #212121;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
}
.ms-title-line:before,
.ms-title-line:after{
	content: "";
	flex-grow: 100;
	display: block;
	height: 1px;
	margin-top: 15px;
	background-color: #ebebeb;
}
.ms-title-line span{
	padding: 0 30px;
	min-width: 350px;
	max-width: 100%;
}
.ms-title-line-short{
	margin-bottom: 30px;
}
.ms-sentence_tab{}
.ms-sentence_tab_panel{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}
.ms-sentence_tab_panel_item{
	padding: 12px 18px;
	margin: 0 20px;
	color: #212121;
	font-size: 16px;
	line-height: 1;
	text-align: center;
	border-radius: 50px;
	background-color: transparent;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.ms-sentence_tab_panel_item:hover,
.ms-sentence_tab_panel_item.active{
	background-color: #7b589c;
	color: #ffffff;
}
.ms-sentence_tab_content{}
.ms-sentence_tab_content_item{
	display: none;
}
.ms-sentence_tab_content_item.active{
	display: block;
}
.ms-sentence_tab_content_item_controls{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 50px;
}
.ms-sentence_tab_content_item_control_arrow{
	display: inline-block;
	cursor: pointer;
}
.ms-sentence_tab_content_item_control_arrow img{
	display: block;
	width: 38px;
	height: 17px;
}
.ms-sentence_tab_content_item_control_arrow-right img{
	transform: scale(-1,1);
}
.ms-sentence_tab_content_item_control_number{
	display: inline-block;
	margin: 0 20px;
	font-family: "Open Sans", "Roboto", sans-serif;
	color: #bdbdbd;
	font-size: 18px;
	line-height: 1;
}
.ms-sentence_tab_content_item_control_number_first{
	color: #212121;
}
.ms-sentence_tab_content_item_control_number_second{}
.ms-sentence_tab_content_item_slider{}
.ms-sentence_tab_content_item .pr_elect_item{
	width: calc((100% - 90px) / 4)
}
.ms-sentence_slider_container .owl-buttons{}
.ms-sentence_slider_container .order_slider_arrow{
	display: none;
}
.ms-sentence_slider_container .order_slider_arrow:before,
.ms-sentence_slider_container .order_slider_arrow:after{
	display: none;
}
.ms-sentence_slider_container .owl-pagination{
	display: none;
}
.ms-sentence .ms-button_container{
	margin-top: 20px;
	text-align: center;
}

.ms-info_item{
	display: flex;
	flex-direction: column;
	width: calc((100% - 60px) / 3);
	border: 1px solid #e8e8e8;
}
.ms-info_item_top{
	border-bottom: 1px solid #e8e8e8;
}
.ms-info_item_top figure{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 77%;
}
.ms-info_item_top figure img{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.ms-info_item_bottom{
	flex-grow: 100;
	padding: 20px 24px;
	color: #757575;
	font-size: 14px;
}
.ms-info_item_bottom_title{
	margin-bottom: 20px;
	color: #7b589c;
	font-size: 16px;
	font-weight: 500;
}
.ms-info_item_bottom_data{
	margin-bottom: 20px;
}


@media screen and (max-width: 992px){
	.ms-sentence_tab_content_item .pr_elect_item{
		width: 49%;
	}
	.ms-info_item{
		width: 49%;
	}
}

@media screen and (max-width: 768px){
	.ms-title-line{
		justify-content: center;
		margin-bottom: 40px;
	}
	.ms-title-line:before,
	.ms-title-line:after{
		display: none;
	}
	.ms-title-line span{
		min-width: 0;
		padding: 0;
	}
	.ms-sentence_tab_panel{
		margin-bottom: 20px;
	}
	.ms-sentence_tab_panel_item{
		padding: 6px 6px;
		margin: 0 2px;
		font-size: 13px;
	}
	.ms-sentence_tab_content_item_controls{
		display: none;
	}	
	.ms-sentence_slider_container .owl-pagination{
		display: block;
	}
	.ms-sentence_tab_content_item .pr_elect_item{
		width: 100%;
	}
	.ms-info_item{
		width: 100%;
	}
	.ms-sentence .ms-button_container{
		margin-top: 40px;
	}
}


.rekl_block{
	padding: 100px 0;
	background-color: #eff2f2;
}
.rekl_container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2%;
	padding-left: 60px;
}
.rekl_logotype{
	grid-column: 1/2;
	grid-row: 1/2;
	width: 100%;
	max-width: 220px;
	margin-bottom: 20px;
}
.rekl_logotype img{
	display: block;
	max-width: 100%;
}
.rekl_image{
	grid-column: 2/3;
	grid-row: 1/3;
	display: flex;
	align-items: center;
	height: 100%;
}
.rekl_image img{
	max-width: 100%;
}
img.rekl_image_mobile{
	display: none;
}
.rekl_content{
	grid-column: 1/2;
	grid-row: 2/3;
}
.rekl_content:before{
	content: "";
	display: block;
	height: 2px;
	width: 130px;
	background-color: #ffa700;
}
.rekl_text{
	margin-top: 50px;
	color: #7b589c;
	font-size: 24px;
	font-weight: 900;
	text-transform: uppercase;
}
.rekl_button{
	margin-top: 80px;
}
.rekl_button .ms-button_order{
	min-width: 310px;
	text-transform: uppercase;
}

@media screen and (max-width: 768px){
	.rekl_block{
		padding: 60px 0;
	}
	.rekl_container{
		display: block;
		padding-left: 0;
	}
	.rekl_logotype{		
		display: flex;
		justify-content: center;
		width: 100%;
		max-width: 100%;
	}
	.rekl_image{
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 40px auto;
	}
	img.rekl_image_desktop{
		display: none;
	}
	img.rekl_image_mobile{
		display: block;
	}
	.rekl_content{
		text-align: center;
	}
	.rekl_content:before{
		margin: 0 auto;
	}
	.rekl_text{
		margin-top: 30px;
		font-size: 16px;
	}
	.rekl_text br{
		display: none;
	}
	.rekl_button{
		margin-top: 40px;
	}
	.rekl_button .ms-button_order{
		min-width: 0;
		width: 310px;
		max-width: 100%;
	}
}


.company_block{}
.company_content{
	margin-top: 80px;
	margin-bottom: 110px;
	color: #757575;
	font-size: 14px;
}
.company_content a{
	font-weight: 500;
	text-decoration: underline;
}
.company_content a:hover{
	text-decoration: none;
}
.company_signature{}
.company_signature svg{
	display: block;
	max-width: 100%;
	margin-left: auto;
}

@media screen and (max-width: 768px){
	.company_content{
		margin-top: 40px;
		margin-bottom: 0;
	}
	.company_signature svg{
		display: none;
	}
}


.nv_block{
	padding-top: 30px;
}
.nv_container{
	display: flex;
}
.nv_left{
	width: 300px;
	min-width: 300px;
	padding-right: 30px;
}
.nv_logo{
	display: none;
	margin-bottom: 30px; 
}
.nv_logo img{
	display: block;
	width: 130px;
	max-width: 100%;
	margin: 0 auto;
}
.nv_menu_switch{
	display: none;
	text-align: center;
}
.nv_menu_switcher{
	position: relative;
	display: inline-block;
	padding: 14px 50px;
	background-color: #7b589c;
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	border-radius: 50px;
}
.nv_menu_switcher:hover{
	color: #ffffff;
}
.nv_menu_switcher:after{
	content: "";
	position: absolute;
	top: 50%;
	right: 30px;
	display: inline-block;
	border-left: 8px solid #ffa700;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transition: all 0.2s ease-in-out;
}
.nv_menu_switcher.active:after{
	transform: translateY(-50%) rotate(90deg);
	-webkit-transform: translateY(-50%) rotate(90deg);
}
.nv_menu_switcher span{}
.nv_menu{
	padding: 0 0 10px 10px;
	box-shadow: -3px -3px 3px 0 rgba(111,104,104,0.1);
}
.nv_menu_box{}
.nv_menu_item{
	position: relative;
	padding: 20px 20px 20px 30px;
	margin-bottom: 2px;
	background-color: #e8e8e8;
	color: #212121;
	font-size: 14px;
	border-top: 2px solid #dddddd;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.nv_menu_item:before,
.nv_menu_item:after{
	content: "";
	position: absolute;
	top: 24px;
	right: 12px;
	display: inline-block;
	width: 3px;
	height: 12px;
	background-color: #8b6da7;
	border-radius: 2px;
	transform: translateY(-3px) rotate(-45deg);
	transition: all 0.2s ease-in-out;
}
.nv_menu_item:after{
	transform: translateY(3px) rotate(45deg);
}
.nv_menu_item.active{
	background-color: #7b589c;
	color: #ffffff;
}
.nv_menu_item.active:before,
.nv_menu_item.active:after{
	right: 15px;
	background-color: #ffffff;
}
.nv_menu_item.active:after{
	top: 18px;
    right: 8px;
}
.nv_item_text{}
.nv_menu_list{
	display: none;
	padding-top: 30px;
	padding-left: 20px;
}
.nv_menu_link{
	display: block;
	margin-bottom: 10px;
	color: #ffffff;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}
.nv_menu_link:hover{
	color: #ffa700;
	text-decoration: underline;
}

.nv_right{
	width: calc(100% - 300px);
}
.nv_slider{
	box-shadow: 0 0 7px 0 rgba(33,33,33,0.13);
}
.nv_slider .owl-pagination{
	top: -30px;
	height: 0;
}
.nv_slider .owl-buttons{
	display: none;
}
.nv_slide{
	background-size: cover;
	background-position: center right;
	background-repeat: no-repeat;
}
.nv_slide_content{
	width: 50%;
	padding: 60px 0 0 60px;
	margin-bottom: 60px;
}
.nv_slide_title{
	margin-bottom: 30px;
	color: #7b589c;
	font-size: 33px;
	font-weight: 900;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.nv_slide_undertitle{
	color: #212121;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
}
.nv_slide_price{
	position: relative;
	padding-top: 50px;
	font-weight: 900;
	overflow: hidden;
}
.nv_slide_price:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 400px;
	height: 400px;
	background-color: #ffa700;
	border-radius: 50%;
	transform: translate(-60px,0);
}
.nv_slide_price_old{
	position: absolute;
	top: 0;
	left: 260px;
	z-index: 4;
	display: inline-block;
	color: rgba(33,33,33,0.5);
	font-size: 12px;
	line-height: 1;
}
.nv_slide_price_old:after{
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #ffa700;
}
.nv_slide_price_old b{
	font-weight: 900;
	font-size: 18px;
}
.nv_slide_price_new{
	position: relative;
	z-index: 4;
	padding-left: 70px;
	color: #ffffff;
	font-size: 24px;
}
.nv_slide_price_new b{
	font-weight: 900;
	font-size: 48px;
}

.nv_right_box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.nv_right_item{
	width: calc(50% - 12px);
	margin-top: 24px;
	box-shadow: 0 0 7px 0 rgba(33,33,33,0.1);
}
.nv_right_item_banner{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #ececed;
}
.nv_right_item_banner img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.nv_right_button_box{
	display: none;
	margin-top: 50px;
	text-align: center;
}
.nv_right_button{
	display: inline-block;
	padding: 16px 30px;
	background-color: #f6f6f6;
	color: #7b589c;
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 50px;
	border: 1px solid #ededed;
}
.nv_right_button:hover{
	color: #7b589c;
	text-decoration: none;
}

@media screen and (max-width: 992px){
	.nv_container{
		display: block;
	}
	.nv_left{
		width: 100%;
		min-width: 0;
		padding-right: 0;
		padding-bottom: 20px;
	}
	.nv_logo{
		display: block;
	}
	.nv_menu_switch{
		display: block;
	}
	.nv_menu{
		display: none;
		margin-top: 20px;
		padding: 0;
	}
	.nv_right{
		width: 100%;
	}
	.nv_right_button_box{
		display: block;
	}
}
@media screen and (max-width: 768px){
	.nv_slider{
		margin-bottom: 30px!important;
	}
	.nv_slide{
		position: relative;
	}
	.nv_slide:before{
		content: "";
		position: absolute;
		top: 0;
	    left: 0;
		display: block; 
	    width: 100%;
	    height: 100%;
	    background-color: rgba(255,255,255,0.5);
	}
	.nv_slide_content{
		position: relative;
		z-index: 4;
		width: 100%;
		padding: 30px 20px 10px;
		margin-bottom: 0;
	}
	.nv_slide_title{
		margin-bottom: 14px;
		font-size: 16px;
	}
	.nv_slide_undertitle{
		font-size: 12px;
	}
	.nv_slide_price:before{
		width: 160px;
		height: 160px;
		transform: translate(-10px,20px);
	}
	.nv_slide_price_old{
		top: auto;
	    left: 170px;
	    bottom: 24px;
	    margin-bottom: 0;
		font-size: 12px;
	}
	.nv_slide_price_old b{
		font-size: 14px;
	}
	.nv_slide_price_new{
		padding-left: 36px;
		font-size: 12px;
	}
	.nv_slide_price_new b{
		font-size: 18px;
	}
	.nv_right_item{
		width: 100%;
		margin-top: 14px;
	}
	.nv_slider .owl-pagination{
		top: 10px;
	}
}


.ms-video_block{
    max-width: 100vw;
	overflow: hidden;
}
.ms-video_panel{
	position: relative;
	padding-bottom: 90px;
}
.ms-video_title{
	position: relative;
	color: #363636;
	font-size: 24px;
	font-weight: 900;
	letter-spacing: 0.07em;
	text-transform: uppercase;
}
.ms-video_title:after{
	content: "";
	display: block;
	height: 2px;
	width: 130px;
	margin-top: 10px;
	background-color: #ffa700;
}
.ms-video_yb{
	position: absolute;
	left: 0;
	bottom: 0;
}
.ms-video_yb img{
	display: block;
	width: auto;
	height: 76px;
	max-width: 100%;
}
.ms-video_block .ms-sentence_tab_content_item_controls{
	margin-top: -40px;
	margin-bottom: 150px;
}
.ms-video_slider{
	position: relative;
	width: 100%;
	max-width: 810px;
	margin: 150px auto 110px!important;
}
.ms-video_slider:before{
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	display: block;
	width: 100vw;
	height: calc(100% + 140px);
	background-color: #7b589c;
	border-radius: 250px;
	transform: translate(88%,-50%);
}
.ms-video_slider.owl-carousel .owl-wrapper-outer{
	position: relative;
	z-index: 10;
	overflow: visible;
}
.ms-video_slider .owl-item{
	opacity: 0.6;
	transform: scale(0.73);
}
.owl-item.active{
	opacity: 1;
	transform: none;
}
.ms-video_item{
	width: 100%;
}
.ms-video_item_box{
	width: 100%;
}
.ms-video_item_box figure{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}
.ms-video_item_box figure iframe{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
    height: 100%;
}
.ms-video_button_box{
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}
.ms-video_button{
	display: inline-block;
	min-width: 290px;
	padding: 20px;
	background-color: #ffa700;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 50px;
	transition: all 0.2s ease-in-out;
}
.ms-video_button:hover{
	color: #ffffff;
	text-decoration: none;
	transform: scale(1.1);
}

@media screen and (max-width: 992px){
	.ms-video_panel{
		padding-bottom: 0;
	}
	.ms-video_yb{
		display: none;
	}
	.ms-video_block .ms-sentence_tab_content_item_controls{
		display: none;
	}
	.ms-video_slider:before{
		display: none;
	}
	.ms-video_slider{
		margin: 30px auto!important;
	}
}


.ms-recently{}
.ms-recently_box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.ms-recently_item{
	display: flex;
	width: calc((100% - 60px) / 3);
	margin-bottom: 30px;
	border: 1px solid #e8e8e8;
}
.ms-recently_image{
	flex-basis: 150px;
}
.ms-recently_image figure{
	position: relative;
	height: 100%;
}
.ms-recently_image figure img{
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	max-height: 100%;
	max-width: 100%;
	transform: translate(-50%,-50%);
}
.ms-recently_content{
	padding: 20px;
	font-weight: 500;
}
.ms-recently_content_title{
	margin-bottom: 20px;
	color: #7b589c;
	font-size: 16px;
	text-transform: uppercase;
}
.ms-recently_price{
	margin-bottom: 4px;
	color: #f24841;
	font-size: 14px;
}
.ms-recently_price b{
	font-size: 16px;
	font-weight: 600;
}

@media screen and (max-width: 768px){
	.ms-recently{
		display: none;
	}
}


.ms-discount_block{}
.ms-discount_panel{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 22px;
}
.ms-discount_title{
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 40px;
	color: #7b589c;
	font-size: 20px;
	font-weight: 400;
	line-height: 1;
}
.ms-discount_code{
	margin-bottom: 0;
	color: #757575;
	font-size: 14px;
}
.ms-discount_panel_number{
	display: none;
	color: #bababa;
	font-size: 20px;
	line-height: 1;
}
.ms-discount{
	display: flex;
	align-items: center;
	width: 100%;
	padding: 18px 0;
	color: #212121;
}
.ms-discount_item{
	display: flex;
	align-items: center;
}
.ms-discount_item_image{
	width: 160px;
	min-width: 160px;
	margin-right: 24px;
}
.ms-discount_item_image figure{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	border: 1px solid #e8e8e8;
}
.ms-discount_item_image figure img{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.ms-discount_item_text{
	font-weight: 500;
}
.ms-discount_item_link{
	color: #7b589c;
}
.ms-discount_item_price{
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 500;
}
.ms-discount_item_price_first{
	position: relative;
	display: inline-block;
	color: #757575;
}
.ms-discount_item_price_first:after{
	content: "";
	position: absolute;
	top: 50%;
	left: -5px;
	display: inline-block;
	width: calc(100% + 10px);
	height: 1px;
	background-color: #ffa700;
}
.ms-discount_item_price_first b{
	font-weight: 500;
}
.ms-discount_item_price_second{
	display: block;
	color: #f26022;
}
.ms-discount_item_price_second b{
	font-size: 23px;
	font-weight: 900;
}
.ms-discount_sign{
	margin: 0 15px;
}
.ms-discount_sign-plus{
	position: relative;
	width: 18px;
	height: 18px;
}
.ms-discount_sign-plus:before,
.ms-discount_sign-plus:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	height: 18px;
	display: block;
	width: 18px;
	height: 4px;
	background-color: #ffa700;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.ms-discount_sign-plus:after{
	width: 4px;
	height: 18px;
}
.ms-discount_sign-equally{}
.ms-discount_sign-equally:before,
.ms-discount_sign-equally:after{
	content: "";
	display: block;
	width: 16px;
	height: 3px;
	margin-bottom: 4px;
	background-color: #ffa700;
}
.ms-discount_sign-plus:after{
	margin-bottom: 0;
}
.ms-discount_item-final{
	flex-direction: column;
	align-items: center;
}
.ms-discount_item_fprice{
	margin-bottom: 24px;
	font-size: 18px;
}
.ms-discount_item_fprice b{
	font-size: 23px;
	font-weight: 900;
}
.ms-discount_item_redact{
	display: none;
	padding: 10px 20px;
	margin: 0 auto 20px;
	background-color: #ffffff;
	text-align: center;
}
.ms-discount_item_redact a{
	color: #212121;
	font-size: 14px;
}
.ms-discount_item_fbutton{
	text-align: center;
}
.ms-discount_item_fbutton a{
	display: inline-block;
	min-width: 170px;
	padding: 12px 10px;
	background-color: #ffa700;
	color: #ffffff;
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	border-radius: 50px;
	cursor: pointer;
}
.ms-discount_item_fbutton a:hover{
	color: #ffffff;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

@media screen and (max-width: 1100px){
	.ms-discount_block{
		padding-top: 18px;
		background-color: #f3f3f3;
	}
	.ms-discount_panel{
		margin-bottom: 10px;
	}
	.ms-discount_title{
		padding-left: 0;
	}
	.ms-discount_code{
		display: none;
	}
	.ms-discount_panel_number{
		display: block;
	}
	.ms-discount{
		flex-wrap: wrap;
		align-items: stretch;
	}
	.ms-discount_item{
		margin-bottom: 20px;
		width: calc(50% - 20px);
	}
	.ms-discount_item-final{
		width: 100%;
		margin-bottom: 0;
	}
	.ms-discount_sign{
		margin: auto 10px;
	}
	.ms-discount_sign-equally{
		display: none;
	}
	.ms-discount_item_redact{
		display: block;
	}
	.ms-discount_item_fprice{
		margin-bottom: 15px;
	}
}
@media screen and (max-width: 768px){
	.ms-discount_item{
		flex-direction: column;
		align-items: flex-start;
	}
	.ms-discount_item-final{
		align-items: center;
	}
	.ms-discount_item_image{
		max-width: 100%;
		min-width: 0;
		margin-right: 0;
		margin-bottom: 14px;
	}
}


.ms-info{}
.ms-info_tabs{
	display: flex;
	border-bottom: 1px solid #e8e8e8;
}
.ms-info_tab{
	display: block;
	padding: 12px 24px;
	margin: 0 20px;
	color: #212121;
	font-size: 16px;
	line-height: 1;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.ms-info_tab:hover,
.ms-info_tab.active{
	background-color: #ebebeb;
}
.ms-info_contents{}
.ms-info_content{
	display: none;
	padding-top: 30px;
}
.ms-info_content_head{
	position: relative;
	display: none;
	padding: 20px 30px 20px 24px;
	background-color: #e8e8e8;
	cursor: pointer;
}
.ms-info_content_head:after{
	content: "";
	position: absolute;
	top: 50%;
	right: 22px;
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-left: 9px solid #757575;
	border-bottom: 6px solid transparent;
	transform: translateY(-50%);
	transition: all 0.2s ease-in-out;
}
.ms-info_content.active .ms-info_content_head:after{	
	transform: translateY(-50%) rotate(-90deg);
}
.ms-info_content_text{
	display: flex;
	align-items: center;
	color: #212121;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
}
.ms-info_content_text_title{}
.ms-info_content_text_number{
	display: inline-block;
	padding-left: 0.6em;
	color: #7b589c;
}
.ms-info_content.active{
	display: block;
}
.ms-info_har_box{
	margin-bottom: 30px;
}
.ms-info_har{
	display: flex;
	color: #727272;
	font-size: 14px;
}
.ms-info_har_title{
	display: block;
	width: 250px;
	min-width: 250px;
}
.ms-info_har_text{
	display: block;
	color: #7b589c;
}
.ms-info_content .ms-button_container{
	text-align: center;
}

@media screen and (max-width: 768px){
	.ms-info{
		margin-bottom: 0;
	}
	.ms-info .ms-center-main-block{
		padding-left: 0;
		padding-right: 0;
	}
	.ms-info_tabs{
		display: none;
	}
	.ms-info_content{
		display: block;
		padding-top: 0;
		margin-top: 2px;
	}
	.ms-info_content_head{
		display: block;
	}
	.ms-info_content_body{
		display: none;		
		padding: 30px 15px;
	}
	.ms-info_content.active .ms-info_content_body{
		display: block;
	}
	.ms-info_har_title{
		width: 130px;
		min-width: 130px;
	}
}




.ms-info_q_container{
	padding-top: 30px;
}
.ms-info_q_button_container{
	margin-bottom: 34px;
}
.ms-info_q_button_box{
	text-align: center;
}
.ms-info_q_button_box .ms-button_order{
	text-transform: uppercase;
}
.ms-info_q_box{}
.ms-info_q_item{
	display: flex;
	padding: 46px 12px 40px;
	color: #757575;
	border-bottom: 1px solid #ebebeb;
}
.ms-info_q_box .ms-info_q_item:nth-of-type(n + 2){
	padding-left: 100px;
}
.ms-info_q_image{
	width: 68px;
	height: 68px;
	min-width: 68px;
	margin-right: 30px;
	background-color: #ebebeb;
}
.ms-info_q_image img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.ms-info_q_content{
	flex-grow: 100;
}
.ms-info_q_header{
	margin-bottom: 15px;
}
.ms-info_q_tense{
	font-size: 12px;
	line-height: 18px;
}
.ms-info_q_name{
	display: inline-block;
	margin-right: 10px;
	color: #7b589c;
	font-size: 14px;
}
.ms-info_q_date{
	display: inline-block;
	min-width: 100px;
	padding: 0 10px;
	color: #838383;
	text-align: center;
}
.ms-info_q_plash{
	display: inline-block;
	padding: 2px 12px;
	margin-left: 10px;
	background-color: #7dc855;
	color: #ffffff;
	border-radius: 2px;
}
.ms-info_q_plash-a{
	background-color: #ffa700;
}
.ms-info_q_text{}
.ms-info_q_bottom{
	margin-top: 30px;
}
.ms-info_q_rating{
	display: flex;
	align-items: center;
}
.ms-info_q_rating_text{}
.ms-info_q_rating_buttons{
	display: flex;
	margin-right: 60px;
	color: #bdbdbd;
}
.ms-info_q_rating_button{
	display: flex;
	align-items: center;
	margin-left: 40px;
	cursor: pointer;
}
.ms-info_q_rating_button img{
	display: block;
	transform: translateY(-1px);
	-webkit-transform: translateY(-1px);
}
.ms-info_q_rating_button span{
	display: inline-block;
	margin-left: 10px;
}
.ms-info_q_answer{}
.ms-info_q_answer_link{
	padding: 5px 20px;
}
.ms-info_q_answer_box{
	display: none;
}
.ms-info_q_answer_field{
	margin-top: 20px;
}
.ms-info_q_answer_field textarea{
	width: 100%;
	min-height: 100px;
	padding: 14px 16px;
	background-color: #f8f8fa;
	border-radius: 4px;
	border: 1px solid #ecedee;
	resize: none;
}
.ms-info_q_answer_button{
	margin-top: 36px;
	text-align: right;
}

.ms-info_o_title{
	margin: 18px 0 24px;
	padding-left: 40px;
	color: #7b589c;
	font-size: 20px;
	font-weight: 400;
}
.ms-info_o_box{}
.ms-info_o_box .ms-info_q_item{
	border-bottom: none;
}
.ms-info_o_form{
	padding: 40px 14px;
	border: 1px solid #ebebeb;
}
.ms-info_o_form_title{
	margin-bottom: 30px;
	color: #757575;
	font-size: 14px;
	font-weight: 500;
}
.ms-info_o_form_box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.ms-info_o_form_item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 29%;
	margin-bottom: 20px;
}
.ms-info_o_form_item-full{
	width: 100%;
}
.ms-info_o_form_item input,
.ms-info_o_form_item textarea{
	width: 100%;
	padding: 12px 18px;
	background-color: #f8f8fa;
	font-size: 14px;
	line-height: 16px;
	border-radius: 2px;
	border: 1px solid #ecedee;
	outline: none;
}
.ms-info_o_form_item textarea{
	min-height: 100px;
	resize: none;
}
.ms-info_o_form_star_title{
	color: #757575;
	font-size: 14px;
	font-weight: 500;
}
.ms_stars{
	display: flex;
	margin-top: 10px;
}
.ms_star{
	display: inline-block;
	width: 17px;
	height: 16px;
	background-image: url(../img/star-full.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.ms_star-half{
	background-image: url(../img/star-half.svg);
}
.ms_star input{
	display: none;
}
.ms-info_o_form_item .ms_stars{
	margin: 0 30px 0 10px;
}
.ms-info_o_form_item .ms_star{
	filter: grayscale(1);
	opacity: 0.7;
}
.ms-info_o_form_item .ms_star.active{
	filter: grayscale(0);
	opacity: 1;
}
.ms-info_o_form_button_box{
	width: 100%;
	margin-top: 20px;
	text-align: center;
}
.ms-info_o_form_button_box button{
	text-transform: uppercase;
}

@media screen and (max-width: 786px){
	.ms-info_q_item{
		padding: 24px 12px 14px;
	}
	.ms-info_q_box .ms-info_q_item:nth-of-type(n + 2){
		padding-left: 12px;
	}
	.ms-info_q_plash{
		margin: 10px auto 0 0;
	}
	.ms-info_q_rating{
		justify-content: space-between;
		flex-wrap: wrap;
		width: calc(100% + 98px);
		margin-left: -98px;
		margin-top: 20px;
	}
	.ms-info_q_rating_text,
	.ms-info_q_rating_buttons,
	.ms-info_q_answer_link{
		margin-bottom: 10px;
	}
	.ms-info_q_answer{
		width: calc(100% + 98px);
		margin-left: -98px;
	}
	.ms-info_q_rating_buttons{
		margin-right: 0;
	}
	.ms-info_q_rating_button{
		margin-left: 20px;
	}
	.ms-info_q_answer{
		text-align: right;
	}
	.ms-info_q_answer_button{
		margin-top: 16px;
	}
	.ms-info_o_title{
		padding-left: 0;
	}
	.ms-info_o_form_item{
		width: 100%;
	}
}


.ms-basis{}
.ms-basis_container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 14px;
	border: 1px solid #e8e8e8;
}
.ms-basis_images{
	display: flex;
	width: 49%;
}
.ms-basis_images_column{
	width: 16%;
	min-width: 16%;
	margin-right: 14px;
}
.ms-basis_images_column_item{
	margin-bottom: 8px;
}
.ms-basis_images_column_item:last-of-type{
	margin-bottom: 0;
}
.ms-basis_images_column_item figure{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 117%;
}
.ms-basis_images_column_item figure img{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	max-width: 100%;
	object-fit: cover;
	object-position: center;
	cursor: pointer;
	border: 1px solid #ebebeb;
	transition: all 0.2s ease-in-out;
}
.ms-basis_images_column_item figure img.active{
	border-color: #ffbe44;
}
.ms-basis_images_main{
	flex-grow: 100;
}
.ms-basis_images_main figure{
	position: relative;
	width: 100%;
	height: 100%;
}
.ms-basis_images_main figure img{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	max-width: 100%;
	object-fit: cover;
	object-position: center;
	border: 1px solid #ebebeb;
}
.ms-basis_images_main_plash{
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	min-width: 60px;
	font-size: 12px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
}
.ms-basis_images_main_plash_first{
	display: block;
	padding: 12px 6px;
	background-color: #f26022;
	color: #ffffff;
}
.ms-basis_images_main_plash_second{
	display: block;
	padding: 10px 6px;
	background-color: #ffffff;
	color: #f26022;
	font-family: "Open Sans", "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 600;
	border: 1px solid #ebebeb;
}
.ms-basis_content{
	width: 49%;
}
.ms-basis_content_top{}
.ms-basis_content_middle{}
.ms-basis_content_bottom{}