.ms-container{}
.ms-main-block{
	margin-bottom: 100px;
}
.ms-center-main-block{
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.ms-button_container{}
.ms-button_order{
	display: inline-block;
    background-color: #7b589c;
    padding: 13px 46px;
    color: #ffffff;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.ms-button_order:hover{
	color: #ffffff;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

@media screen and (max-width: 768px){
	.ms-main-block{
		margin-bottom: 60px;
	}
}

.ms-sentence{}
.ms-title-line{
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	color: #212121;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
}
.ms-title-line:before,
.ms-title-line:after{
	content: "";
	flex-grow: 100;
	display: block;
	height: 1px;
	background-color: #ebebeb;
}
.ms-title-line span{
	padding: 0 30px;
	min-width: 350px;
	max-width: 100%;
}
.ms-sentence_tab{}
.ms-sentence_tab_panel{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}
.ms-sentence_tab_panel_item{
	padding: 12px 18px;
	margin: 0 20px;
	color: #212121;
	font-size: 16px;
	line-height: 1;
	text-align: center;
	border-radius: 50px;
	background-color: transparent;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.ms-sentence_tab_panel_item:hover,
.ms-sentence_tab_panel_item.active{
	background-color: #7b589c;
	color: #ffffff;
}
.ms-sentence_tab_content{}
.ms-sentence_tab_content_item{
	display: none;
}
.ms-sentence_tab_content_item.active{
	display: block;
}
.ms-sentence_tab_content_item_controls{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 50px;
}
.ms-sentence_tab_content_item_control_arrow{
	display: inline-block;
	cursor: pointer;
}
.ms-sentence_tab_content_item_control_arrow img{
	display: block;
	width: 38px;
	height: 17px;
}
.ms-sentence_tab_content_item_control_arrow-right img{
	transform: scale(-1,1);
}
.ms-sentence_tab_content_item_control_number{
	display: inline-block;
	margin: 0 20px;
	font-family: "Open Sans", "Roboto", sans-serif;
	color: #bdbdbd;
	font-size: 18px;
	line-height: 1;
}
.ms-sentence_tab_content_item_control_number_first{
	color: #212121;
}
.ms-sentence_tab_content_item_control_number_second{}
.ms-sentence_tab_content_item_slider{}
.ms-sentence_tab_content_item .pr_elect_item{
	width: calc((100% - 90px) / 4)
}
.ms-sentence_slider_container .owl-buttons{}
.ms-sentence_slider_container .order_slider_arrow{
	display: none;
}
.ms-sentence_slider_container .order_slider_arrow:before,
.ms-sentence_slider_container .order_slider_arrow:after{
	display: none;
}
.ms-sentence_slider_container .owl-pagination{
	display: none;
}
.ms-sentence .ms-button_container{
	margin-top: 20px;
	text-align: center;
}

.ms-info_item{
	display: flex;
	flex-direction: column;
	width: calc((100% - 60px) / 3);
	border: 1px solid #e8e8e8;
}
.ms-info_item_top{
	border-bottom: 1px solid #e8e8e8;
}
.ms-info_item_top figure{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 77%;
}
.ms-info_item_top figure img{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.ms-info_item_bottom{
	flex-grow: 100;
	padding: 20px 24px;
	color: #757575;
	font-size: 14px;
}
.ms-info_item_bottom_title{
	margin-bottom: 20px;
	color: #7b589c;
	font-size: 16px;
	font-weight: 500;
}
.ms-info_item_bottom_data{
	margin-bottom: 20px;
}


@media screen and (max-width: 992px){
	.ms-sentence_tab_content_item .pr_elect_item{
		width: 49%;
	}
	.ms-info_item{
		width: 49%;
	}
}

@media screen and (max-width: 768px){
	.ms-title-line{
		justify-content: center;
		margin-bottom: 40px;
	}
	.ms-title-line:before,
	.ms-title-line:after{
		display: none;
	}
	.ms-title-line span{
		min-width: 0;
		padding: 0;
	}
	.ms-sentence_tab_panel{
		margin-bottom: 20px;
	}
	.ms-sentence_tab_panel_item{
		padding: 6px 6px;
		margin: 0 2px;
		font-size: 13px;
	}
	.ms-sentence_tab_content_item_controls{
		display: none;
	}	
	.ms-sentence_slider_container .owl-pagination{
		display: block;
	}
	.ms-sentence_tab_content_item .pr_elect_item{
		width: 100%;
	}
	.ms-info_item{
		width: 100%;
	}
}


.rekl_block{
	padding: 100px 0;
	background-color: #eff2f2;
}
.rekl_container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2%;
	padding-left: 60px;
}
.rekl_logotype{
	grid-column: 1/2;
	grid-row: 1/2;
	width: 100%;
	max-width: 220px;
	margin-bottom: 20px;
}
.rekl_logotype img{
	display: block;
	max-width: 100%;
}
.rekl_image{
	grid-column: 2/3;
	grid-row: 1/3;
	display: flex;
	align-items: center;
	height: 100%;
}
.rekl_image img{
	max-width: 100%;
}
img.rekl_image_mobile{
	display: none;
}
.rekl_content{
	grid-column: 1/2;
	grid-row: 2/3;
}
.rekl_content:before{
	content: "";
	display: block;
	height: 2px;
	width: 130px;
	background-color: #ffa700;
}
.rekl_text{
	margin-top: 50px;
	color: #7b589c;
	font-size: 24px;
	font-weight: 900;
	text-transform: uppercase;
}
.rekl_button{
	margin-top: 80px;
}
.rekl_button .ms-button_order{
	min-width: 310px;
	text-transform: uppercase;
}

@media screen and (max-width: 768px){
	.rekl_block{
		padding: 60px 0;
	}
	.rekl_container{
		display: block;
		padding-left: 0;
	}
	.rekl_logotype{		
		display: flex;
		justify-content: center;
		width: 100%;
		max-width: 100%;
	}
	.rekl_image{
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 40px auto;
	}
	img.rekl_image_desktop{
		display: none;
	}
	img.rekl_image_mobile{
		display: block;
	}
	.rekl_content{
		text-align: center;
	}
	.rekl_content:before{
		margin: 0 auto;
	}
	.rekl_text{
		margin-top: 30px;
		font-size: 16px;
	}
	.rekl_text br{
		display: none;
	}
	.rekl_button{
		margin-top: 40px;
	}
	.rekl_button .ms-button_order{
		min-width: 0;
		width: 310px;
		max-width: 100%;
	}
}


.company_block{}
.company_content{
	margin-top: 80px;
	margin-bottom: 110px;
	color: #757575;
	font-size: 14px;
}
.company_content a{
	font-weight: 500;
	text-decoration: underline;
}
.company_content a:hover{
	text-decoration: none;
}
.company_signature{}
.company_signature svg{
	display: block;
	max-width: 100%;
	margin-left: auto;
}

@media screen and (max-width: 768px){
	.company_content{
		margin-top: 40px;
		margin-bottom: 0;
	}
	.company_signature svg{
		display: none;
	}
}


.nv_block{
	padding-top: 30px;
}
.nv_container{
	display: flex;
}
.nv_left{
	width: 300px;
	min-width: 300px;
	padding-right: 30px;
}
.nv_logo{
	display: none;
	margin-bottom: 30px; 
}
.nv_logo img{
	display: block;
	width: 130px;
	max-width: 100%;
	margin: 0 auto;
}
.nv_menu_switch{
	display: none;
	text-align: center;
}
.nv_menu_switcher{
	position: relative;
	display: inline-block;
	padding: 14px 50px;
	background-color: #7b589c;
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	border-radius: 50px;
}
.nv_menu_switcher:hover{
	color: #ffffff;
}
.nv_menu_switcher:after{
	content: "";
	position: absolute;
	top: 50%;
	right: 30px;
	display: inline-block;
	border-left: 8px solid #ffa700;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transition: all 0.2s ease-in-out;
}
.nv_menu_switcher.active:after{
	transform: translateY(-50%) rotate(90deg);
	-webkit-transform: translateY(-50%) rotate(90deg);
}
.nv_menu_switcher span{}
.nv_menu{
	padding: 0 0 10px 10px;
	box-shadow: -3px -3px 3px 0 rgba(111,104,104,0.1);
}
.nv_menu_box{}
.nv_menu_item{
	position: relative;
	padding: 20px 20px 20px 30px;
	margin-bottom: 2px;
	background-color: #e8e8e8;
	color: #212121;
	font-size: 14px;
	border-top: 2px solid #dddddd;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.nv_menu_item:before,
.nv_menu_item:after{
	content: "";
	position: absolute;
	top: 24px;
	right: 12px;
	display: inline-block;
	width: 3px;
	height: 12px;
	background-color: #8b6da7;
	border-radius: 2px;
	transform: translateY(-3px) rotate(-45deg);
	transition: all 0.2s ease-in-out;
}
.nv_menu_item:after{
	transform: translateY(3px) rotate(45deg);
}
.nv_menu_item.active{
	background-color: #7b589c;
	color: #ffffff;
}
.nv_menu_item.active:before,
.nv_menu_item.active:after{
	right: 15px;
	background-color: #ffffff;
}
.nv_menu_item.active:after{
	top: 18px;
    right: 8px;
}
.nv_item_text{}
.nv_menu_list{
	display: none;
	padding-top: 30px;
	padding-left: 20px;
}
.nv_menu_link{
	display: block;
	margin-bottom: 10px;
	color: #ffffff;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}
.nv_menu_link:hover{
	color: #ffa700;
	text-decoration: underline;
}

.nv_right{
	width: calc(100% - 300px);
}
.nv_slider{
	box-shadow: 0 0 7px 0 rgba(33,33,33,0.13);
}
.nv_slider .owl-pagination{
	top: -30px;
	height: 0;
}
.nv_slider .owl-buttons{
	display: none;
}
.nv_slide{
	background-size: cover;
	background-position: center right;
	background-repeat: no-repeat;
}
.nv_slide_content{
	width: 50%;
	padding: 60px 0 0 60px;
	margin-bottom: 60px;
}
.nv_slide_title{
	margin-bottom: 30px;
	color: #7b589c;
	font-size: 33px;
	font-weight: 900;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.nv_slide_undertitle{
	color: #212121;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
}
.nv_slide_price{
	position: relative;
	padding-top: 50px;
	font-weight: 900;
	overflow: hidden;
}
.nv_slide_price:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 400px;
	height: 400px;
	background-color: #ffa700;
	border-radius: 50%;
	transform: translate(-60px,0);
}
.nv_slide_price_old{
	position: absolute;
	top: 0;
	left: 260px;
	z-index: 4;
	display: inline-block;
	color: rgba(33,33,33,0.5);
	font-size: 12px;
	line-height: 1;
}
.nv_slide_price_old:after{
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #ffa700;
}
.nv_slide_price_old b{
	font-weight: 900;
	font-size: 18px;
}
.nv_slide_price_new{
	position: relative;
	z-index: 4;
	padding-left: 70px;
	color: #ffffff;
	font-size: 24px;
}
.nv_slide_price_new b{
	font-weight: 900;
	font-size: 48px;
}

.nv_right_box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.nv_right_item{
	width: calc(50% - 12px);
	margin-top: 24px;
	box-shadow: 0 0 7px 0 rgba(33,33,33,0.1);
}
.nv_right_item_banner{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #ececed;
}
.nv_right_item_banner img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.nv_right_button_box{
	display: none;
	margin-top: 50px;
	text-align: center;
}
.nv_right_button{
	display: inline-block;
	padding: 16px 30px;
	background-color: #f6f6f6;
	color: #7b589c;
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 50px;
	border: 1px solid #ededed;
}
.nv_right_button:hover{
	color: #7b589c;
	text-decoration: none;
}

@media screen and (max-width: 992px){
	.nv_container{
		display: block;
	}
	.nv_left{
		width: 100%;
		min-width: 0;
		padding-right: 0;
		padding-bottom: 20px;
	}
	.nv_logo{
		display: block;
	}
	.nv_menu_switch{
		display: block;
	}
	.nv_menu{
		display: none;
		margin-top: 20px;
		padding: 0;
	}
	.nv_right{
		width: 100%;
	}
	.nv_right_button_box{
		display: block;
	}
}
@media screen and (max-width: 768px){
	.nv_slider{
		margin-bottom: 30px!important;
	}
	.nv_slide{
		position: relative;
	}
	.nv_slide:before{
		content: "";
		position: absolute;
		top: 0;
	    left: 0;
		display: block; 
	    width: 100%;
	    height: 100%;
	    background-color: rgba(255,255,255,0.5);
	}
	.nv_slide_content{
		position: relative;
		z-index: 4;
		width: 100%;
		padding: 30px 20px 10px;
		margin-bottom: 0;
	}
	.nv_slide_title{
		margin-bottom: 14px;
		font-size: 16px;
	}
	.nv_slide_undertitle{
		font-size: 12px;
	}
	.nv_slide_price:before{
		width: 160px;
		height: 160px;
		transform: translate(-10px,20px);
	}
	.nv_slide_price_old{
		top: auto;
	    left: 170px;
	    bottom: 24px;
	    margin-bottom: 0;
		font-size: 12px;
	}
	.nv_slide_price_old b{
		font-size: 14px;
	}
	.nv_slide_price_new{
		padding-left: 36px;
		font-size: 12px;
	}
	.nv_slide_price_new b{
		font-size: 18px;
	}
	.nv_right_item{
		width: 100%;
		margin-top: 14px;
	}
	.nv_slider .owl-pagination{
		top: 10px;
	}
}


.ms-video_block{
    max-width: 100vw;
	overflow: hidden;
}
.ms-video_panel{
	position: relative;
	padding-bottom: 90px;
}
.ms-video_title{
	position: relative;
	color: #363636;
	font-size: 24px;
	font-weight: 900;
	letter-spacing: 0.07em;
	text-transform: uppercase;
}
.ms-video_title:after{
	content: "";
	display: block;
	height: 2px;
	width: 130px;
	margin-top: 10px;
	background-color: #ffa700;
}
.ms-video_yb{
	position: absolute;
	left: 0;
	bottom: 0;
}
.ms-video_yb img{
	display: block;
	width: auto;
	height: 76px;
	max-width: 100%;
}
.ms-video_block .ms-sentence_tab_content_item_controls{
	margin-top: -40px;
	margin-bottom: 150px;
}
.ms-video_slider{
	position: relative;
	width: 100%;
	max-width: 810px;
	margin: 150px auto 110px!important;
}
.ms-video_slider:before{
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	display: block;
	width: 100vw;
	height: calc(100% + 140px);
	background-color: #7b589c;
	border-radius: 250px;
	transform: translate(88%,-50%);
}
.ms-video_slider.owl-carousel .owl-wrapper-outer{
	position: relative;
	z-index: 10;
	overflow: visible;
}
.ms-video_slider .owl-item{
	opacity: 0.6;
	transform: scale(0.73);
}
.owl-item.active{
	opacity: 1;
	transform: none;
}
.ms-video_item{
	width: 100%;
}
.ms-video_item_box{
	width: 100%;
}
.ms-video_item_box figure{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}
.ms-video_item_box figure iframe{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
    height: 100%;
}
.ms-video_button_box{
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}
.ms-video_button{
	display: inline-block;
	min-width: 290px;
	padding: 20px;
	background-color: #ffa700;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 50px;
	transition: all 0.2s ease-in-out;
}
.ms-video_button:hover{
	color: #ffffff;
	text-decoration: none;
	transform: scale(1.1);
}

@media screen and (max-width: 992px){
	.ms-video_panel{
		padding-bottom: 0;
	}
	.ms-video_yb{
		display: none;
	}
	.ms-video_block .ms-sentence_tab_content_item_controls{
		display: none;
	}
	.ms-video_slider:before{
		display: none;
	}
	.ms-video_slider{
		margin: 30px auto!important;
	}
}
@media screen and (max-width: 768px){}