.pr_container{
	width: 100%;
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
	color: #212121;
	font-weight: 400;
}
.pr_row{
	display: flex;
	flex-wrap: wrap;
}
.pr_title{
	position: relative;
	width: 100%;
	margin-bottom: 50px;
	font-size: 24px;
	font-weight: 500;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
}
.pr_title:before{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 4;
	display: block;
	width: 100%;
	height: 1px;
	background-color: #e8e8e8;
}
.pr_title span{
	position: relative;
	z-index: 10;
	display: inline-block;
	padding: 0 70px;
	background-color: #ffffff;
}

.pr_aside{
	width: 220px;
	min-width: 220px;
}
.pr_aside_info{
	background-color: #f9f7f7;
}
.pr_aside_person{
	padding: 45px 30px 30px;
	text-align: center;
}
.pr_aside_person_photo{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}
.pr_aside_person_photo img{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}
.pr_aside_person_photo_add{
	position: absolute;
	right: -5px;
	bottom: 5px;
	display: block;
	width: 46px;
	height: 46px;
	cursor: pointer;
}
.pr_aside_person_photo_add img{
	display: block;
	width: 100%;
	text-align: center;
}
.pr_aside_person_name{
	margin-top: 24px;
	font-size: 14px;
	line-height: 18px;
}

.pr_aside_menu{
	padding: 0 10px 20px 30px;
	text-align: left;
}
.pr_aside_menu_punkt{
	display: block;
	margin-bottom: 16px;
	color: inherit;
	font-size: 12px;
	line-height: 16px;
	text-transform: uppercase;
	cursor: pointer;
}
.pr_aside_menu_punkt:last-of-type{
	margin-bottom: 0;
}


.pr_content{
	width: calc(100% - 250px);
	padding-left: 30px;
}


.pr_data{}
.pr_data_item{
	padding: 5px 50px;
	margin-bottom: 30px;
	background-color: #f9f7f7;
	color: #34373d;
	font-size: 14px;
	line-height: 18px;
}
.pr_data_row{
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	border-bottom: 1px solid #e1e1e1;
}
.pr_data_row:last-of-type{
	border-bottom: none;
}
.pr_data_cl{}
.pr_data_cl-1{
	width: 185px;
	min-width: 185px;
	padding-right: 10px;
}
.pr_data_cl-2{
	flex-grow: 100;
}
.pr_data_cl-3{}
.pr_data_cl_title{
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	text-transform: uppercase;
}
.pr_data_cl_link,
.pr_data_cl_link:visited{
	color: #ffa700;
	line-height: 24px;
	text-decoration: underline;
	cursor: pointer;
}
.pr_data_cl_link:hover,
.pr_data_cl_link:focus,
.pr_data_cl_link:active{
	color: #ffa700;
}
.pr_data_cl_item{
	display: flex;
	margin-bottom: 4px;
}
.pr_data_cl_item:last-of-type{
	margin-bottom: 0;
}
.pr_data_cl_item_left{
	width: 185px;
	min-width: 185px;
	padding-right: 10px;
}
.pr_data_cl_item_right{
	color: #757575;
}
.pr_data p{}
.pr_data p:last-of-type{
	margin-bottom: 0;
}
.pr_data_cl_item_link{
	display: inline-block;
	margin-top: 4px;
	text-decoration: underline;
}
.pr_data_cl_button{
	display: inline-block;
	background-color: #7b589c;
	padding: 13px 46px;
	color: #ffffff;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
.pr_data_cl_button:hover{
	color: #ffffff;
	transform: scale(1.1);
}


.pr_testimonials{
	margin-bottom: 140px;
}
.pr_testimonials_title{
	font-size: 14px;
	line-height: 22px;
	font-weight: 500;
	text-transform: uppercase;
}
.pr_testimonials_box{
	margin-top: 50px;
}
.pr_testimonials_item{
	display: flex;
	padding: 46px 12px 16px;
	color: #757575;
	border-top: 1px solid #ebebeb;
}
.pr_testimonials_image{
	width: 68px;
	height: 68px;
	min-width: 68px;
	margin-right: 30px;
}
.pr_testimonials_image img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border: 1px solid #e8e8e8;
}
.pr_testimonials_content{}
.pr_testimonials_header{
	margin-bottom: 18px;
}
.pr_testimonials_tense{}
.pr_testimonials_date{
	display: inline-block;
	min-width: 110px;
	padding-right: 10px;
}
.pr_testimonials_time{
	display: inline-block;
	color: #7b589c;
}
.pr_stars{
	margin-top: 10px;
}
.pr_star{
	display: inline-block;
	width: 17px;
	height: 16px;
	background-image: url(../img/star-full.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.pr_star-half{
	background-image: url(../img/star-half.svg);
}
.pr_testimonials_text{}
.pr_testimonials_bottom{}
.pr_testimonials_rating{
	display: flex;
	align-items: center;
	margin-top: 30px;
}
.pr_testimonials_rating_text{}
.pr_testimonials_rating_buttons{
	color: #bdbdbd;
}
.pr_testimonials_rating_button{
	display: inline-flex;
	align-items: center;
	margin-left: 40px;
	cursor: pointer;
}
.pr_testimonials_rating_button img{
	display: block;
	transform: translateY(-1px);
	-webkit-transform: translateY(-1px);
}
.pr_testimonials_rating_button span{
	display: inline-block;
	margin-left: 10px;
}
.pr_testimonials_answer{}
.pr_testimonials_answer_link{
	color: #7b589c;
	text-decoration: underline;
	cursor: pointer;
}
.pr_testimonials_answer_link:hover,
.pr_testimonials_answer_link:active,
.pr_testimonials_answer_link:focus,
.pr_testimonials_answer_link:visited{
	color: #7b589c;
}
.pr_testimonials_answer_box{
	display: none;
}
.pr_testimonials_answer_field{
	margin-top: 20px;
}
.pr_testimonials_answer_field textarea{
	width: 100%;
	min-height: 100px;
	padding: 14px 16px;
	background-color: #f8f8fa;
	border-radius: 4px;
	border: 1px solid #ecedee;
	resize: none;
}
.pr_testimonials_answer_button{
	margin-top: 36px;
	text-align: right;
}
.pr_button{
	display: inline-block;
	padding: 14px 16px;
	background-color: #7b589c;
	color: #ffffff;
	font-size: 12px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	border-radius: 50px;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
.pr_button:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}


.pr_subs{
	margin-bottom: 80px;
}
.pr_subs_title{
	font-size: 14px;
	line-height: 22px;
	font-weight: 500;
	text-transform: uppercase;
}
.pr_subs_box{
	display: flex;
	justify-content: space-between;
	margin: 40px 0 50px;
}
.pr_subs_item{
	width: calc(50% - 15px);
	padding: 30px;
	color: #757575;
	background-color: #f9f7f7;
}
.pr_subs_item-full{
	width: 100%;
}
.pr_subs_item_title{
	margin-bottom: 26px;
	color: #7b589c;
	font-weight: 500;
	text-transform: uppercase;
}
.pr_subs_item_list{}
.pr_subs_item_list_item{
	position: relative;
	display: block;
	padding-top: 2px;
	padding-left: 37px;
	margin-bottom: 30px;
	cursor: pointer;
}
.pr_subs_item_list_item input{
	display: none;
}
.pr_subs_item_list_item .input_emulate{
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 22px;
	height: 22px;
	background-color: #fdfdfd;
	text-align: center;
	border-radius: 2px;
	border: 2px solid #e3e4eb;
}
.pr_subs_item_list_item .input_emulate:after{
	content: "\f00c";
	color: transparent;
	font-family: "FontAwesome";
	font-size: 14px;
	line-height: 18px;
}
.pr_subs_item_list_item input:checked+.input_emulate:after{
	color: #7b589c;	
	-webkit-transition: all 0.2s ease-in-out;
}
.pr_subs_item_form{}
.pr_subs_item_form_title{
	margin-bottom: 0;
	color: #34373d;
	font-weight: 500;
	text-transform: uppercase;
}
.pr_subs_item_form_field{
	margin: 40px 0;
}
.pr_subs_item_form_field input{
	width: 100%;
	padding: 15px 25px;
	background-color: #ffffff;
	line-height: 1;
	border-radius: 2px;
	border: 1px solid #e8e8e8;
}
.pr_subs_item_form_button{
	margin: 30px auto 10px;
	text-align: center;
}
.pr_subs_soc{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;
}
.pr_subs_soc_item{
	display: flex;
	width: calc((100% - 60px) / 3);
	padding: 10px 18px;
	background-color: #e8e8e8;
	border-radius: 50px;
}
.pr_subs_soc_item figure{
	margin-right: 16px;
}
.pr_subs_soc_item figure img{
	display: block;
	height: 31px;
}
.pr_subs_soc_item figcaption{
	color: #212121;
	font-weight: 500;
	line-height: 1;
}
.pr_subs_soc_item_name{
	display: block;
	margin-bottom: 4px;
}
.pr_subs_soc_item_butt{
	display: block;
	color: #7b589c;
	text-decoration: underline;
	cursor: pointer;
}


.pr_elect{
	margin-bottom: 230px;
}
.pr_elect_title{
	margin-bottom: 36px;
	font-size: 14px;
	line-height: 22px;
	font-weight: 500;
	text-transform: uppercase;
}
.pr_elect_box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.pr_elect_item{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: calc((100% - 70px) / 3);
	margin-bottom: 30px;
	background-color: #ffffff;
	color: #212121;
	border: 1px solid #ebebeb;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
.pr_elect_item:hover{
	box-shadow: 0 0 6px 0 rgba(183,183,183,0.7);	
}
.pr_elect_image{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 130%;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
.pr_elect_item:hover .pr_elect_image{
	box-shadow: 0 4px 4px 0 rgba(183,183,183,0.3);
}
.pr_elect_image img{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	max-width: 100%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.pr_elect_image .pr_stars{
	position: absolute;
	top: 14px;
	left: 14px;
	margin-top: 0;
}
.pr_elect_plash{
	position: absolute;
	top: 0;
	right: 0;
	min-width: 76px;
	max-width: 50%;
	padding: 6px 16px;
	background-color: #7dc855;
	color: #ffffff;
	font-size: 12px;
	line-height: normal;
	text-transform: uppercase;
	border-radius: 0 0 0 10px;
}
.pr_elect_plash span{}
.pr_elect_close{
	position: absolute;
	top: 4px;
	right: 6px;
	display: none;
	width: 31px;
	height: 31px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
.pr_elect_close:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.pr_elect_item:hover .pr_elect_close{
	display: block;
}
.pr_elect_close img{
	display: block;
	width: 100%;
	height: 100%;
}
.pr_elect_descr{
	flex-grow: 100;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 18px 13px 20px 20px;
	font-weight: 500;
	border-top: 1px solid #ebebeb;
}
.pr_elect_descr_top{
	flex-grow: 100;
}
.pr_elect_descr_bottom{
	font-size: 18px;
}
.pr_elect_price{
	display: flex;
	justify-content: space-between;
}
.pr_elect_price_full{
	display: inline-block;
	position: relative;
}
.pr_elect_price_full:after{
	content: "";
	position: absolute;
	top: calc(50% + 2px);
	left: -7px;
	display: block;
	width: calc(100% + 14px);
	height: 1px;
	background-color: #f26022;
}
.pr_elect_price_full b{
	font-size: 23px;
	font-weight: 900;
}
.pr_elect_price_now{
	display: inline-block;
	color: #f26022;
}
.pr_elect_price_now b{	
	font-size: 23px;
	font-weight: 900;
}
.pr_elect_button{
	margin-top: 16px;
	padding: 0 15px;
	text-align: center;
}
.pr_elect_button a{
	display: inline-block;
	width: 100%;
	padding: 15px 10px;
	background-color: #ffa700;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	line-height: 1;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
.pr_elect_button a:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}


.pr_history{
	margin-bottom: 170px;
}
.pr_history_title{
	padding-left: 50px;
	margin-bottom: 16px;
	font-size: 14px;
	line-height: 22px;
	font-weight: 500;
	text-transform: uppercase;
}
.pr_history_panel{
	display: flex;
	align-items: center;
	margin: 16px 12px;
	font-weight: 500;
	text-align: center;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}
.pr_history_panel_item{
	padding: 14px 10px;
}
.pr_history_panel_item:nth-of-type(1){
	width: 163px;
	min-width: 163px;
	padding-right: 22px;
}
.pr_history_panel_item:nth-of-type(2){
	width: 235px;
	min-width: 235px;
}
.pr_history_panel_item:nth-of-type(3){
	width: 15.6%;
	min-width: 15.6%;
}
.pr_history_panel_item:nth-of-type(4){
	width: 15.6%;
	min-width: 15.6%;
}
.pr_history_panel_item:nth-of-type(5){
	flex-grow: 100;
	padding-right: 48px;
}
.pr_history_box{
	margin-top: 12px;
}
.pr_history_item{}
.pr_history_item_head{
	display: flex;
	align-items: center;
	background-color: #ebebeb;
	text-align: center;
}
.pr_history_item:nth-of-type(2n + 2) .pr_history_item_head{
	background-color: #ffffff;
}
.pr_history_item_head_cl{
	padding: 23px 0 18px;
}
.pr_history_item_head_cl:nth-of-type(1){
	width: 175px;
	min-width: 175px;
}
.pr_history_item_head_cl:nth-of-type(2){
	width: 235px;
	min-width: 235px;
}
.pr_history_item_head_cl:nth-of-type(3){
	width: 15.6%;
	min-width: 15.6%;
}
.pr_history_item_head_cl:nth-of-type(4){
	width: 15.6%;
	min-width: 15.6%;
}
.pr_history_item_head_cl:nth-of-type(5){
	flex-grow: 100;
	padding-right: 60px;
}
.pr_history_item_head_cl a{
	color: #7b589c;
	text-decoration: underline;
	cursor: pointer;
}
.pr_history_item_head_cl a:hover{
	color: #7b589c;
}
.pr_history_item_head_cl-text-succ{
	color: #ffa700;
}
.pr_history_butt_off{
	display: none;
}
.pr_history_item_body{
	display: none;
	border: 1px solid #ebebeb;
}
.pr_history_item_row{
	display: flex;
	border-bottom: 1px solid #ebebeb;
}
.pr_history_item_row:last-of-type{
	border-bottom: none;
}
.pr_history_item_cl{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 25px 0 20px;
	text-align: center;	
}
.pr_history_item_cl-img{
	width: 175px;
	min-width: 175px;
	padding-left: 20px;
	padding-right: 20px;
}
.pr_history_item_cl-img figure{
	position: relative;
	width: 100%;
	height: 100%;
}
.pr_history_item_cl-img figure img{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	max-width: 100%;
	object-fit: cover;
	object-position: center;
}
.pr_history_item_cl-descr{
	width: 235px;
	min-width: 235px;
	text-align: left;
}
.pr_history_item_descr{
	line-height: 24px;
}
.pr_history_item_descr p:last-of-type{
	margin-bottom: 0;
}
.pr_history_item_descr_b{
	font-weight: 500;
}
.pr_history_item_descr_l{
	color: #7b589c;
}
.pr_history_item_cl-status{
	width: 15.6%;
	min-width: 15.6%;
}
.pr_history_item_status_text{
	color: #757575;
}
.pr_history_item_status_text-succ{
	color: #ffa700;
}
.pr_history_item_cl-price{
	width: 15.6%;
	min-width: 15.6%;
}
.pr_history_item_cl-amount{
	flex-grow: 100;
	padding-right: 60px;
}


.popup_container{
	position: fixed;
	top: -200%;
	left: 0;
	z-index: 10000;
	width: 100%;
	height: 100%;
	min-width: 100vw;
	min-height: 100vh;
	opacity: 0;
}
.popup_container.active{
	top: 0;
	opacity: 1;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
.popup_background{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
}
.popup_content{
	position: relative;
	z-index: 20;
	width: calc(100% - 40px);
	height: calc(100% - 80px);
	max-width: 1180px;
	margin: 40px auto;
	background-color: #ffffff;
	color: #212121; 
	overflow: auto;
	border-radius: 10px;
}
.popup{
	position: relative;
	padding: 50px;
}
.popup_close{
	position: absolute;
	top: 13px;
	right: 32px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.popup_close:hover{
	transform: scale(1.1);
}
.popup_close img{
	display: block;
	width: 17px;
}
.popup_title{
	margin-bottom: 20px;
	font-size: 24px;
	line-height: 1;
	text-align: center;
}


.order_box{
	margin-top: 45px; 
}
.order_item{
	position: relative;
	display: flex;
	align-items: center;
	padding: 18px 30px 18px 50px;
	border-bottom: 1px solid #e8e8e8;
}
.order_item:hover{
	background-color: #f4f3f3;
	transition: all 0.2s ease-in-out;
}
.order_item_close{
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.order_item_close:hover{
	transform: scale(1.1);
}
.order_item_close img{
	display: block;
	width: 12px;
}
.order_image{
	width: 84px;
	height: 100%;
	min-height: 100px;
	margin-right: 20px;
}
.order_image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.order_descr{
	flex-grow: 100;
	font-weight: 500;
}
.order_descr_top{}
.order_descr_link{
	color: #7b589c;
}
.order_descr_bottom{
	margin-top: 20px;
	font-size: 18px;
}
.order_descr_price{
	color: #ffa700;
}
.order_code{
	width: 23%;
	color: #757575;
}
.order_change{
	display: flex;
	align-items: center;
}
.order_change_butt{
	position: relative;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #ffffff;
	border: 1px solid #dedede;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
.order_change_butt:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.order_change_butt span:before,
.order_change_butt span:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	display: inline-block;
	width: 8px;
	height: 3px;
	background-color: #757575;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.order_change_butt-plus{
	background-color: #ffa700;
	border-color: #ffa700;
}
.order_change_butt-plus span:before,
.order_change_butt-plus span:after{
	width: 13px;
	height: 3px;
	background-color: #ffffff;
}
.order_change_butt-plus span:after{
	width: 3px;
	height: 13px;
}
.order_change_number{
	display: inline-block;
	min-width: 37px;
	color: #7b589c;
	font-size: 18px;
	font-weight: 500;
	text-align: center; 
}
.order_price{
	width: 160px;
	min-width: 160px;
	font-size: 18px;
	font-weight: 500;
	text-align: right;
}

.order_bottom{
	margin-top: 32px;
}
.order_bottom_price{
	font-size: 18px;
	font-weight: 500;
	text-align: right;
}
.order_bottom_price_number{
	display: inline-block;
	margin-left: 60px;
}
.order_bottom_buttons{
	padding-left: 74px;
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.order_bottom_button{
	display: inline-block;
	padding: 11px 20px;
	color: #7b589c;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	border-radius: 50px;
	border: 1px solid #7b589c;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
.order_bottom_button:hover{
	color: #7b589c;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.order_bottom_button-fill{
	background-color: #7b589c;
	color: #ffffff;
	text-transform: uppercase;
}
.order_bottom_button-fill:hover{
	color: #ffffff;	
}

.order_slider_container{
	width: calc(100% + 32px);
	padding: 40px 30px 0;
	margin-top: 60px;
	margin-left: -32px;
	border-top: 1px solid #e8e8e8;
}
.order_slider_container_title{
	margin-bottom: 32px;
	color: #7b589c;
	font-size: 20px;
	line-height: 20px;

}
.order_slider{}
.order_slide{
	display: flex;
	align-items: center;
	width: 100%;
	padding: 18px 0;
}
.order_slide_item{
	display: flex;
	align-items: center;
}
.order_slide_item_image{
	width: 160px;
	min-width: 160px;
	margin-right: 24px;
}
.order_slide_item_image figure{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	border: 1px solid #e8e8e8;
}
.order_slide_item_image figure img{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.order_slide_item_text{
	font-weight: 500;
}
.order_slide_item_link{
	color: #7b589c;
}
.order_slide_item_price{
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 500;
}
.order_slide_item_price_first{
	position: relative;
	display: inline-block;
	color: #757575;
}
.order_slide_item_price_first:after{
	content: "";
	position: absolute;
	top: 50%;
	left: -5px;
	display: inline-block;
	width: calc(100% + 10px);
	height: 1px;
	background-color: #ffa700;
}
.order_slide_item_price_first b{
	font-weight: 500;
}
.order_slide_item_price_second{
	display: block;
	color: #f26022;
}
.order_slide_item_price_second b{
	font-size: 23px;
	font-weight: 900;
}
.order_slide_sign{
	margin: 0 15px;
}
.order_slide_sign-plus{
	position: relative;
	width: 18px;
	height: 18px;
}
.order_slide_sign-plus:before,
.order_slide_sign-plus:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	height: 18px;
	display: block;
	width: 18px;
	height: 4px;
	background-color: #ffa700;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.order_slide_sign-plus:after{
	width: 4px;
	height: 18px;
}
.order_slide_sign-equally{}
.order_slide_sign-equally:before,
.order_slide_sign-equally:after{
	content: "";
	display: block;
	width: 16px;
	height: 3px;
	margin-bottom: 4px;
	background-color: #ffa700;
}
.order_slide_sign-plus:after{
	margin-bottom: 0;
}
.order_slide_item-final{
	flex-direction: column;
	align-items: center;
}
.order_slide_item_fprice{
	margin-bottom: 24px;
	font-size: 18px;
}
.order_slide_item_fprice b{
	font-size: 23px;
	font-weight: 900;
}
.order_slide_item_fbutton{
	text-align: center;
}
.order_slide_item_fbutton a{
	display: inline-block;
	min-width: 170px;
	padding: 12px 10px;
	background-color: #ffa700;
	color: #ffffff;
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	border-radius: 50px;
	cursor: pointer;
}
.order_slide_item_fbutton a:hover{
	color: #ffffff;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.order_slider .owl-pagination{
	display: none;
}