.tesmpage {
  .frontblock-heading {
    max-width: none;
    font-size: 3.5rem;
    @media only screen and (max-width: $large-xl) {
      font-size: 2.5rem;
    }
    @media only screen and (max-width: $large) {
      font-size: 2rem;
    }
  }
  .backblock-heading {
    top: auto;
    bottom: 1rem;
  }
  .firstblock {
    min-height: 400px;
    .head-part {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      height: 400px;
    }
  }
}
.tesmimg-list {
  align-items: stretch;
  .tesmimg_item {
    padding: 15px;
    .item-info {
      border: 1px solid #DEDEDE;
      padding: 1.5rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      .img__part {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex: 1;
        .item__img {

        }
      }
      .item__head {
        font-size: 1.3rem;
        text-align: center;
        font-family: $font-open;
        margin: 0.75rem 0;
      }
      .item__info {
        font-size: 0.75rem;
        line-height: 1.5;
        color: #B5B4B4;
        text-align: center;
        font-family: $font-open;
        margin-bottom: 0;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}
