@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: inherit;
  word-break: break-word;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.4) transparent;
}
*::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.4);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
html{}
body{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  color: #0a0a0a;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
/*body:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
body.no-preloader:after{
    width: 0;
    height: 0;
    opacity: 0;
    animation: no-preloader 1s;
    animation-fill-mode: forwards;
}
@keyframes no-preloader{
    0%{width: 100%; height: 100%; opacity: 1;}
    99%{width: 100%; height: 100%; opacity: 0;}
    100%{width: 0; height: 0; opacity: 0;}
}*/
#root{
  flex-grow: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;    
}
h1,h2,h3,h4,h5,h6{
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 1.2;
}
h1{
  font-size: 50px;
}
h2{
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
}
h3{
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 40px;
}
h4{
  font-size: 24px;
  line-height: 34px;
}
h5{
  font-size: 20px;
  line-height: 30px;
}
h6{
  font-size: 18px;
  line-height: 28px;
}
img,
svg{
  max-width: 100%;
  border-style: none;
}
p{
  margin-bottom: 0.75em;
}
p:last-of-type{
  margin-bottom: 0;
}
a{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus,
a:visited{
  text-decoration: none;
}
b{
  font-weight: 600;
}
ul,ol{
  padding-left: 1.2em;
  margin-bottom: 30px;
}
ul li,
ol li{
  margin-bottom: 20px;
}
label{
  cursor: pointer;
}
iframe{
  border: none;
  outline: none;
}
input,
textarea{
  display: block;
  padding: 14px;
  background-color: #ffffff;
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  outline: none;
  border-radius: 0;
  border: 2px solid #dbdbdb;
  transition: all 0.2s ease-in-out;
}
textarea{
  min-height: 100px;
  resize: none;
}
input.invalid,
textarea.invalid{
  border-color: #dd0000;
}
input:focus,
textarea:focus{
  outline: none;
  border-color: #0a0a0a;
}
input::placeholder,
textarea::placeholder{
  color: #919191;
  font-weight: 400;
}
input:hover::placeholder,
textarea:hover::placeholder{
  color: #5e5e5e;
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

@media screen and (max-width: 1199px){
    body{
        font-size: 14px;
        line-height: 1.57;
    }
    h1,h2,h3,h4,h5,h6{
        margin-bottom: 20px;
    }
    h1{
        font-size: 40px;
        line-height: 50px;
    }
    h2{
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 40px;
    }
    h3{
        font-size: 24px;
        line-height: 34px;
    }
    h4{
        font-size: 20px;
        line-height: 30px;
    }
    h5{
        font-size: 18px;
        line-height: 28px;
    }
    h6{
        font-size: 16px;
        line-height: 26px;
    }
}
@media screen and (max-width: 767px){    
    h1{
        font-size: 30px;
        line-height: 40px;
    }
    h2{
        font-size: 24px;
        line-height: 34px;
    }
    h3{
        font-size: 20px;
        line-height: 30px;
    }
    h4{
        font-size: 18px;
        line-height: 28px;
    }
    h5{
        font-size: 16px;
        line-height: 26px;
    }
    h6{
        font-size: 16px;
        line-height: 26px;
    }
}


.main{
  padding-top: 95px;
}
.main-block{
  padding: 80px 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.center-main-block{
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}
.preloader{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 1;
}
.preloader-hide{
  animation: preloaderHide 1s ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
@keyframes preloaderHide{
  0%{top: 0; opacity: 1}
  99%{top: 0; opacity: 0}
  100%{top: -200%; opacity: 0}
}
.preloader svg{
  display: block;
  width: 100px;
  height: auto;
  max-width: 100%;
}
.preloader-hide  svg{
  animation: preloaderHideSvg 1s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes preloaderHideSvg{
  0%{top: 0; opacity: 1}
  99%{top: 0; opacity: 0}
  100%{top: -200%; opacity: 0}
}

@media screen and (max-width: 1100px){
  .main{
    padding-top: 56px;
  }
}
@media screen and (max-width: 768px){
  .main-block{
    padding: 40px 0;
  }
}


@media screen and (min-width: 1100px){
  .observer{
    overflow: hidden;
  }
  .observer-active{}
  .observer_item{
    position: relative;
    top: -200vh;
    right: -200vw;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  .observer-active .observer_item{
    animation-name: observerItemLeft;
  }
  .observer-active .observer_item-right{
    animation-name: observerItemRight;
  }
  .observer-active .observer_item-top{
    animation-name: observerItemTop;
  }
  .observer-active .observer_item-bottom{
    animation-name: observerItemBottom;
  }
  .observer-active .observer_item-opacity{
    animation-name: observerItemOpacity;
  }
  @keyframes observerItemLeft{
    0%{top: 0; right: -200vw; opacity: 0;}
    90%{top: 0; right: 2vw; opacity: 1;}
    100%{top: 0; right: 0; opacity: 1;}
  }
  @keyframes observerItemRight{
    0%{top: 0; right: 200vw; opacity: 0;}
    90%{top: 0; right: -2vw; opacity: 1;}
    100%{top: 0; right: 0; opacity: 1;}
  }
  @keyframes observerItemTop{
    0%{top: -200vh; right: 0; opacity: 0;}
    90%{top: 2vh; right: 0; opacity: 1;}
    100%{top: 0; right: 0; opacity: 1;}
  }
  @keyframes observerItemBottom{
    0%{top: 200vh; right: 0; opacity: 0;}
    90%{top: -2vh; right: 0; opacity: 1;}
    100%{top: 0; right: 0; opacity: 1;}
  } 
  @keyframes observerItemOpacity{
    0%{top: 0; right: 0; opacity: 0;}
    100%{top: 0; right: 0; opacity: 1;}
  }  
}

@keyframes showOpacity{
  0%{opacity: 0}
  100%{opacity: 1}
}


.header-main{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0px 0px 10px 5px rgba(20,20,20,0.1);
}
.header-main .center-main-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.header_logo{
  width: 160px;
  min-width: 160px;
}
.header_logo img{
  display: block;
}
.header_switch{
  display: none;
  width: 40px;
}
.header_switch svg{
  width: 100%;
  height: auto;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out; 
}
.header_switch_open{
  display: block;  
}
.header_switch_close{
  display: none;
}
.header_switch.active .header_switch_open{
  display: none;
}
.header_switch.active .header_switch_close{
  display: block;
}
.header_content{
  display: flex;
  align-items: center;
}
.header_nav{}
.header_nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header_nav ul li{  
  padding: 0;
  margin-right: 18px;
  margin-bottom: 0;
}
.header_nav ul li:last-of-type{
  margin-right: 0;
}
.header_nav_link{
  position: relative;
  display: inline-block;
  padding: 5px 0 4px;
  text-transform: uppercase;
}
.header_nav_link:after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  transition: width 0.2s ease-in-out;
}
.header_nav_link.active:after,
.header_nav_link:hover:after{
  width: 100%;
}
.header_search{
  display: block;
  width: 22px;
  margin-left: 16px;
}
.header_search-m{
  display: none;
}
.header_search svg{
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.2s ease-in-out;
}
.header_search:hover svg{
  transform: scale(1.2)
}

@media screen and (max-width: 1100px){
  .header_logo{
    width: 80px;
    min-width: 80px;
  }
  .header_switch{
    display: block;
  }
  .header_content{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
    display: block;
    width: 100%;
    padding: 10px 10px;
    background-color: #ffffff;
    color: #0a0a0a;
    opacity: 0;
    overflow-y: auto;
    transform: translateY(100%);
  }
  .header_content.active{
    height: calc(100vh - 56px);
    opacity: 1;
    transition: height 0.2s linear, opacity 0.4s ease-in-out;
  }
  .header_nav ul{
    display: block;
  }
  .header_nav ul li{
    padding: 8px 0;
    margin-right: 0;
  }
  .header_search{
    width: 28px;
    margin-left: auto;
    margin-right: 16px;
  }
  .header_search-m{
    display: block;
  }
  .header_search-d{
    display: none;
  }
}


.footer-main{
  flex-grow: 100;
  padding: 40px 0;
  background-color: #efefef;
}
.footer-main .center-main-block{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_logo{
  width: 140px;
  margin-bottom: 20px;
}
.footer_logo img{
  display: block;
}
.footer_soc{
  display: flex;
  align-items: center;
}
.footer_soc_item{
  width: 36px;
  margin-right: 14px;
  transition: all 0.2s ease-in-out;
}
.footer_soc_item:last-of-type{
  margin-right: 0;
}
.footer_soc_item:hover{
  transform: scale(1.2);
}
.footer_soc_item svg{
  display: block;
  width: 100%;
  height: auto;
}
.footer_copyright{
  margin-top: 10px;
  opacity: 0.7;
  font-size: 0.9em;
}


.popup_container{
  position: fixed;
  top: -200%;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.popup_container.active{
  top: 0;
  opacity: 1;
  animation: popup_container 0.8s ease-in-out;
}
@keyframes popup_container{
  0%{top: -200%; opacity: 0};
  20%{top: 20%; opacity: 0};
  100%{top: 0%; opacity: 1};
}
.popup_background{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  cursor: pointer;
}
.popup{
  position: relative;
  z-index: 8;
  display: block;
  width: 100%;
  max-width: 600px;
  padding: 40px 20px;
  background-color: #ffffff;
  color: #0a0a0a;
}
.popup_close{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  display: block;
  width: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.popup_close svg{
  display: block;
  width: 100%;
  height: auto;
}


.slider_main{
    position: relative;
    width: 100%;
    padding: 0;
    overflow: hidden;
}
.slider_item{
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 95px);
  padding: 40px 10px;
  background-color: #c4c4c4;
  background-size: cover;
  color: #ffffff;
}
.slider_item:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
.slider_item_content{
  position: relative;
  z-index: 4;
  max-width: 600px;
  font-size: 18px;
  text-align: center;
}
.slider_item_title{
  margin-bottom: 20px;
  letter-spacing: 0.3em;
}
.slider_item_undertitle{}
.slider_item_href{
  margin-top: 24px;
}
.slider_item_href_item{
  display: inline-block;
  min-width: 140px;
  padding: 12px 18px;
  background-color: #ffffff;
  color: #0a0a0a;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.slider_item_href_item:hover{
  background-color: #0a0a0a;
  color: #ffffff;
}
.slider_item.active{
  display: flex;
  animation: slider_item 1s ease-in-out;
}
@keyframes slider_item{
  0%{opacity: 0.4};
  100%{opacity: 1};
}
.slider_trans{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  width: 100%;
  height: 100%;
}
.slider_trans-reverse{
  flex-direction: column;
}
.slider_trans_item{
  width: 100%;
  height: 100%;
  flex-grow: 100;
  background-color: #000;
  animation-name: slider_trans_item;
  animation-fill-mode: forwards;
}
@keyframes slider_trans_item{
  0%{transform: translateY(0);}
  100%{transform: translateY(-100%);}
}
.slider_trans-reverse .slider_trans_item{
  animation-name: slider_trans_item-reverse;  
}
@keyframes slider_trans_item-reverse{
  0%{transform: translateX(0);}
  100%{transform: translateX(100%);}
}
.slider_arrow{
  position: absolute;
  top: 50%;
  left: 20px;
  display: block;
  width: 30px;
  cursor: pointer;
  transform: translate(0,-50%);
  transition: all 0.2s ease-in-out;
}
.slider_arrow:hover{
  transform: translate(0,-50%) scale(1.2);
}
.slider_arrow-right{
  left: auto;
  right: 20px;
}
.slider_arrow svg{
  display: block;
  width: 100%;
  height: auto;
}
.slider_nav{
  position: absolute;
  left: 50%;
  bottom: 20px;
  display: flex;
  align-items: center;
  transform: translateX(-50%);
}
.slider_nav_item{
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 16px;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid #ffffff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.slider_nav_item:last-of-type{
  margin-right: 0;
}
.slider_nav_item.active,
.slider_nav_item:hover{
  background-color: #ffffff;
}

@media screen and (max-width: 768px){
  .slider_arrow{
    display: none;
  }
  .slider_item_content{
    font-size: 16px;
  }
}


.achiev_block{
  background-color: #0a0a0a;
  background-image: url('../img/bg-achiev.jpg');
  color: #ffffff;
}
.achiev_title{}
.achiev_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.achiev_item{
    flex-grow: 100;
    width: 25%;
    padding: 0 10px;
    opacity: 0;
    transition: all 1s ease-in-out;
}
.achiev_item.active{
    opacity: 1;
}
.achiev_item figure{
    width: 34px;
    margin: 0 auto 14px;
}
.achiev_item figure svg{
    display: block;
    width: 100%;
    height: auto;
}
.achiev_item_number{
    margin-bottom: 14px;
    font-size: 2em;
    font-weight: 500;
    line-height: 1;
}
.achiev_item_label{
    text-transform: uppercase;
}

@media screen and (max-width: 768px){
    .achiev_box{
        flex-direction: column;
    }
    .achiev_item{
        width: 100%;
        margin-bottom: 30px;
    }
    .achiev_item:last-of-type{
        margin-bottom: 0;
    }
}


.services_block{}
.services_block-full{
  background-image: linear-gradient(0deg, #f1f1f1, #ffffff)
}
.services_title{}
.services_box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -30px;
}
.services_item{
  width: calc((100% - 60px) / 3);
  margin-bottom: 30px;
  background-color: #0a0a0a;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.services_item_content{
  width: 100%;
  height: 100%;
  padding: 20px 20px 40px;
  background-color: rgba(0,0,0,0.6);
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.services_item_content:hover{
  background-color: rgba(0,0,0,0.8);
}
.services_item_top{
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 14px;
}
.services_item_top:after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  opacity: 0;
  transition: width 0.4s linear, opacity 1s ease-in-out;
}
.services_item:hover .services_item_top:after{
  width: 100%;
  opacity: 1;
}
.services_item_title{
  font-size: 18px;
}
.services_item_body{
  position: relative;
  left: 200%;
  opacity: 0;
  transition: left 0.4s linear, opacity 1s ease-in-out;
}
.services_item:hover .services_item_body{
  left: 0;
  opacity: 1;
}
.services_item_name{
  margin-bottom: 14px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
.services_list{}
.services_elem{
  margin-bottom: 30px;
  border: 1px solid rgba(0,0,0,0.4);
}
.services_elem:last-of-type{
  margin-bottom: 0;
}
.services_elem_content{
  display: flex;
  padding: 20px;
}
.services_elem_content_left{
  width: 300px;
  min-width: 300px;
  margin-right: 20px;
}
.services_elem_content_left figure{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%; 
  border: 1px solid rgba(0,0,0,0.2);
}
.services_elem_content_left figure img{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.services_elem_content_right{}
.services_elem_content_title{
  margin-bottom: 0.25em;
  font-size: 22px;
  font-weight: 600;
}
.services_elem_content_name{
  margin-bottom: 1.25em;
  font-size: 18px;
}

@media screen and (max-width: 1100px){
  .services_item{
    width: calc(50% - 15px);
  }
  .services_item_top:after{
    width: 100%;
    opacity: 1;
  }
  .services_item_body{
    left: 0;
    opacity: 1;
  }
}@media screen and (max-width: 768px){
  .services_box{
    flex-direction: column;
    align-items: center;
  }
  .services_item{
    width: 100%;
    max-width: 400px;
  }
  .services_item_content{
    min-height: 300px;    
  }
}


.prices_block{}
.prices_title{}
.prices_box{
  display: flex;
  justify-content: space-between;
}
.prices_item{
  width: calc((100% - 60px) / 4);
  background-color: #ffffff;
  border: 1px solid rgba(0,0,0,0.4);
  transition: all 0.2s ease-in-out;
}
.prices_item:hover{
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3)
}
.prices_item_top{
  padding: 30px 10px 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
.prices_item_price{
  padding: 30px 10px;
  background-color: #c2c2c2;
  line-height: 1;
  text-align: center;
}
.prices_item.recommended .prices_item_price{
  background-color: #0a0a0a;
  color: #ffffff;
}
.prices_item_price_number{
  margin-bottom: 12px;
  font-size: 40px;
  font-weight: 500;
}
.prices_item_price_duration{
  font-size: 18px;
}
.prices_item_body{
  padding: 30px 10px;
}
.prices_item_list{
  margin-bottom: 0;
  list-style: none;
}
.prices_item_list_item{
  position: relative;
  padding-left: 20px;
  margin-bottom: 16px;
}
.prices_item_list_item:last-of-type{
  margin-bottom: 0;
}
.prices_item_list_item:before{
  content: "";
  position: absolute;
  top: 0.4em;
  left: 0;
  display: block;
  width: 0.9em;
  height: 100%;
  background-image: url('../img/Check.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
.prices_item_bottom{
  display: flex;
  justify-content: center;
  padding: 0 10px 30px;
}
.prices_item_button{
  display: inline-block;
  min-width: 140px;
  padding: 13px 17px;
  background-color: #c2c2c2;
  color: #0a0a0a;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  border: 1px solid #c2c2c2;
  transition: all 0.2s ease-in-out;
}
.prices_item_button:hover{
  background-color: #ffffff;
  border-color: #0a0a0a;
}
.prices_item.recommended .prices_item_button{
  background-color: #0a0a0a;
  border-color: #0a0a0a;
  color: #ffffff;
}
.prices_item.recommended .prices_item_button:hover{
  background-color: #ffffff;
  color: #0a0a0a;
}

@media screen and (max-width: 1100px){
  .prices_box{
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -30px;
  }
  .prices_item{
    width: calc(50% - 15px);
    max-width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .prices_item:nth-of-type(2n){
    margin-right: 0;
  }
}
@media screen and (max-width: 768px){
  .prices_box{
    flex-direction: column;
    align-items: center;
  }
  .prices_item{
    width: 100%;
    margin-right: 0;
  }
  .prices_item_top{
    padding: 20px 10px;
    font-size: 20px;
  }
  .prices_item_price{
    padding: 20px 10px;
  }
  .prices_item_price_number{
    font-size: 30px;
  }
  .prices_item_body{
    padding: 20px 10px;
  }
  .prices_item_bottom{
    padding: 0 10px 20px;
  }
}


.team_block{
  background-color: #f1f1f1;
  background-image: linear-gradient(180deg, #f1f1f1, #ffffff);
}
.team_title{
  margin-bottom: 20px;
}
.team_block .team_undertitle{
  margin-bottom: 40px;
  color: #bfbfbf;
  font-size: 22px;
  letter-spacing: 3.5px;
  text-align: center;
}
.team_box{
  display: flex;
  justify-content: space-between;
}
.team_item{
  width: calc((100% - 60px) / 4);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.team_item_wrapper{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 105%;
}
.team_item_content{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(84,89,95,0.6);
  color: #ffffff;
  opacity: 0;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.team_item:hover .team_item_content{
  opacity: 1;
}
.team_item .team_item_title{
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 3.5px;
}
.team_item_title:after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 60%;
  border-bottom: 2px dashed #ffffff;
  transform: translateX(-50%);
}
.team_grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.team_face{
  background-color: #0a0a0a;
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.team_face:hover{
  background-size: 110%;
}
.team_face_wrapper{
  background-color: rgba(0,0,0,0.6);
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  transition: all 0.2s ease-in-out;
}
.team_face:hover .team_face_wrapper{
  background-color: rgba(0,0,0,0.5);
}
.team_face_content{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 10px 20px;
}
.team_face figure{
  display: none;
  width: 200px;
  height: 200px;
  margin: 0 auto 20px;
  border: 1px solid rgba(0,0,0,0.4);
}
.team_face figure img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
.team_face_title{
  margin-bottom: 0.25em;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
}
.team_face_undertitle{
  font-size: 18px;
}
.team_face_text{
  display: none;
}
.team_grid_info{
  grid-column: 2/6;
  grid-row: 2/6;
  position: relative;
  background-color: #0a0a0a;
  background-image: url('../img/bg-teamfull.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
}
.team_grid_info:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
}
.team_grid_info_content{
  position: relative;
  z-index: 4;
  width: 600px;
  max-width: 100%;
  padding: 40px 10px;
  margin: 0 auto;
  text-align: center;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out; 
}
.team_grid_info_content figure{
  width: 300px;
  max-width: 100%;
  height: 300px;
  margin: 0 auto 20px;
}
.team_grid_info_content figure img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
.team_grid_info_content_title{
  margin-bottom: 0.25em;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
}
.team_grid_info_content_undertitle{
  margin-bottom: 1.25em;
  font-size: 18px;
}

@media screen and (max-width: 1100px){
  .team_box{
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -30px;
  }
  .team_item{
    width: calc(50% - 15px);
    max-width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .team_item:nth-of-type(2n){
    margin-right: 0;
  }
  .team_item_content{
    opacity: 1;
  }
  .team_grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -20px;
  }
  .team_face{
    width: calc(50% - 10px);
    margin-bottom: 20px;
    background-color: #ffffff;
    background-image: none!important;
    color: #0a0a0a;
    border: 1px solid rgba(0,0,0,0.4);
  }
  .team_face:nth-of-type(9){
    width: 100%;
  }
  .team_face figure{
    display: block;
  }
  .team_face_wrapper{
    height: auto;
    padding-bottom: 0;
    background-color: transparent;
  }
  .team_face_content{
    position: static;
    padding: 20px 10px;
  }
  .team_face_text{
    display: block;
  }
  .team_grid_info{
    display: none;
  }
  .team_grid_info_content figure{
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 768px){
  .team_item{
    width: 100%;
    margin-right: 0;
  }
  .team_face{
    width: 100%;
  }
}


.tst_block{
  position: relative;
  background-color: #f1f1f1;
  background-image: url('../img/bg-testimonials.jpg');
  color: #ffffff;
}
.tst_block:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
.tst_block .center-main-block{
  position: relative;
  z-index: 4;
}
.tst_title{}
.tst_box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  color: #0a0a0a;
}
.tst_item{
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid rgba(0,0,0,0.4);
}
.tst_head{
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,0.4);
}
.tst_head figure{
  width: 60px;
  height: 60px;
  margin: 0 auto 14px;
  overflow: hidden;
  border-radius: 50%;
}
.tst_head figure img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.tst_item_title{
  margin-bottom: 14px;
}
.tst_item_undertitle{}
.tst_body{
  padding-top: 20px;
}

@media screen and (max-width: 1100px){
  .tst_box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -30px;
  }
  .tst_item{
    width: calc(50% - 15px);
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px){
  .tst_item{
    width: 100%;
  }
}

.about_block{}
.about_title{}
.about_content{
  display: flex;
}
.about_content_text{
  flex-grow: 100;
}
.about_content_image{
  width: 500px;
  min-width: 500px;
  margin-left: 30px;
}
.about_content_image figure{
  position: sticky;
  top: 75px;
}
.about_content_image figure img{
  display: block;
}

@media screen and (max-width: 1100px){
  .about_content_image{
    width: 300px;
    min-width: 300px;    
  }
  .about_content_image figure{
    top: 56px;
  }
}
@media screen and (max-width: 768px){
  .about_content{
    flex-direction: column-reverse;
  }
  .about_content_image{
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 0;    
    margin: 0 0 20px 0;
  }
}


.clients_block{}
.clients_title{}
.clients_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.clients_item{
  width: 24%;
}
.clients_item figure{
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients_item figure img{
  display: block;
}

@media screen and (max-width: 768px){
  .clients_item{
    width: 50%;
    padding: 20px;
  }
}


.news_block{}
.news_title{}
.news_content{
  display: flex;
}
.news_box{
  flex-grow: 100;
}
.news_item{
  display: flex;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 1px 0px 16px 0px rgb(0 0 0 / 12%);
}
.news_item:last-of-type{
  margin-bottom: 0;
}
.news_item figure{
  position: relative;
  width: 240px;
  min-width: 240px;
  margin-right: 20px;
  border-radius: 2px;
  overflow: hidden;
}
.news_item figure img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.2s ease-in-out;
}
.news_item:hover figure img{
  transform: scale(1.2);
}
.news_item_content{}
.news_item_content_title{
  display: block;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}
.news_item_content_text{}
.news_item_content_bottom{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 16px;
}
.news_item_content_bottom_read{
  position: relative;
  display: inline-block;
  padding: 2px 0;
  font-weight: 600;
}
.news_item_content_bottom_read:after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #0a0a0a;
  transition: all 0.2s ease-in-out;
}
.news_item_content_bottom_read:hover:after{
  width: 0;
}
.news_item_content_bottom time{
  color: #bfbfbf;
  font-weight: 600;
}
.news_item_tags{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}
.news_item_tags_item{
  margin-left: 10px;
  font-weight: 600;
  opacity: 1;
}
.news_item_tags_item:hover{
  opacity: 0.6;
}
.news_item_tags_item.active{
  text-decoration: underline;
}
.news_aside{
  position: relative;
  width: 200px;
  min-width: 200px;
  margin-left: 30px;
}
.news_aside_tags{
  position: sticky;
  top: 95px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 1px 0px 16px 0px rgb(0 0 0 / 12%);
}
.news_aside_tags_item{
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}
.news_aside_tags_item:last-of-type{
  margin-bottom: 0;
}
.news_aside_tags_item:hover{
  opacity: 0.6;
}
.news_aside_tags_item.active{
  text-decoration: underline;
}

@media screen and (max-width: 1100px){
  .news_item{
    display: block;
  }
  .news_item figure{
    width: 100%;
    min-width: 0;
    margin: 0 0 20px 0;
  } 
}
@media screen and (max-width: 768px){
  .news_content{
    flex-direction: column-reverse;
  }
  .news_aside{
    width: 100%;
    min-width: 0;
    margin: 0 0 30px 0;
  }
  .news_aside_tags{
    display: block;
  }
  .news_aside_tags_item{
    display: inline-block;
    margin-right: 10px;
  }
  .news_aside_tags_item:last-of-type{
    margin-right: 0;
  }
}


.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.pagination_arrow{
  margin: 0 5px;
}
.pagination_arrow:not(.disabled):hover{
  transform: scale(1.2);
}
.pagination_arrow svg{
  display: block;
  width: auto;
  height: 24px;
}
.pagination_arrow.disabled svg path{
  fill: #bfbfbf;
}
.pagination_number{
  display: block;
  height: 20px;
  min-width: 20px;
  margin: 0 10px;
  background-color: #ffffff;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}
.pagination_number:not(.active):hover{
  transform: scale(1.2);
}
.pagination_number.active{
  color: #bfbfbf;
}

.return_link{
  position: absolute;
  top: -50px;
  left: 10px;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
.return_link:hover{
  opacity: 0.6;
}
.return_link:before{
  content: "";
  display: block;
  width: 18px;
  height: 12px;
  background-image: url('../img/return_link.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 8px;
  transition: all 0.2s ease-in-out;
}
.return_link:hover:before{
  transform: translateX(-6px);
}


.article_block{}
.article_block .center-main-block{
  position: relative;
  max-width: 800px;
}
.article_title{
  margin-bottom: 20px;
  text-align: left;
}
.article_panel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto 30px;
}
.article_panel_time{
  display: block;
  color: #bfbfbf;
  font-weight: 600;
}
.article_panel_time b{
  color: #0a0a0a;
  font-weight: 600;
}
.article_panel_tags{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.article_panel_tags_item{
  margin-left: 10px;
  font-weight: 600;
  opacity: 1;
}
.article_panel_tags_item:hover{
  opacity: 0.6;
}
.article_content{
  font-size: 18px;
}
.article_content img{
  display: block;
  margin: 20px auto;
  border-radius: 5px;
  border: 1px solid #0a0a0a;
}


.contacts_block{}
.contacts_title{}
.contacts_content{
  display: flex;
}
.contacts_left{
  width: calc(70% - 30px);
}
.contacts_left .form{
  max-width: 600px;
  margin: 0 0 0 auto;
}
.contacts_right{
  width: 30%;
  min-width: 30%;
  margin-left: 30px;
  padding-top: 10px;
}
.contacts_info{
  font-size: 18px;
}
.contacts_info_item{
  margin-bottom: 50px;
}
.contacts_info_item_title{
  font-weight: 600;
}
.contacts_info_item p{
  margin-bottom: 10px;
}
.contacts_info_item:last-of-type{
  margin-bottom: 0;
}
.contacts_info_item_link{}
.contacts_info_item_link:hover{
  opacity: 0.6;
}

@media screen and (max-width: 768px){
  .contacts_content{
    display: block;
  }
  .contacts_left,
  .contacts_right{
    width: 100%;
  }
  .contacts_left .form_box{
    margin: 0 auto;
  }
  .contacts_right{
    margin: 0;
  }
  .contacts_info{
    width: 100%;
    max-width: 240px;
    padding-top: 30px;
    margin: 0 auto;
  }
  .contacts_info_item{
    margin-bottom: 30px;
  }
  .contacts_info_item:last-of-type{
    margin-bottom: 0;
  }
}


.map_block{
  padding: 0;
}
.map_block iframe{
  display: block;
  width: 100%;
  height: 500px;
  border: none;
  outline: none;
}


.form{}
.form_title{
  margin-bottom: 20px;
}
.form_undertitle{
  text-align: center;
}
.form_box{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.form_item{
  position: relative;
  margin-top: 40px;
}
.form_item-button{}
.form_input{
  width: 100%;
}
.form_input_placeholder{
  position: absolute;
  top: 14px;
  left: 14px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  transition: all 0.2s ease-in-out;
}
.form_input:focus~.form_input_placeholder,
.form_input-fill~.form_input_placeholder{
  color: #bfbfbf;
  transform: translateY(-42px);
}
.form_input-required~.form_input_placeholder:after{
  content: "*";
  color: #dd0000;
}
.form_input.invalid~.form_input_placeholder{
  color: #dd0000;
}
.form_button{
  display: block;
  width: 100%;
  padding: 14px;
  background-color: #0a0a0a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.form_button:hover{
  opacity: 0.8;
  transform: scale(1.05);
}
.form_plug{
  animation: showOpacity 0.6s ease-in-out;
}