.main{
  flex-grow: 100;
}
.main-block{}
.center-main-block{
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}


.header-main{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0px 0px 10px 5px rgba(20,20,20,0.1);
}
.header-main .center-main-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.header_logo{
  width: 160px;
  min-width: 160px;
}
.header_logo img{
  display: block;
}
.header_switch{
  display: none;
  width: 40px;
}
.header_switch svg{
  display: block;
  width: 100%;
  height: auto;
}
.header_content{
  display: flex;
  align-items: center;
}
.header_nav{}
.header_nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header_nav ul li{  
  padding: 0;
  margin-right: 18px;
  margin-bottom: 0;
}
.header_nav ul li:last-of-type{
  margin-right: 0;
}
.header_nav_link{
  position: relative;
  display: inline-block;
  padding: 5px 0 4px;
  text-transform: uppercase;
}
.header_nav_link:after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  transition: width 0.2s ease-in-out;
}
.header_nav_link.active:after,
.header_nav_link:hover:after{
  width: 100%;
}
.header_search{
  display: block;
  width: 22px;
  margin-left: 16px;
}
.header_search-m{
  display: none;
}
.header_search svg{
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.2s ease-in-out;
}
.header_search:hover svg{
  transform: scale(1.2)
}

@media screen and (max-width: 1100px){
  .header_logo{
    width: 80px;
    min-width: 80px;
  }
  .header_switch{
    display: block;
  }
  .header_content{
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: calc(100vh - 56px);
    padding: 10px 10px;
    background-color: #ffffff;
    color: #0a0a0a;
    overflow-y: auto;
    transform: translateY(100%);
  }
  .header_content.active{
    display: block;
  }
  .header_nav ul{
    display: block;
  }
  .header_nav ul li{
    padding: 8px 0;
    margin-right: 0;
  }
  .header_search{
    width: 28px;
    margin-left: auto;
    margin-right: 16px;
  }
  .header_search-m{
    display: block;
  }
  .header_search-d{
    display: none;
  }
}


.footer-main{
  padding: 40px 0;
  background-color: #efefef;
}
.footer-main .center-main-block{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_logo{
  width: 140px;
  margin-bottom: 20px;
}
.footer_logo img{
  display: block;
}
.footer_soc{
  display: flex;
  align-items: center;
}
.footer_soc_item{
  width: 36px;
  margin-right: 14px;
  transition: all 0.2s ease-in-out;
}
.footer_soc_item:last-of-type{
  margin-right: 0;
}
.footer_soc_item:hover{
  transform: scale(1.2);
}
.footer_soc_item svg{
  display: block;
  width: 100%;
  height: auto;
}
.footer_copyright{
  margin-top: 10px;
  opacity: 0.7;
  font-size: 0.9em;
}


.popup_container{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  animation: popup_container 0.8s ease-in-out;
}
@keyframes popup_container{
  0%{top: -200%; opacity: 0};
  20%{top: 20%; opacity: 0};
  100%{top: 0%; opacity: 1};
}
.popup_background{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  cursor: pointer;
}
.popup{
  position: relative;
  z-index: 8;
  display: block;
  padding: 20px;
  background-color: #ffffff;
  color: #0a0a0a;
}