@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Thin.eot');
    src: local('Gilroy Thin'), local('Gilroy-Thin'),
    url('../fonts/Gilroy/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-Thin.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-ThinItalic.eot');
    src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
    url('../fonts/Gilroy/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-ThinItalic.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-UltraLight.eot');
    src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
    url('../fonts/Gilroy/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-UltraLight.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-UltraLightItalic.eot');
    src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
    url('../fonts/Gilroy/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-UltraLightItalic.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
    url('../fonts/Gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-Light.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-LightItalic.eot');
    src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
    url('../fonts/Gilroy/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-LightItalic.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('../fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-RegularItalic.eot');
    src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
    url('../fonts/Gilroy/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-RegularItalic.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('../fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-MediumItalic.eot');
    src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
    url('../fonts/Gilroy/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-MediumItalic.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-SemiBold.eot');
    src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
    url('../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-SemiBold.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-SemiBoldItalic.eot');
    src: local('Gilroy SemiBold Italic'), local('Gilroy-SemiBoldItalic'),
    url('../fonts/Gilroy/Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-SemiBoldItalic.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('../fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-BoldItalic.eot');
    src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
    url('../fonts/Gilroy/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-BoldItalic.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-ExtraBold.eot');
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
    url('../fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-ExtraBold.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-ExtraBoldItalic.eot');
    src: local('Gilroy ExtraBold Italic'), local('Gilroy-ExtraBoldItalic'),
    url('../fonts/Gilroy/Gilroy-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

/*@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Heavy.eot');
    src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
    url('../fonts/Gilroy/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-Heavy.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-HeavyItalic.eot');
    src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
    url('../fonts/Gilroy/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-HeavyItalic.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}*/

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Black.eot');
    src: local('Gilroy Black'), local('Gilroy-Black'),
    url('../fonts/Gilroy/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-Black.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-BlackItalic.eot');
    src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
    url('../fonts/Gilroy/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-BlackItalic.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/*@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.eot');
    src: local('Montserrat Thin'), local('Montserrat-Thin'),
        url('../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Thin.woff') format('woff'),
        url('../fonts/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ThinItalic.eot');
    src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
        url('../fonts/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-ThinItalic.woff') format('woff'),
        url('../fonts/Montserrat-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLight.eot');
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
        url('../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-ExtraLight.woff') format('woff'),
        url('../fonts/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLightItalic.eot');
    src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
        url('../fonts/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff'),
        url('../fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.eot');
    src: local('Montserrat Light'), local('Montserrat-Light'),
        url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Light.woff') format('woff'),
        url('../fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-LightItalic.eot');
    src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
        url('../fonts/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-LightItalic.woff') format('woff'),
        url('../fonts/Montserrat-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}*/

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.eot');
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Italic.eot');
    src: local('Montserrat Italic'), local('Montserrat-Italic'),
        url('../fonts/Montserrat/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-Italic.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/*@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
        url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-MediumItalic.eot');
    src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
        url('../fonts/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-MediumItalic.woff') format('woff'),
        url('../fonts/Montserrat-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.eot');
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBoldItalic.eot');
    src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
        url('../fonts/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}*/

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Bold.eot');
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-BoldItalic.eot');
    src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
        url('../fonts/Montserrat/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-BoldItalic.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/*@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.eot');
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
        url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
        url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBoldItalic.eot');
    src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
        url('../fonts/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BlackItalic.eot');
    src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
        url('../fonts/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-BlackItalic.woff') format('woff'),
        url('../fonts/Montserrat-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.eot');
    src: local('Montserrat Black'), local('Montserrat-Black'),
        url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Black.woff') format('woff'),
        url('../fonts/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}*/




*{
    margin: 0;
    padding: 0;
    font-family: inherit;
    word-break: break-word;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
}
html{}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    background-color: #FDFDFD;
    color: #2F2F2F;
    font-family: Gilroy, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.16;
}
h1{
    font-size: 24px;
}
h2{
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
}
h3{
    font-size: 20px;
    text-transform: uppercase;   
}
h4{
    margin-bottom: 12px;
    font-size: 17px;
}
img{
    max-width: 100%;
    border-style: none;
}
p{
    margin-bottom: 0.75em;
}
p:last-of-type{
    margin-bottom: 0;
}
a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
a:hover,
a:focus,
a:visited{
    text-decoration: none;
}
ul,ol{
    padding-left: 1.2em;
}
ul li,
ol li{
    margin-bottom: 10px;
}
label{
    cursor: pointer;
}
iframe{
    border: none;
    outline: none;
}
input,
textarea{
    max-width: 100%;
    padding: 12px;
    background-color: #ffffff;
    color: inherit;
    font-size: 14px;
    line-height: 16px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #efefef;
    transition: all 0.2s ease-in-out;
}
textarea{
    min-height: 80px;
    resize: none;
}
input.invalid,
textarea.invalid{
    border-color: #dd0000;
}
input:focus,
textarea:focus{
    outline: none;
    border-color: #31beff;
}
input::placeholder,
textarea::placeholder{
    color: #929292;
    font-weight: 400;
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

@media screen and (max-width: 1100px){
    h2{
        font-size: 24px;
    }
}


.hidden{
    display: none!important;
}
.tal{
    text-align: left;
}
.tac{
    text-align: center;
}
.tar{
    text-align: right;
}


.button_container{
    text-align: center;
}
.button_green{
    display: inline-block;
    padding: 12px 8px;
    background-color: #4F8A86;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    border-radius: 5px;
}
.button_green:hover{
    background-color: #EB9F2D;    
}
.button_like{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    min-width: 40px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #4F8A86;
}
.button_like:hover{
    background-color: #4F8A86;
}
.button_like svg{
    display: block;
    width: 24px;
    height: 24px;
    transition: all 0.2s ease-in-out;
}
.button_like:hover svg{
    fill: #ffffff!important;
}
.button_like svg path{
    transition: all 0.2s ease-in-out;
}
.button_like:hover svg path{
    stroke: #ffffff!important;
}
.button_transparent{
    display: inline-block;
    max-width: 100%;
    padding: 12px 46px;
    color: #4F8A86;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid;
}
.button_transparent:hover{
    background-color: #4F8A86;
    color: #ffffff;
    border-color: #4F8A86;
}
.button_white{
    display: inline-block;
    max-width: 100%;
    padding: 11px 55px;
    background-color: #ffffff;
    color: #4F8A86;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #ffffff;
}
.button_white:hover{
    background-color: #4F8A86;
    color: #ffffff;
}

@media screen and (max-width: 1100px){
    .button_green{
        padding: 8px;
    }
    .button_like{
        width: 32px;
        height: 32px;
        min-width: 32px;
    }
    .button_like svg{
        width: 20px;
        height: 20px;
    }
    .button_transparent{
        border-radius: 10px;
    }
}



.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    min-height: 100vh;
    padding-top: 128px;
}
.main{
    flex-grow: 100;
    width: 100%;
}
.main-block{}
.center-main-block{
    width: 100%;
    max-width: 1236px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}
.center-main-block-full{
    max-width: 100%;
}
.center-main-block-no-padding{
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}


.header-main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}
.header_top{
    padding: 5px 0;
    background-color: #FFFFFF;
    color: #929292;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}
.header_top .center-main-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logotype{
    width: 112.9px;
    min-width: 112.9px;
    padding-bottom: 14px;
}
.logotype img{
    display: block;
}
.header_top_nav{
    flex-grow: 100;
    display: flex;
    align-items: center;
    margin-left: 3.34%;
}
.header_top_nav_link{
    margin-right: 32px;
    min-width: 67px;
}
.header_top_nav_link:hover{
    color: #4F8A86;
}
.header_contacts{
    display: flex;
    align-items: center;
}
.header_contact{
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.header_contact:last-of-type{
    margin-right: 0;
}
.header_contact img{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 40;
    display: block;
    width: 16px;
    transform: translateY(-50%);
}
.header_contact .select_option{
    padding: 8px;
    text-align: center;
}
.header_contact .select_option:not(.select_tit):hover{
    background-color: #929292;
    color: #ffffff;
}
.header_contact .select_tit{
    padding-left: 20px;
    text-align: left;  
}
.header_contact .select_tit:after{
    margin-left: 4px;
}
.header_langs{
    display: flex;
    align-items: center;
    margin-left: 4.66%;
}
.header_lang{
    display: inline-block;
    min-width: 20px;
    margin-left: 16px;
    padding: 5px 0 3px;
    border-bottom: 2px solid transparent;
}
.header_lang:hover{
    color: #4F8A86;
}
.header_lang.active{
    color: #4F8A86;
    border-color: #4F8A86;
}
.header_bottom{
    padding: 16px 0;
    background-color: #4F8A86;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
}
.header_bottom .center-main-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_categories{
    width: 334px;
    min-width: 334px;
}
.header_categories .select{
    width: 100%;
    background-color: transparent;
    color: #2F2F2F;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}
.header_categories .select_list_outer{
    border-radius: 0 0 10px 10px;
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}
.header_categories .select_option{
    padding: 13px 12px;
    text-align: left;
}
.header_categories .select_option:not(.select_tit):hover{
    color: #4F8A86;
}
.header_categories .select_tit{
    padding: 7px 8px 7px 12px;
    border-radius: 10px;
    border: 1px solid #E5E5E5;
    transition: none;
}
.header_categories .select.active .select_tit{
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #ffffff;
}
.header_categories .select_tit:after{
    width: 24px;
    height: 24px;
    background-image: url(../img/arrow_select.svg);
}
.header_bottom_nav{
    flex-grow: 100;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header_bottom_nav_link{
    display: inline-block;
    margin-right: 32px;
}
.header_bottom_nav_link:last-of-type{
    margin-right: 0;
}
.header_bottom_nav_link:hover{}
.header_panel{
    display: flex;
    align-items: center;
    margin-left: 32px;
}
.header_panel_item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    min-width: 40px;
    margin-left: 16px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #ffffff;
}
.header_panel_item:hover{
    background-color: #4F8A86;
}
.header_panel_item svg{
    display: block;
    width: 24px;
    max-width: 100%;
    max-height: 100%;
}
.header_panel_item:hover svg path{
    fill: #ffffff!important;
}
.header_panel_item-search{
    position: relative;
    width: 96px;
    min-width: 96px;
}
.header_panel_item-search input{
    padding: 12px 8px 12px 40px;
    color: #2F2F2F;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    border-radius: 10px;
}
.header_panel_item-search input::placeholder{
    font-weight: 500;
}
.header_panel_item-search svg{
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 24px;
}

@media screen and (max-width: 1100px){
    .header-main{
        display: none;
    }
}


.carousel_block{
    padding-top: 24px;
}
.carousel_content{
    padding: 0 32px 16px;
    background-color: #F5F5F5;
    border-radius: 10px;
}
.carousel_slider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.carousel_slider .slider_block{
    order: 2;
    width: 100%;
    margin-bottom: 16px;
}
.carousel_slider .slider_nav{
    order: 6;
    display: flex;
    align-items: center;
    margin: 0 24px;
    padding-left: 0;
    list-style: none;
}
.carousel_slider .slider_nav_butt{
    position: relative;
    width: 12px;
    height: 12px;
    margin-right: 24px;
    border-radius: 50%;
    border: 1px solid #E5E5E5;
    cursor: pointer;
}
.carousel_slider .slider_nav_butt:last-of-type{
    margin-right: 0;
}
.carousel_slider .slider_nav_butt:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 6px;
    height: 6px;
    opacity: 0;
    background-color: #4F8A86;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.2s ease-in-out;
}
.carousel_slider .slider_nav_butt.active:after{
    opacity: 1;
}
.carousel_slider .slider_arrow{
    order: 4;
    cursor: pointer;
}
.carousel_slider .slider_arrow-right{
    order: 8;
}
.carousel_slider .slider_arrow svg circle{
    stroke: #E5E5E5!important;
    transition: all 0.2s ease-in-out;
}
.carousel_slider .slider_arrow:hover svg circle{
    stroke: #4F8A86!important;
}
.carousel_box{
    position: relative;
}
.carousel_image{
    position: absolute;
    top: 8px;
    left: 135px;
    width: 50%;
}
.carousel_image img{
    display: block;
    height: 280px;
}
.carousel_text_top{
    padding: 40px 10px 40px 50%;
    flex-grow: 100;
}
.carousel_text_title{
    margin-bottom: 16px;
    color: #EB9F2D;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.02em;
}
.carousel_text_undertitle{
    color: #929292;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}
.carousel_text_bottom{
    padding: 32px 10px 32px 50%;
    background-color: #4F8A86;
    border-radius: 10px;
}

@media screen and (max-width: 1100px){
    .carousel_content{
        padding: 0 0 24px;
        background-color: transparent;
    }
    .carousel_slider .slider_block{
        margin-bottom: 0;
    }
    .carousel_slider .slider_nav{
        display: none;
    }
    .carousel_slider .slider_arrow{
        display: none;
    }
    .carousel_text_top{
        padding: 40px 10px 60px;
        background-color: #F5F5F5;
        border-radius: 10px 10px 0 0;
        text-align: center;
    }
    .carousel_image{
        display: none;
    }
    .carousel_text_title{
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 28px;
    }
    .carousel_text_undertitle{
        font-size: 14px;
        line-height: 16px;
    }
    .carousel_text_bottom{
        padding: 12px 10px;
        border-radius: 0 0 10px 10px;
    }
    .carousel_text_button{
        text-align: center;
    }
}


.cat_block{
    padding: 56px 0 80px;
}
.cat_title{
    margin-bottom: 33px;
    text-align: center;
}
.cat_box{
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
}
.cat_item{
    width: calc((100% - 132px)/ 7);
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #EFEFEF;
    box-shadow: 0px 10px 15px rgba(229, 229, 229, 0.3);
}
.cat_image{
    padding: 26px;
}
.cat_image figure{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cat_image figure img{
    display: block;
    height: 80px;
}
.cat_text{
    padding: 0 16px 16px;
    text-align: center;
}
.cat_text_title{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}
.cat_text_pos{
    margin-top: 16px;
    color: #929292;
    font-family: Montserrat, Gilroy, sans-serif;
    font-size: 12px;
    line-height: 15px;
}
.cat_text_pos_num{
    color: #2F2F2F;
    font-weight: 600;
}

@media screen and (max-width: 1100px){
    .cat_block{
        display: none;
    }
}


.pr_block{
    padding: 80px 0 72px;
}
.pr_block-orange{
    background-color: #EB9F2D;
    color: #ffffff;
}
.pr_block .center-main-block{
    max-width: 1324px;
}
.pr_title{
    text-align: center;
}
.pr_slider{
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
}
.pr_slider .slider_arrow{
    position: absolute;
    width: 40px;
    top: 50%;
    left: -16px;
    opacity: 1;
    cursor: pointer;
    transform: translateY(-50%);
    transition: all 0.2s ease-in-out;
}
.pr_slider .slider_arrow:hover{
    opacity: 0.5;
}
.pr_slider .slider_arrow-right{
    left: auto;
    right: -16px;
}
.pr_block-orange .pr_slider .slider_arrow circle{
    stroke: #ffffff!important;
}
.pr_block-orange .pr_slider .slider_arrow path{
    fill: #ffffff!important;
}
.pr_slide{}
.pr_box{
    display: flex;
    justify-content: space-between;
}
.p_item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc((100% - 64px) / 5);
    padding: 8px 8px 16px;
    background-color: #F5F5F5;
    border-radius: 10px;
}
.p_image{
    background-color: #FFFFFF;
    border-radius: 10px;
}
.p_image figure{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75.4%;
}
.p_image figure img{
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    max-width: 90%;
    max-height: 90%;
    transform: translate(-50%,-50%);
}
.p_image_percent{
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    min-width: 46px;
    padding: 12px;
    color: #2F2F2F;
    font-family: Montserrat, Gilroy, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    background-color: #FFF500;
    text-align: center;
    border-radius: 0px 10px;
}
.p_content{
    flex-grow: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 8px;
}
.p_text{
    flex-grow: 100;
    margin-top: 16px;
    color: #2F2F2F;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}
.p_name{
    margin-bottom: 12px;
}
.p_price{
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.p_price_actual{}
.p_price_old{
    position: relative;
    display: inline-block;
    padding: 0 3.5px;
    margin-left: 5px;
    color: #929292;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
}
.p_price_old:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #DD0000;
}
.p_buttons{
    display: flex;
    margin-top: 16px;
}
.p_buttons .button_green{
    flex-grow: 100;
}
.p_buttons .button_like{
    margin-left: 8px;
}
.pr_button{
    margin-top: 40px;
}
.pr_block-orange .pr_button .button_transparent{
    color: #ffffff;
}

@media screen and (max-width: 1100px){
    .pr_block{
        padding: 40px 0;
    }
    .pr_slider{
        padding-left: 0;
        padding-right: 0;
    }
    .pr_slider .slider_arrow{
        display: none;
    }
    .pr_box{
        flex-wrap: wrap;
        max-width: 728px;
        margin-left: auto;
        margin-right: auto;
    }
    .p_item{
        width: calc(50% - 7.5px);
        margin-bottom: 15px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    }
    .p_item:nth-of-type(n + 5){
        display: none;
    }
    .p_content{
        padding: 0;
    }
    .p_text{
        margin-top: 12px;
        font-size: 12px;
        line-height: 14px;
    }
    .p_name{
        margin-bottom: 8px;
    }
    .p_price{
        font-size: 14px;
        line-height: 16px;
    }
    .p_buttons{
        margin-top: 9px;
    }
    .pr_button{
        margin-top: 17px;
    }
}


.why_block{}
.why_content{
    padding: 80px 104px;
    background-color: #4F8A86;
    color: #ffffff;
    border-radius: 20px;
}
.why_title{
    text-align: center;
}
.why_box{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.why_item{
    width: 184px;
    min-width: 184px;
    padding: 32px 16px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    border-radius: 10px;
}
.why_image{}
.why_image figure{
    display: flex;
    align-items: center;
    justify-content: center;
}
.why_image figure img{
    display: block;
    width: 88px;
    max-height: 100%;
}
.why_text{
    margin-top: 24px;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-align: center;
}

@media screen and (max-width: 1100px){
    .why_content{
        padding: 40px 16px 16px;
    }
    .why_box{
        flex-wrap: wrap;
        max-width: 736px;
        margin: 30px auto 0;
    }
    .why_item{
        width: calc(50% - 7.5px);
        min-width: 0;
        padding: 24px 10px;
        margin-bottom: 24px;
    }
    .why_image figure img{
        width: 72px;
    }
    .why_text{
        margin-top: 16px;
    }
}


.feedback_block{
    padding: 80px 0;
    font-family: Montserrat, Gilroy, sans-serif;
}
.feedback_title{
    margin-bottom: 17px;
    text-align: center;
}
.feedback_undertitle{
    text-align: center;
}
.feedback_form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 40px auto 0;
}
.feedback_item{
    width: calc(50% - 16px);
    margin-bottom: 16px;
}
.feedback_item-full{
    width: 100%;
}
.feedback_item input,
.feedback_item textarea{
    width: 100%;
    padding: 16px 12px;
    font-size: 14px;
    line-height: 16px;
    border-color: #EEEEEE;
}
.feedback_item input:focus,
.feedback_item textarea:focus{    
    border-color: #31beff;
}
.feedback_button{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 16px;
}
.feedback_button button{
    padding: 16px 8px;
    min-width: 184px;
}

@media screen and (max-width: 1100px){
    .feedback_block{
        padding: 40px 0;
    }
    .feedback_form{
        margin-top: 30px;
    }
    .feedback_item{
        width: 100%;
        margin-bottom: 8px;
    } 
}


.seo_block{
    padding: 56px 0 80px;
    background-color: #4F8A86;
    color: #ffffff;
}
.seo_content{
    max-height: 355px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}
.seo_text{
    padding: 40px;
    font-weight: 300;
}
.seo_text h1,
.seo_text h2,
.seo_text h3,
.seo_text h4,
.seo_text h5,
.seo_text h6{
    text-align: center;
}
.seo_text h2{
    margin-bottom: 32px;
}

@media screen and (max-width: 1100px){
    .seo_text{
        padding: 24px 16px;
    }
}


.scroll-emul_block{
  overflow-y: auto;
}
.scroll-emul_container{
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}
.scroll-emul_content{
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scroll-emul_content::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.scroll-emul_line{
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
    width: 8px;
    height: calc(100% - 16px);
    background-color: transparent;
    border-radius: 4px;
}
.scroll-emul_line_item{
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
    background-color:#FFFFFF;
    border-radius: 4px;
}


.breadcrumbs_block{
    padding: 12px 0;
    background-color: #F5F5F5;
}
.breadcrumbs{
    display: flex;
    align-items: center;
}
.breadcrumbs_link{
    display: inline-flex;
    align-items: center;
    color: #4F8A86;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}
.breadcrumbs_link:after{
    content: "/";
    display: inline-block;
    padding: 0 0.2em;
}
.breadcrumbs_link:last-of-type:after{
    display: none;
}
.breadcrumbs_link.active{
    color: #929292;
    cursor: inherit;
}
.breadcrumbs_link svg{
    display: block;
    width: 24px;
    margin-right: 12px;
}
.breadcrumbs_link svg path{
    fill: #4F8A86!important;
}
.breadcrumbs_link.active svg path{
    fill: #929292!important;
}


.footer-main{
    padding: 40px 0 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 165.36%;
}
.footer_box{
    display: flex;
    justify-content: space-between;
}
.footer_box .logotype{
    width: 162px;
    min-width: 162px;
    margin-right: 20px;
}
.footer_item{
    margin-right: 20px;
}
.footer_item_title{
    color: #929292;
    font-size: 12px;
    line-height: 14px;
}
.footer_item_list{
    padding-left: 0;
    margin-top: 6px;
    list-style: none;
}
.footer_item_list li{
    margin-bottom: 6px;
}
.footer_item_list li a{}
.footer_item_list li a:hover{
    color: #4F8A86
}
.footer_item_soc{
    margin-top: 9px;
}
.footer_item_soc a{
    display: inline-block;
    margin-right: 11px;
}
.footer_item_soc a:last-of-type{
    margin-right: 0;
}
.footer_item_soc a svg{
    display: block;
    width: 18px;
}

@media screen and (max-width: 1100px){
    .footer-main{
        padding: 20px 0 16px;
        font-size: 18px;
    }
    .footer_box{
        display: block;
    }
    .footer_item{
        margin-right: 0;
        margin-bottom: 24px;
    }
    .footer_item_title{
        font-size: 14px;
        line-height: 16px;
    }
    .footer_item_list{
        margin-top: 8px;
    }
    .footer_item_soc{
        margin-top: 12px;
    }
    .footer_item_soc a{
        margin-right: 12px;
    }
    .footer_item_soc a:last-of-type{
        margin-right: 0;
    }
    .footer_item_soc a svg{
        width: 40px;
        height: 40px;
    }
}


.threshold{
    padding: 16px 0;
    background-color: #4F8A86;
    color: #ffffff;
    font-weight: 500;
}
.threshold_text br{
    display: none;
}
.threshold_text a{
    font-weight: 700;
}

@media screen and (max-width: 1100px){
    .threshold{
        padding: 24px 0;
    }
    .threshold_text{
        text-align: center;
    }
    .threshold_text br{
        display: inline-block;
    }
}


.catalog_block{
    padding: 40px 0 80px;
}
.catalog_block .center-main-block{
    display: flex;
}
.catalog_aside{
    width: 340px;
    min-width: 340px;
}
.catalog_aside_list{
    background-color: #FFFFFF;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid #4F8A86;
}
.catalog_aside_list_title{
    padding: 16px 16px 15px;
    background-color: #4F8A86;
    color: #ffffff;
    border-radius: 10px 10px 0px 0px;
}
.catalog_aside_list_item{
    padding: 16px 16px 15px;
}
.catalog_aside_list_item:after{
    content: "";
    position: relative;
    top: 15px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #929292;
}
.catalog_aside_list_item:last-of-type:after{
    display: none;
}
.catalog_aside_list_item_label{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.catalog_aside_list_item_label:after{
    content: "";
    display: block;
    width: 8px;
    height: 12px;
    margin: 0 8px;
    background-image: url(../img/arrow_catalog_aside.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out;
}
.catalog_aside_list_item.active .catalog_aside_list_item_label:after{
    transform: rotate(90deg);
}
.catalog_aside_list_item_list{
    height: 0;
    opacity: 0;
    overflow: hidden;
    font-size: 14px;
    line-height: 16px;
    list-style: none;
}
.catalog_aside_list_item.active .catalog_aside_list_item_list{
    height: auto;
    padding-left: 16px;
    padding-bottom: 2px;
    margin-top: 15px;
    opacity: 1;
    transition: height 0.2s linear, opacity 0.2s ease-in-out;
}
.catalog_aside_list_item_list li{
    margin-bottom: 13px;
}
.catalog_aside_list_item_list li:last-of-type{
    margin-bottom: 0;
}

.catalog_aside_form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}
.catalog_aside_form .catalog_aside_title{
    margin-bottom: 12px;
    width: 100%;
}
.catalog_aside_item{
    width: calc(50% - 6px);
    margin-bottom: 32px;
}
.catalog_aside_item-full{
    width: 100%;
}
.catalog_aside_item input{
    width: 100%;
    background-color: #F5F5F5;
    font-weight: 400;
    border-radius: 5px;
}
.catalog_aside_item .select{
    width: 100%;
    background: #F5F5F5;
    border-radius: 5px;
}
.catalog_aside_item .select_option{
    padding: 13px 12px;
    background-color: transparent;
    color: #929292;
    text-align: left;
}
.catalog_aside_item .select_option:not(.select_tit):hover{
    color: #2f2f2f;
}
.catalog_aside_item .select_tit{
    background-color: #F5F5F5;
    border-radius: 5px;
}
.catalog_aside_item .select.active .select_tit{
    border-radius: 5px 5px 0 0;
}
.catalog_aside_item .select_tit:after{}
.catalog_aside_item .select_list{
    background-color: #F5F5F5;
    border-radius: 0 0 5px 5px;
}

.catalog_aside_item_checkbox{
    display: flex;
    align-items: center;
}
.catalog_aside_item_checkbox input{
    display: none;
}
.checkbox_emulate{
    display: block;
    width: 24px;
    height: 24px;
    padding: 3px;
    background-color: #F5F5F5;
    border-radius: 5px;
}
.checkbox_emulate:after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #4F8A86;
    opacity: 0;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}
input:checked+.checkbox_emulate:after{
    opacity: 1;
}
.catalog_aside_item_checkbox .checkbox_emulate{
    margin-right: 12px;
}


/*.popup_container{
    position: fixed;
    top: -200%;
    left: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    padding: 10px;
    opacity: 0;
}
.popup_container.active{
    top: 0;
    opacity: 1;
    transition: top 0.2s ease-in-out, opacity 1s ease-in-out;
    -webkit-transition: top 0.2s ease-in-out, opacity 1s ease-in-out;
}
.popup_background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.popup{
    position: relative;
    z-index: 200;
    width: 100%;
    max-width: 624px;
    padding: 56px 24px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.popup_close{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 7px;
    height: 7px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.popup_close:hover{
    transform: scale(1.2);
}
.popup_close img{
    display: block;
}
.popup h2{
    margin-bottom: 20px;
    font-weight: 400;
    text-align: center;
}
.popup_form{
    width: 100%;
    max-width: 480px;
    margin: auto;
    text-align: center;
}
.popup_form_item{
    margin-bottom: 24px;
}
.popup_form_item:last-of-type{
    margin-bottom: 0;
}
.popup_form_item textarea{
    width: 100%;
    min-height: 144px;
}
.popup_form_item .form_validate_alert{
    display: none;
    margin-top: 10px;
    width: 100%;
    color: #ff0000;
    font-size: 14px;
    line-height: 1;
    text-align: center;
}
.popup_form_item.invalid .form_validate_alert{
    display: block;
}

@media screen and (max-width: 768px){
    .popup_container{
        max-height: 100vh;
        padding: 0;
        overflow: hidden;
    }
    .popup{
        max-height: 100%;
        overflow-y: auto;
    }
}*/


.select{
    position: relative;
    background-color: #ffffff;
    text-align: center; 
}
.select_option{
    width: 100%;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.select_tit{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select_option.selected{
    display: none;
}
.select_tit:after{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/arrow_header.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out;
}
.select.active .select_tit:after{
    transform: rotate(90deg);
}
.select_list_outer{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    height: 0;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
}
.select.active .select_list_outer{
    height: auto;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}