@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Thin.eot');
    src: local('Gilroy Thin'), local('Gilroy-Thin'),
    url('../fonts/Gilroy/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-Thin.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-ThinItalic.eot');
    src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
    url('../fonts/Gilroy/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-ThinItalic.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-UltraLight.eot');
    src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
    url('../fonts/Gilroy/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-UltraLight.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-UltraLightItalic.eot');
    src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
    url('../fonts/Gilroy/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-UltraLightItalic.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
    url('../fonts/Gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-Light.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-LightItalic.eot');
    src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
    url('../fonts/Gilroy/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-LightItalic.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('../fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-RegularItalic.eot');
    src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
    url('../fonts/Gilroy/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-RegularItalic.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('../fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-MediumItalic.eot');
    src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
    url('../fonts/Gilroy/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-MediumItalic.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-SemiBold.eot');
    src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
    url('../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-SemiBold.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-SemiBoldItalic.eot');
    src: local('Gilroy SemiBold Italic'), local('Gilroy-SemiBoldItalic'),
    url('../fonts/Gilroy/Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-SemiBoldItalic.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('../fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-BoldItalic.eot');
    src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
    url('../fonts/Gilroy/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-BoldItalic.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-ExtraBold.eot');
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
    url('../fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-ExtraBold.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-ExtraBoldItalic.eot');
    src: local('Gilroy ExtraBold Italic'), local('Gilroy-ExtraBoldItalic'),
    url('../fonts/Gilroy/Gilroy-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

/*@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Heavy.eot');
    src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
    url('../fonts/Gilroy/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-Heavy.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-HeavyItalic.eot');
    src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
    url('../fonts/Gilroy/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-HeavyItalic.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}*/

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Black.eot');
    src: local('Gilroy Black'), local('Gilroy-Black'),
    url('../fonts/Gilroy/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-Black.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-BlackItalic.eot');
    src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
    url('../fonts/Gilroy/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-BlackItalic.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}



*{
    margin: 0;
    padding: 0;
    font-family: inherit;
    word-break: break-word;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
}
html{}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    color: #404040;
    font-family: Gilroy, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.16;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.16;
}
h1{
    font-size: 48px;
}
h2{
    margin-bottom: 24px;
    font-size: 36px;
}
h3{
    font-size: 20px;
    text-transform: uppercase;   
}
h4{
    margin-bottom: 12px;
    font-size: 17px;
}
img{
    max-width: 100%;
    border-style: none;
}
p{
    margin-bottom: 1em;
}
p:last-of-type{
    margin-bottom: 0;
}
a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
a:hover,
a:focus,
a:visited{
    text-decoration: none;
}
ul,ol{
    padding-left: 1.2em;
}
ul li,
ol li{
    margin-bottom: 10px;
}
label{
    cursor: pointer;
}
iframe{
    border: none;
    outline: none;
}
input,
textarea{
    padding: 16px 12px;
    background-color: #ffffff;
    color: inherit;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #EEEDF3;
    transition: all 0.2s ease-in-out;
}
textarea{
    min-height: 104px;
    padding: 10px 20px;
    resize: none;
}
input.invalid,
textarea.invalid{
    border-color: #dd0000;
}
input:focus,
textarea:focus{
    outline: none;
    border-color: #2B3293;
}
input::placeholder,
textarea::placeholder{
    color: #404040;
    font-weight: 300;
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

@media screen and (max-width: 1100px){
    h1{
        font-size: 21px;
    }
    h2{
        font-size: 24px;
    }
}


.hidden{
    display: none!important;
}
.tal{
    text-align: left;
}
.tac{
    text-align: center;
}
.tar{
    text-align: right;
}


.button_container{
    text-align: center;
}
.button_blue{
    display: inline-block;
    background-color: #2B3293;
    padding: 16px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;    
}
.button_blue:hover{
    background-color: #FF5616;
}
.button_orange{
    display: inline-block;
    background-color: #FF5616;
    padding: 16px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
}
.button_orange:hover{
    background-color: #2B3293;
}



.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    min-height: 100vh;
}
.main{
    flex-grow: 100;
    width: 100%;
    padding-top: 64px;
}
.main-block{}
.center-main-block{
    width: 100%;
    max-width: 1272px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
}
.center-main-block-full{
    max-width: 100%;
}
.center-main-block-no-padding{
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 1100px){
    .main{
        padding-top: 96px;
    }
}



.header-main{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    min-width: 100vw;
    padding: 16px 0;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 1.2;
}
.header-main .center-main-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logotype{
    width: 104px;
}
.logotype img{
    display: block;
    margin-right: 20px;
}
.header_switchers{
    display: none;
}
.header_switcher{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 8px;
    background-color: #F3F4F9;
    border-radius: 3px;
}
.header_switcher img{
    width: 24px;
}
.header_switcher_open{
    display: block;
}
.header_switcher_close{
    display: none;
}
.header-main.active .header_switcher_open{
    display: none;
}
.header-main.active .header_switcher_close{
    display: block;
}
.header_content{
    flex-grow: 100;
}
.header_content_inner{
    display: flex;
    justify-content: flex-end;
    align-items: center;    
}
.header_nav{
    font-weight: 500;
}
.header_nav_link{
    display: inline-block;
    margin-right: 40px;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
}
.header_nav_link:hover,
.header_nav_link.active{
    color: #FF5616;
    border-color: #FF5616;
}
.header_button{}
.header_button a{
    padding: 8px 16px;
    font-weight: 500;
}

@media screen and (max-width: 1100px){
    .header-main{
        height: 96px;
        padding: 40px 0 16px;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
    }
    .header-main.active{
        height: 100vh;
    }
    .header-main .center-main-block{
        flex-wrap: wrap;
    }
    .header_switchers{
        display: block;
    }
    .header_content{
        width: 100%;
        height: calc(100% - 96px);
        opacity: 0;
    }
    .header-main.active .header_content{
        opacity: 1;
        transition: all 0.4s ease-in-out;
    }
    .header_content_inner{
        flex-direction: column;
        padding: 80px 56px;
        overflow-y: auto;        
    }
    .header_nav{
        font-size: 24px;
        font-weight: 700;
    }
    .header_nav_link{
        display: block;
        margin-right: 0;
        margin-bottom: 33px;
    }
    .header_button{
        width: 100%;
        margin-top: 56px;
        text-align: center;
    }
    .header_button a{
        min-width: 215px;
        max-width: 100%;
        padding: 16px;
        font-weight: 700;
    }
}


.banner_block{
    background-image: linear-gradient(180deg, #F3F4F9 16.41%, #E1E1EB 100%);
}
.banner_block .center-main-block{
    position: relative;
    padding: 172px 24px 156px;
    overflow-x: hidden;
}
.banner_content{
    width: 540px;
    margin-left: 80px;
    padding-left: 16px;
}
.banner_title{
    width: calc(100% + 16px);
    margin-left: -16px;
    margin-bottom: 25px;
    line-height: 1.57;
}
.banner_title span{
    display: inline-block;
    margin-bottom: 8px;
    padding: 0 16px;
    background-color: #FF5616;
    color: #ffffff;
}
.banner_title span:last-of-type{
    margin-bottom: 0;
}
.banner_undertitle{
    font-size: 36px;
    font-weight: 500;
}
.banner_button{
    margin-top: 40px;
}
.banner_image{
    position: absolute;
    left: 660px;
    bottom: 0;
    width: 48%;
}
.banner_image figure{}
.banner_image figure img{
    display: block;
}

@media screen and (max-width: 1100px){
    .banner_image{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .banner_block .center-main-block{
        padding: 116px 24px 80px;
    }
    .banner_content{
        width: 100%;
        margin-left: 0;
        padding-left: 0;
    }
    .banner_title{
        width: 100%;
        margin-left: 0;
        margin-bottom: 29px;
    }
    .banner_title span{
        margin-bottom: 5px;
    }
    .banner_title span:last-of-type{
        margin-bottom: 0;
    }
    .banner_undertitle{
        font-size: 24px;
    }
    .banner_button{
        margin-top: 56px;
    }
    .banner_button a{
        width: 100%;
    }
}


.about_block{
    padding: 116px 0;
}
.about_block .center-main-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about_image{
    width: calc(50% - 52px);
}
.about_image figure{
    overflow: hidden;
    border-radius: 3px;
}
.about_image figure img{
    display: block;
}
.about_content{
    width: calc(50% - 52px);
}
.about_text{}
.about_text h2{}
.about_box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 32px;
}
.about_item{
    width: 140px;
    min-width: 140px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    text-align: center;
}
.about_item figure{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 116px;
    height: 124px;
    max-width: 100%;
    background-image: linear-gradient(180deg, rgba(238, 237, 243, 0) 0%, #EEEDF3 100%);
    border-radius: 3px 3px 3px 0px;
}
.about_item figure img{
    display: block;
}
.about_item_title{
    margin-top: 24px;
}


@media screen and (max-width: 1100px){
    .about_image{
        order: 4;
        width: 100%;
        margin-top: 32px;
    }
    .about_image figure{
        display: flex;
        justify-content: center;
    }
    .about_content{
        order: 2;
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .about_block{
        padding: 56px 0;
    }
    .about_box{
        flex-direction: column;
        align-items: center;
    }
}


.cand_block{
    padding: 80px 0;
    background-color: #EEEDF3;
    background-image: linear-gradient(135deg, transparent 44%, rgba(255, 255, 255, 0.23) 44%, rgba(255, 255, 255, 0.23) 77%, rgba(238, 237, 243, 0) 100%);
    text-align: center;
}
.cand_title{
    margin-bottom: 0;
}
.cand_undertitle{
    margin-top: 16px;
    margin-bottom: 0;
    color: #000000;
    font-weight: 500;
}
.cand_box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1016px;
    margin: 40px auto 0;
}
.cand_item{
    width: calc((100% - 152px) / 3);
    margin-bottom: 32px;
    padding: 24px 16px;
    background-color: rgba(255, 255, 255, 0.4);
    color: #000000;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    border-radius: 3px;
    border: 2px solid #FFFFFF;
}
.cand_punkt{
    position: relative;
    padding-left: 12px;
}
.cand_punkt:before{
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    display: block;
    width: 4px;
    height: 4px;
    background-color: #000000;
    border-radius: 50%;
}
.cand_bottom{
    margin-top: 24px;
    text-align: center;
}
.cand_bottom_text{
    color: #2B3293;
    font-weight: 700;
}
.cand_bottom .button_container{
    margin-top: 32px;
}
.cand_bottom .button_container a{
    font-weight: 700;
}

@media screen and (max-width: 768px){
    .cand_block{
        padding: 40px 0;
    }
    .cand_item{
        width: 100%;
        margin-bottom: 16px;
    }
    .cand_bottom{
        margin-top: 16px;
    }
}


.process_block{
    padding: 116px 0 80px;
}
.process_title{
    text-align: center;
}
.process_box{
    display: grid;
    grid-template-columns: 184px 184px 184px;
    grid-row-gap: 65px;
    justify-content: space-between;
    max-width: 808px;
    margin: 33px auto 0;
}
.process_item{
    color: #383838;
    font-weight: 500;
    text-align: center;
}
.process_item figure{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 150px;
    padding: 10px;
    background-image: linear-gradient(180deg, rgba(238, 237, 243, 0) 0%, #EEEDF3 100%);
    border-radius: 3px;
}
.process_item figure img{
    display: block;
}
.process_item_text{
    margin-top: 33px;
}

@media screen and (max-width: 768px){
    .process_block{
        padding: 56px 0 72px;
    }
    .process_box{
        margin: 16px auto 0;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 47px;
        grid-row-gap: 32px;
    }
}


.seo_block{
    padding: 80px 0;
    background-color: #EEEDF3;
    background-image: linear-gradient(135deg, transparent 44%, rgba(255, 255, 255, 0.23) 44%, rgba(255, 255, 255, 0.23) 77%, rgba(238, 237, 243, 0) 100%);
}
.seo_block .center-main-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.seo_content{
    position: relative;
    width: 600px;
    min-width: 600px;
    max-height: 440px;
    padding: 24px 8px 24px 24px;
    margin-right: 104px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 3px;
    border: 2px solid #FFFFFF;
}
.seo_content:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 90px;
    background-image: linear-gradient(180deg, rgba(245, 244, 248, 0) 0%, #F5F4F8 83.85%);
}
.seo_text{
    padding-right: 20px;
    padding-bottom: 50px;
}
.seo_text h2{
    margin-bottom: 16px;
}
.seo_image{
    flex-grow: 100;
}
.seo_image figure{
    overflow: hidden;
    border-radius: 3px;
}
.seo_image figure img{
    display: block;
}

@media screen and (max-width: 1100px){
    .seo_block .center-main-block{
        flex-wrap: wrap;
    }
    .seo_content{
        order: 4;
        width: 100%;
        margin-right: 0;
        margin-top: 40px;
    }
    .seo_image{
        order: 2;
        width: 100%;
    }
    .seo_image figure{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 768px){
    .seo_block{
        padding: 56px 0 72px;
    }
    .seo_content{
        padding: 16px 14px 16px 12px;
    }
    .seo_text{
        padding-right: 10px;
    }
}



.scroll-emul_block{
  overflow-y: auto;
}
.scroll-emul_container{
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}
.scroll-emul_content{
    height: 100%;
    padding-right: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scroll-emul_content::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.scroll-emul_line{
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 10;
    width: 7px;
    height: calc(100% - 2px);
    background-color: transparent;
    border-radius: 3px;
}
.scroll-emul_line_item{
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 100%;
    background-color: #ffffff;
    border-radius: 3px;
}


.record_block{
    padding: 116px 0;
}
.record_title{
    color: #404040;
    text-align: center;
}
.record_form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 810px;
    margin: 56px auto 0;
}
.record_item{
    width: 35%;
}
.record_item-button{
    width: 23%;
}
.record_item input{
    width: 100%;
}
.record_item-button button{
    width: 100%;
}


/*.popup_container{
    position: fixed;
    top: -200%;
    left: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    padding: 10px;
    opacity: 0;
}
.popup_container.active{
    top: 0;
    opacity: 1;
    transition: top 0.2s ease-in-out, opacity 1s ease-in-out;
    -webkit-transition: top 0.2s ease-in-out, opacity 1s ease-in-out;
}
.popup_background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.popup{
    position: relative;
    z-index: 200;
    width: 100%;
    max-width: 624px;
    padding: 56px 24px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.popup_close{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 7px;
    height: 7px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.popup_close:hover{
    transform: scale(1.2);
}
.popup_close img{
    display: block;
}
.popup h2{
    margin-bottom: 20px;
    font-weight: 400;
    text-align: center;
}
.popup_form{
    width: 100%;
    max-width: 480px;
    margin: auto;
    text-align: center;
}
.popup_form_item{
    margin-bottom: 24px;
}
.popup_form_item:last-of-type{
    margin-bottom: 0;
}
.popup_form_item textarea{
    width: 100%;
    min-height: 144px;
}
.popup_form_item .form_validate_alert{
    display: none;
    margin-top: 10px;
    width: 100%;
    color: #ff0000;
    font-size: 14px;
    line-height: 1;
    text-align: center;
}
.popup_form_item.invalid .form_validate_alert{
    display: block;
}

@media screen and (max-width: 768px){
    .popup_container{
        max-height: 100vh;
        padding: 0;
        overflow: hidden;
    }
    .popup{
        max-height: 100%;
        overflow-y: auto;
    }
}*/


.select{
    position: relative;
    background-color: #ffffff;
    text-align: center; 
}
.select_option{
    width: 100%;
    padding: 14px 4px;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.select_option:hover{
    background-color: #f4f4f4;
}
.select_tit{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.select_option.selected{
    display: none;
}
.select_tit:after{
    content: "";
    position: absolute;
    top: 50%;
    right: 24px;
    display: block;
    width: 10px;
    height: 6px;
    background-image: url(../images/arrow_select.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(-50%);
}
.select_list_outer{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    height: 0;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
}
.select.active .select_list_outer{
    height: auto;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}