.checkbox {
	width: 51px;
	height: 24px;
	position: relative;
}
.checkbox input,
.checkbox input[type*="checkbox"] {
	top: -2px;
	left: 20px;
	z-index: 1;
	opacity: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	position: absolute;
}
.checkbox .checkbox-label:before {
	top: 0;
	left: 0;
	content: "";
	width: 51px;
	height: 24px;
	position: absolute;
	background: url('../image/icon_cheaper/check_yes.png') 51px center no-repeat;
	transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
}
.checkbox .checkbox-label {
	top: 0;
	left: 0;
	width: 51px;
	height: 24px;
	position: absolute;
	background: url('../image/icon_cheaper/chek_no.png') 0px center no-repeat;
	transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
}
.checkbox .checkbox-label:after {
	top: 1px;
	right: 1px;
	content: "";
	width: 23px;
	height: 21px;
	position: absolute;
	background: url('../image/icon_cheaper/check_slider.png') right center no-repeat;
	transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
}
.checkbox input:checked ~ .checkbox-label:before {
	background-position: left center;
}
.checkbox input:checked ~ .checkbox-label:after {
	right: 27px;
}
.checks {
	width: 16px;
	height: 16px;
	position: relative;
}
.checks input,
.checks input[type*="checkbox"] {
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	position: absolute;
}
.checks .checks-label:before {
	top: 0;
	left: 0;
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	background: url('../image/icon_cheaper/checks-y.png') 51px center no-repeat;
}
.checks .checks-label {
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
	position: absolute;
	background: url('../image/icon_cheaper/checks-n.png') 0px center no-repeat;
}
.checks input:checked ~ .checks-label:before {
	background-position: left center;
}
.checks input:checked ~ .checks-label:after {
	right: 16px;
}
.head-table {
	display: inline-block;
	float: left;
}
.head-info {
	display: inline-block;
	float: left;
	margin: 0 0 0 10px;
}
.payment-image {
	cursor: pointer;
}
.payment-image img {
	width: 50px;
}
.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.list thead td {
	background-color: #EFEFEE;
	padding: 0px 5px;
}
.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
.list tfoot td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
.list tfoot td a, .list tfoot td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
.list tbody td a {
	text-decoration: underline;
}
.list tbody td {
	vertical-align: middle;
	padding: 4px 5px;
	background: #FFFFFF;
}
.category tbody td {
	vertical-align: middle;
	padding: 5px;
	background: #FFFFFF;
}
.list tbody tr:hover td {
	background-color: #FFFFCB;
}
.form-horizontal .checkbox {
    margin-top: 3px;
}
.none {
	display: none;
}