.nav-pills {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    .nav-item {
        width: 100%;
    
        .nav-link {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;

            color: #C4C4C4;
            text-align: center;
            border-radius: 10px;
            padding: 14px;

            &.active {
                background: #0055A7;
                color: #fff;
            }
        }
    }
}