@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic');

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-ExtraBold.eot');
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
        url('../fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-ExtraBold.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Heavy.eot');
    src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
        url('../fonts/Gilroy/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-Heavy.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-LightItalic.eot');
    src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
        url('../fonts/Gilroy/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-LightItalic.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-ThinItalic.eot');
    src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
        url('../fonts/Gilroy/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-ThinItalic.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-BlackItalic.eot');
    src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
        url('../fonts/Gilroy/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-BlackItalic.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-BoldItalic.eot');
    src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
        url('../fonts/Gilroy/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-BoldItalic.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-SemiBold.eot');
    src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
        url('../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-SemiBold.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-UltraLightItalic.eot');
    src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
        url('../fonts/Gilroy/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-UltraLightItalic.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-SemiBoldItalic.eot');
    src: local('Gilroy SemiBold Italic'), local('Gilroy-SemiBoldItalic'),
        url('../fonts/Gilroy/Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('../fonts/Gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-MediumItalic.eot');
    src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
        url('../fonts/Gilroy/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-MediumItalic.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-ExtraBoldItalic.eot');
    src: local('Gilroy ExtraBold Italic'), local('Gilroy-ExtraBoldItalic'),
        url('../fonts/Gilroy/Gilroy-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-HeavyItalic.eot');
    src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
        url('../fonts/Gilroy/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-HeavyItalic.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-RegularItalic.eot');
    src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
        url('../fonts/Gilroy/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-RegularItalic.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-UltraLight.eot');
    src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
        url('../fonts/Gilroy/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-UltraLight.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Thin.eot');
    src: local('Gilroy Thin'), local('Gilroy-Thin'),
        url('../fonts/Gilroy/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-Thin.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Black.eot');
    src: local('Gilroy Black'), local('Gilroy-Black'),
        url('../fonts/Gilroy/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-Black.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}



*{
	margin: 0;
	padding: 0;
	word-break: break-word;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	outline: none;
}
html{}
body{
	position: relative;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
	color: #393939;
	font-family: Roboto, sans-serif;
  	font-size: 14px;
  	font-weight: 400;
  	line-height: 16px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}
body:after{
	/*content: "";*/
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(../img/pages/main.jpg);
	background-position: top center;
	background-size: 1440px;
	/*background-size: 375px;*/
	background-repeat: no-repeat;
	opacity: 0.6;
}
h1,h2,h3,h4,h5,h6{
  	margin-top: 0;
  	margin-bottom: 24px;
  	font-family: Gilroy, Roboto, sans-serif;
  	font-weight: 500;
	line-height: 1.4;
}
h1{
  	margin-bottom: 32px;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
}
h2{
  	margin-bottom: 32px;
	font-size: 36px;
	line-height: 42px;
}
h3{
	margin-bottom: 32px;
	font-size: 24px;
	line-height: 28px;
}
h4{
	font-size: 24px;
	line-height: 28px;
}
h5{
	font-size: 20px;
	line-height: 24px;
}
h6{
	font-size: 18px;
	line-height: 24px;	
}
img{
	max-width: 100%;
	border-style: none;
}
p{
	margin-bottom: 24px;
}
p:last-of-type{
	margin-bottom: 0;
}
a{
	color: inherit;
	text-decoration: none;
	cursor: pointer;
  	transition: all 0.2s ease-in-out;
}
a:hover{
	color: inherit;
	text-decoration: none;
}
a:focus,
a:visited{
	color: inherit;
	text-decoration: none;
}
label{
	cursor: pointer;
}
input,
textarea{
	padding: 12px 16px;
	background: #ffffff;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 16px;
	outline: none;
	border-radius: 100px;
	border: 1px solid #E5E5E5;
	transition: all 0.2s ease-in-out;
}
textarea{
	resize: none;
}
input.invalid,
input:invalid{
	border-color: #D92432;
}
input:focus,
textarea:focus{
	outline: none;
	border-color: #D92432;
}
input::placeholder,
textarea::placeholder{
	color: #959595;
	font-weight: 300;
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.hidden{
	display: none!important;
}


.select{
	position: relative;
	width: 100%;
	height: 40px;
	background: rgba(255, 255, 255, 0.5);
	color: rgba(0, 0, 0, 0.48);
	font-size: 16px;
	font-weight: 300;
	cursor: pointer;
}
.select_list{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	display: flex;
	flex-direction: column;
	max-height: 40px;
	border-radius: 4px;
	border: 1px solid #E0E0E0;
	overflow: hidden;
}
.select.active .select_list{
	border-color: #5173BE;
	transition: all 0.2s ease-in-out;
}
@keyframes select_list{
	0%{top: 18px;}
	25%{top: 20px;}
	50%{top: 18px;}
	75%{top: 20px;}
	100%{top: 18px;}
}
.select.active .select_list{
	max-height: 10000px;
	transition: all 0.2s ease-in-out;
}
.select_option{
	order: 8;
	padding: 8px 16px;
	background-color: #ffffff;
	border-bottom: 1px solid #E0E0E0;
}
.select_option:hover{
	color: rgba(0, 0, 0, 0.88);
	font-weight: 400;
}
.select_option.selected{
	order: 4;
	color: rgba(0, 0, 0, 0.88);
	mix-blend-mode: normal;
}
.select.active .select_option.default{
	order: 2;
}
.select.active .select_option.disabled{
	display: none;
}


.button_container{
	text-align: center;
}
.button_submit{
	display: inline-block;
	min-width: 184px;
	max-width: 100%;
	padding: 15px 10px;
	background-color: #D92432;
	color: #ffffff;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	text-align: center;
	border-radius: 100px;
	border: none;
	box-shadow: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.button_submit:hover{
	color: #ffffff;
	box-shadow: 0px 0px 10px rgba(217, 36, 50, 0.8);
}
.button_submit:focus,
.button_submit:visited{
	color: #ffffff;
}
.button_communication{
	display: inline-block;
	min-width: 284px;
	max-width: 100%;
	padding: 13px 10px;
	background-color: #D92432;
	color: #ffffff;
	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 21px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.button_communication:hover{
	color: #ffffff;
	box-shadow: 0px 0px 10px rgba(217, 36, 50, 0.8);
}
.button_communication:focus,
.button_communication:visited{
	color: #ffffff;
}
.button_order{
	display: inline-block;
	min-width: 256px;
	max-width: 100%;
	padding: 13px 10px 14px;
	background-color: #ffffff;
	color: #D92432;
	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 21px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.button_order:hover{
	background-color: #D92432;
	color: #ffffff;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
}
.button_photo{
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 9px 12px;
	background-color: #FAF7F7;
	color: #393939;
	font-family: Gilroy, Roboto, sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
	text-align: left;
	border-radius: 100px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.button_photo:hover{
	background-color: #D92432;
	color: #ffffff;
}
.button_photo:focus,
.button_photo:visited{
	color: #ffffff;
}
.button_photo_icon{
	position: absolute;
	top: 50%;
	right: 8px;
	z-index: 10;
	transform: translateY(-50%);
}
.button_photo_icon svg{
	display: block;
}
.button_photo_icon svg path{
	transition: all 0.2s ease-in-out;	
}
.button_photo:hover .button_photo_icon svg path{
	fill: #ffffff!important;
	stroke: #ffffff!important;
}

@media screen and (max-width: 768px){
	.button_photo_icon{
		right: 12px;
	}
}


.main-container{
	flex-grow: 100;
	height: 100%;
	padding: 16px 16px 16px 404px;
	background-image: linear-gradient(180deg, #D92331 0%, #FEB478 100%);
	color: #ffffff;
}
.main-container.pinl-var{
	background-color: #E5E5E5;
	color: inherit;
}

@media (max-width: 1100px){
	.main-container{
		padding: 0;
	}
}


.aside-main{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 348px;
	height: 100%;
	max-width: 100%;
}
.aside-main_container{
	padding: 16px;
}
.aside-main_box{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	background: #ffffff;
	color: #393939;
	border-radius: 25px;
	overflow: hidden;
}

.aside-main_head{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 16px 24px 24px;
}
.logo{
	width: 124px;
	height: 30px;
	font-size: 22px;
	font-weight: 500;
	line-height: 30px;
}
.logo span{
	display: block;
}
.aside-main_buttons{
	display: none;
}
.aside-main_butt{
	font-family: Gilroy, Roboto, sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
}
.aside-main_butt span{}
.aside-main_butt svg{
	display: block;
}


.aside-main_body{}
.aside-main_part{}
.aside-main_part-2{
	margin-top: 34px;
	flex-grow: 100;
	display: flex;
    flex-direction: column;
	padding: 12px;
}
.aside-main_title{
	color: #959595;
}
.aside-main_part-2 .aside-main_title{
	margin-bottom: 16px;
	padding-left: 12px;
	padding-right: 12px;
}
.list_container{
	margin-bottom: 32px;
}
.list_container-elastic{
	flex-grow: 100;
}
.list_box{
	position: relative;
	padding: 0 12px;
	margin-bottom: 9px;
	background: #FAF7F7;
	color: #757575;
	border-radius: 20px;
}
.list_box:last-of-type{
	margin-bottom: 0;
}
.list_box_title{
	position: relative;
	padding: 9px 0;
	color: #393939;
	font-family: Gilroy, Roboto, sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
	cursor: pointer;
}
.list_box_icon{
	position: absolute;
	top: 50%;
	right: -4px;
	z-index: 10;
	transform: translateY(-50%);
}
.list_box_icon svg{
	display: block;
}
.list_box_icon svg rect,
.list_box_icon svg path{
	transition: all 0.2s ease-in-out;	
}
.list_box:not(.active) .list_box_icon svg rect{
	fill: transparent!important;
}
.list_box:not(.active) .list_box_icon svg path{
	fill: #D92432!important;
}
.list_box_list{
	display: flex;
	flex-direction: column;
	max-height: 0px;
	opacity: 0;
	overflow: hidden;
	transition: opacity 0.4s ease-in-out;
}
.list_box.active .list_box_list{
	max-height: 10000px;
	padding-bottom: 9px;
	opacity: 1;
}
.list_box_item{
	margin-bottom: 8px;
}
.list_box_item:last-of-type{
	margin-bottom: 0;
}
.list_box_item:hover{
	color: #D92432;
}
.list_list{
	padding: 0 12px;
	font-family: Gilroy, Roboto, sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
}
.list_link{}
.list_link:hover{}

.aside-main_part-3{
	background-color: #FAF7F7;
	border-radius: 25px;
}
.aside-main_info{
	padding: 32px 24px;
}
.aside-main_inf{
	margin-bottom: 19px;
	font-family: Gilroy, Roboto, sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
}
.aside-main_part-3 .button_container{
	margin-top: 44px;
	padding: 16px;
}
.aside-main_part-3 .button_container a{
	width: 100%;
}

@media screen and (max-width: 1100px){
	.aside-main{
		width: 100%;
		height: 64px;
	}
	.aside-main.active{
		height: 100%;
	}
	.aside-main_container{
		padding: 8px;
	}
	.aside-main_box{
		border-radius: 15px;
	}
	.aside-main_head{
		padding: 13px 16px;
		margin-bottom: 0;
	}
	.aside-main_body{
		max-height: 0;
		opacity: 0;
		overflow: hidden;
	}
	.aside-main.active .aside-main_body{
		max-height: 10000px;
		min-height: calc(100vh - 16px);
		opacity: 1;
		transition: opacity 0.4s ease-in-out, max-height 0.2s linear;
		-webkit-transition: opacity 0.4s ease-in-out, max-height 0.2s linear;
	}
	.aside-main_buttons{
		display: block;
	}
	.aside-main_part-2{
		margin-top: 13px;
		padding: 16px 16px 0;
	}
	.aside-main_part-2 .aside-main_title{
		margin-bottom: 14px;
	}
	.list_container{
		margin-bottom: 30px;
	}
	.list_box_icon{
		right: 0;
	}
	.list_list p{
		margin-bottom: 21px;
	}
	.list_list p:last-of-type{
		margin-bottom: 0;
	}
	.aside-main_part-3{
		border-radius: 15px;
	}
	.aside-main_info{
		padding: 32px 28px;
	}
	.aside-main_inf{
		margin-bottom: 11px;
	}
	.aside-main_inf:last-of-type{
		margin-bottom: 0;
	}
	.aside-main_part-3 .button_container{
		padding: 0 8px 8px;
		margin-top: 0;
	}
}


.popup-container{
	position: fixed;
	top: -200%;
	left: 0;
	z-index: 10000;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	min-width: 100vw;
	min-height: 100vh;
	opacity: 0;
	transition: top 0.4s linear, opacity 0.6s ease-in-out;
}
.popup-container.active{
	top: 0;
	opacity: 1;
}
.popup-background{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(8px);
	cursor: pointer;
}
.popup{
	position: relative;
	z-index: 400;
	width: 100%;
	max-width: 600px;
	padding: 16px;
	background-color: #ffffff;
	font-size: 18px;
	font-family: Gilroy, Roboto, sans-serif;
	line-height: 21px;
	text-align: center;
	border-radius: 25px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
}
.popup_title{
	margin-top: 8px;
	margin-bottom: 12px;
}
.popup_form{}
.popup_input_item{
	margin-top: 16px;
}
.popup_input_item input{
	width: 100%;
	background-color: #FAF7F7;
	border-radius: 10px;
}
.popup_input_item-submit input{
	background-color: #D92432;
	font-size: 18px;
	font-family: Gilroy, Roboto, sans-serif;
	font-weight: 500;
	line-height: 21px;
}


.main-block{}
.center-main-block{
	max-width: 944px;
	padding-left: 16px;
	padding-right: 16px;
}


.header-main{
	display: flex;
	justify-content: flex-end;
}
.phone_box{
	position: relative;
	height: 40px;
	min-width: 184px;
	font-family: Gilroy, Roboto, sans-serif;
	font-size: 14px;
	line-height: 16px;
}
.phone_list{
	display: flex;
	flex-direction: column;
	max-height: 40px;
	padding: 12px 40px 12px 12px;
	background-color: rgba(255, 255, 255, 0.3);
	overflow: hidden;
	border-radius: 5px;
	cursor: pointer;
}
.phone_box.active .phone_list{
	max-height: 10000px;
	transition: all 0.4s ease-in-out;
}
.phone_item{
	order: 4;
	margin-bottom: 14px;
}
.phone_item:last-of-type{
	margin-bottom: 0;
}
.phone_list_icon{
	position: absolute;
	top: 12px;
	right: 12px;
	z-index: 10;
	transition: all 0.2s ease-in-out;
}
.phone_list_icon svg{
	display: block;
}
.phone_box:hover .phone_list_icon{
	animation: phone_list_icon 0.4s ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes phone_list_icon{
	0%{top: 12px}
	50%{top: 14px}
	100%{top: 12px}
}

@media (max-width: 1100px){
	.header-main{
		display: none;
	}
}


.main{
	padding-top: 26px;
}


.catalog_block{}
.catalog_block h1{
	margin-top: 42px;
}
.catalog_tabs{}

.catalog_tabs_box{
	position: relative;
	display: inline-flex;
	padding-right: 40px;
	padding-bottom: 16px;
	margin-bottom: 40px;
	font-family: Gilroy, Roboto, sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.catalog_tabs_line{
	position: absolute;
	left: 0;
	bottom: -2px;
	z-index: 10;
	display: inline-block;
	width: 53px;
	height: 2px;
	background-color: #ffffff;
	transition: left 0.4s ease-in-out;
}
.catalog_tabs_item{
	position: relative;
	padding-right: 40px;
	opacity: 0.5;
	cursor: pointer;
	transition: all 0.2s ease-in-out
}
.catalog_tabs_item:hover{
	opacity: 1;
}
.catalog_tabs_item.active{
	opacity: 1;
}
.catalog_tabs-content_box{}
.catalog_tabs-content_item{}


.tab_content{
	height: 0;
	opacity: 0;
	overflow: hidden;
}
.tab_content.active{
	padding-bottom: 20px;
	height: auto;
	animation: tab-content 0.4s ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes tab-content{
	0% {opacity: 0}
	100% {opacity: 1}
}


.catalog_slider{
	position: relative;
	margin-bottom: 67px;
}
.slider_arrow{
	position: absolute;
	right: 100px;
	bottom: 0;
	z-index: 100;
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	transform: translateY(50%);
	transition: all 0.2s ease-in-out;
}
.slider_arrow.non-active{
	opacity: 0.3;
	cursor: initial;
}
.slider_arrow-right{
	right: 0;
}
.slider_arrow_text{
	order: 4;
}
.slider_arrow_text:before{
	content: "Назад";
}
.slider_arrow-right .slider_arrow_text:before{
	content: "Дальше"
}
.slider_arrow_icon{
	order: 2;
	display: block;
	width: 24px;
	height: 24px;
	background-image: url(../img/slider_arrow.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	transform: scale(-1,1);
}
.slider_arrow-right .slider_arrow_icon{
	order: 6;
	transform: none;
}
.slider_line{
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 10;
	height: 2px;
	width: calc(100% - 200px);
	background-color: rgba(255, 255, 255, 0.3);
}
.slider_line_item{
	background-color: #ffffff;
}

.catalog_box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: -24px;
	padding-top: 24px;
}
.catalog_punkt{
	width: 31.5789%;
	margin-bottom: 24px;
	background-color: #ffffff;
	color: #393939;
	border-radius: 10px;
	overflow: hidden;
}
.catalog_slide{
	margin-bottom: 40px;
}
.catalog_punkt figure{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 86%;
}
.catalog_punkt figure.size-half{
	padding-bottom: 51.38%;
}
.catalog_punkt figure img{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top center;
}
.catalog_punkt figcaption{
	padding: 16px;
}
.catalog_punkt figcaption p{
	margin-bottom: 4px;
}
.catalog_punkt figcaption p:last-of-type{
	margin-bottom: 0;
}
.catalog_punkt_t{}
.catalog_punkt_b{
	color: #959595;
}

@media (max-width: 1100px){}
@media (max-width: 768px){
	.catalog_tabs_box{
		width: 100%;
		justify-content: space-between;
		padding-right: 0;
		padding-bottom: 21px;
	}
	.catalog_tabs_item{
		flex-grow: 100;
		padding-right: 0;
		font-size: 14px;
		line-height: 16px;
	}
	.catalog_slider .slider_box{
		max-width: 66%;
	}
	.slider_arrow{
		display: none;
	}
	.slider_line{
		width: 100%;
	}
	.catalog_box_scroll{		
		overflow-x: scroll;
	}
	.catalog_box_scroll .catalog_box{
		min-width: 719px;
	}
	.catalog_box{
		padding-top: 16px;
		margin-top: -16px;
	}
	.catalog_item{
		margin-bottom: 16px;
	}
}