
.client-review_block {
    padding-bottom: 40px;
}
.client-review_block .client-review-head_block:after {
    content: "";
    display: block;
    clear: both;
}
.client-review_block .client-review-head_block .client-review_title {
    color: #222;
    text-transform: uppercase;
    font-family: OpenSansSemibold;
    font-size: 27px;
    float: left;
}
.btn_show{
    float: right;
}
.btn_send_review{
    width: auto;
    margin: auto;
}
.client-review_block .client-review-head_block .open-review-form_button {
    width: 200px;
    height: 60px;
    background: url(../image/review_form_open_ico.png) no-repeat #1fc3df;
    border-radius: 30px;
    line-height: 60px;
    border: none;
    font-size: 16px;
    color: #fff;
    font-family: OpenSans;
    background-position: 30px;
    padding-right: 40px;
    text-align: right;
    outline: none;
    float: right;
}
.review-form_block {
    width: 100%;
    max-width: 1270px;
    border: 2px solid #d9d9d9;
    margin: 40px auto 0;
    text-align: center;
    padding: 40px 0;
    position: relative;
}
.review-form_block button.close {
    width: 26px;
    height: 26px;
    display: block;
    position: absolute;
    opacity: 1;
    background: url(../image/modal_close_ico.png);
    background-size: contain;
    right: 25px;
    top: 50px;
    outline: none;
}
.review-form_block .review-form_title {
    color: #222;
    font-family: OpenSansSemibold;
    text-transform: uppercase;
    font-size: 27px;
    margin-bottom: 30px;
    display: block;
}
.review-form_block .form-body_block {
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
    text-align: left;
}
.review-form_block .form-body_block .add-photo_block .user-photo {
    width: 65px;
    height: 65px;
    border-radius: 50%}
.review-form_block .form-body_block .select-photo-trigger {
    border: none;
    background: none;
    color: #1fc3df;
    outline: none;
    margin-left: 10px;
    font-family: OpenSans;
    font-size: 16px;
}
.client-name
{
    float: left;
    margin-right: 25px;
}
.review-form_block .form-body_block #client-comment, .review-form_block .form-body_block #client-name {
    width: 100%}
.review-form_block .form-body_block .send-form_button {
    width: 200px;
    height: 60px;
    background: url(../image/review_form_open_ico.png) no-repeat #1fc3df;
    border-radius: 30px;
    line-height: 60px;
    border: none;
    font-size: 16px;
    color: #fff;
    font-family: OpenSans;
    background-position: 30px;
    padding-right: 40px;
    text-align: right;
    outline: none;
    margin: 50px auto 0;
    display: block;
}
.custom-input_block.focused:before, .custom-input_block:before {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.custom-input_block.focused:before {
    top: -15px;
    font-size: 14px;
    line-height: 14px;
    color: #1fc3df;
    z-index: 1;
}
.custom-input_block .custom-field {
    font-family: OpenSans;
    font-size: 18px;
    color: #1c1c1c;
    border: none;
    border: 1px solid #e8e8e8 !important;
    outline: none;
    height: 30px;
    max-width: 100%;
    position: relative;
    background: transparent;
    z-index: 2;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}
.custom-input_block .custom-field .form-horizontal input
{
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    border: 1px solid #e8e8e8 !important;
}
.custom-input_block .custom-field, .custom-input_block .custom-field:focus {
    -webkit-transition: border-color .3s;
    -o-transition: border-color .3s;
    transition: border-color .3s;
}
.custom-input_block .custom-field:focus {
    border-bottom-color: #1fc3df;
}
.rating_block ul {
    height: 18px;
    margin-top: 10px;
    padding-left: 0px;
}
 
.rating_block ul li {
    display: inline-block;
}
.rating_block ul li div {
    width: 18px;
    height: 18px;
    background: url(../image/empty_star.png) 50%;
    background-size: contain;
}
.rating_block ul li.marked div {
    background: url(../image/fill_star.png) 50%}
.rating_block .total-reviews_element {
    padding-left: 10px;
    color: #1fc3df;
    line-height: 18px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}
.review-rating_block {
    margin-top: 40px;
}
.review-rating_block:after {
    content: "";
    display: block;
    clear: both;
}
.review-rating_block input[type=radio] {
    display: none;
}
.review-rating_block .rating_title {
    float: left;
    color: #222;
    font-family: OpenSans;
    font-size: 16px;
    letter-spacing: .4px;
    padding-right: 20px;
    line-height: 37px;
}
.review-rating_block ul {
    float: left;
}
.review-rating_block ul li {
    float: left;
    padding-right: 10px;
    position: relative;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    padding: 0;
}
.review-rating_block ul li input[type=radio]+label {
    width: 32px;
    height: 32px;
    background: url(../image/review_rating_ico.png) no-repeat 50%;
    display: block;
    background-size: contain;
    cursor: pointer;
    position: absolute;
}
.review-rating_block ul li.current-rating input[type=radio]+label {
    background: url(../image/review_rating_active_ico.png) no-repeat 50%}
.review-form_block .form-body_block {
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
    text-align: left;
}