/*@import "../fontawesome/fontawesome.scss";
@import "../fontawesome/solid.scss";
@import "../fontawesome/brands.scss";*/

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans/MuseoSansCyrl-100.eot');
    src: local('../fonts/MuseoSans/MuseoSansCyrl-100'),
    url('../fonts/MuseoSans/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/MuseoSansCyrl-100.woff') format('woff'),
    url('../fonts/MuseoSans/MuseoSansCyrl-100.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans/MuseoSansCyrl-100Italic.eot');
    src: local('../fonts/MuseoSans/MuseoSansCyrl-100Italic'),
    url('../fonts/MuseoSans/MuseoSansCyrl-100Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/MuseoSansCyrl-100Italic.woff') format('woff'),
    url('../fonts/MuseoSans/MuseoSansCyrl-100Italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans/MuseoSansCyrl-300.eot');
    src: local('../fonts/MuseoSans/MuseoSansCyrl-300'),
    url('../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/MuseoSansCyrl-300.woff') format('woff'),
    url('../fonts/MuseoSans/MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans/MuseoSansCyrl-300Italic.eot');
    src: local('../fonts/MuseoSans/MuseoSansCyrl-300Italic'),
    url('../fonts/MuseoSans/MuseoSansCyrl-300Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/MuseoSansCyrl-300Italic.woff') format('woff'),
    url('../fonts/MuseoSans/MuseoSansCyrl-300Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans/MuseoSansCyrl-500.eot');
    src: local('../fonts/MuseoSans/MuseoSansCyrl-500'),
    url('../fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/MuseoSansCyrl-500.woff') format('woff'),
    url('../fonts/MuseoSans/MuseoSansCyrl-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans/MuseoSansCyrl-500Italic.eot');
    src: local('../fonts/MuseoSans/MuseoSansCyrl-500Italic'),
    url('../fonts/MuseoSans/MuseoSansCyrl-500Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/MuseoSansCyrl-500Italic.woff') format('woff'),
    url('../fonts/MuseoSans/MuseoSansCyrl-500Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans/MuseoSansCyrl-700.eot');
    src: local('../fonts/MuseoSans/MuseoSansCyrl-700'),
    url('../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/MuseoSansCyrl-700.woff') format('woff'),
    url('../fonts/MuseoSans/MuseoSansCyrl-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans/MuseoSansCyrl-700Italic.eot');
    src: local('../fonts/MuseoSans/MuseoSansCyrl-700Italic'),
    url('../fonts/MuseoSans/MuseoSansCyrl-700Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/MuseoSansCyrl-700Italic.woff') format('woff'),
    url('../fonts/MuseoSans/MuseoSansCyrl-700Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans/MuseoSansCyrl-900.eot');
    src: local('../fonts/MuseoSans/MuseoSansCyrl-900'),
    url('../fonts/MuseoSans/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/MuseoSansCyrl-900.woff') format('woff'),
    url('../fonts/MuseoSans/MuseoSansCyrl-900.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans/MuseoSansCyrl-900Italic.eot');
    src: local('Museo Sans Cyrl 900 Italic'), local('../fonts/MuseoSans/MuseoSansCyrl-900Italic'),
    url('../fonts/MuseoSans/MuseoSansCyrl-900Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/MuseoSansCyrl-900Italic.woff') format('woff'),
    url('../fonts/MuseoSans/MuseoSansCyrl-900Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}




*{
    margin: 0;
    padding: 0;
    font-family: inherit;
    word-break: break-word;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
}
html{}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    color: #20262E;
    font-family: Museo, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 300;
    line-height: 1.29;
}
h1{
    margin-bottom: 40px;
    font-size: 36px;
    text-transform: uppercase;
}
h2{
    margin-bottom: 40px;
    font-size: 26px;
    line-height: 1.19;
    text-transform: uppercase;
}
h3{
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;    
}
h4{
    margin-bottom: 12px;
    font-size: 17px;
    font-weight: 500;
    line-height: 19px;
}
img{
    max-width: 100%;
    border-style: none;
}
p{
    margin-bottom: 0.75em;
}
p:last-of-type{
    margin-bottom: 0;
}
a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
a:hover{
    color: inherit;
    text-decoration: none;
}
a:focus,
a:visited{
    color: inherit;
    text-decoration: none;
}
ul,ol{
    padding-left: 1.2em;
}
ul li,
ol li{
    margin-bottom: 10px;
}
label{
    cursor: pointer;
}
iframe{
    border: none;
    outline: none;
}
input,
textarea{
    padding: 14px 20px;
    background: #f5f5f5;
    color: inherit;
    font-size: 12px;
    line-height: 20px;
    outline: none;
    border-radius: 7px;
    border: 1px solid #ffffff;
    transition: all 0.2s ease-in-out;
}
textarea{
    min-height: 104px;
    padding: 10px 20px;
    resize: none;
}
input.invalid,
textarea.invalid{
    border-color: #ff0000;
}
input:focus,
textarea:focus{
    outline: none;
    border-color: #31beff;
}
input::placeholder,
textarea::placeholder{
    color: #757575;
    font-weight: 300;
}
input.fill{
    border-color: #008000;
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
.inputFile{
    display: none;
}
.inputFileLabel{
    display: block;
    padding: 14px 20px;
    background: #f5f5f5;
    color: #757575;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    border-radius: 7px;
    border: 1px solid #ffffff;
    transition: all 0.2s ease-in-out;
}


.hidden{
    display: none!important;
}
.color1{
    color: #f56107!important;
}


.button_container{
    text-align: center;
}

.main .button_green{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 16px 44px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    /*box-shadow: 0 5px 20px rgba(53, 141, 68, 0.47);*/
}
.main .button_green:hover{
    color: #ffffff;
    text-decoration: none;
}
.main .button_green:active,
.main .button_green:focus,
.main .button_green:visited{
    color: #ffffff;
    text-decoration: none;
}
.main .button_green:before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #358d44;
    border-radius: 7px;
    border: 1px solid #358D44;
    transform: translate(-50%,-50%);
    transition: all 0.2s ease-in-out;
}
.main .button_green:hover:before{
    transform: translate(-50%,-50%) scale(1.1);
}
.main .button_green span{
    position: relative;
    z-index: 4;
}
.main .button_green-lock span:after{
    content: "";
    position: absolute;
    top: 50%;
    right: -14px;
    display: block;
    width: 15px;
    height: 20px;
    background-image: url(../images/lock.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(100%,-50%);
}

.main .button_trans{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 16px 44px;
    color: #358D44;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
}
.main .button_trans:hover{
    color: #358D44;
    text-decoration: none;
}
.main .button_trans:active,
.main .button_trans:focus,
.main .button_trans:visited{
    color: #358D44;
    text-decoration: none;
}
.main .button_trans:before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    border: 1px solid #358D44;
    transform: translate(-50%,-50%);
    transition: all 0.2s ease-in-out;
}
.main .button_trans:hover:before{
    transform: translate(-50%,-50%) scale(1.1);
}
.main .button_trans-refresh:after{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../images/refresh.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.main .button_trans span{
    z-index: 4;
}

.main .button_gray{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 112px;
    padding: 11px 10px;
    background-color: #ffffff;
    color: #20262E;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #D4D9DE;
}
.main .button_gray:hover{
    background-color: #f4f4f4;
    color: #20262E;
    text-decoration: none;
}
.main .button_gray:active,
.main .button_gray:focus,
.main .button_gray:visited{
    color: #20262E;
    text-decoration: none;
}

.button_submit{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 200px;
    padding: 15px 10px;
    color: #ffffff;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
.button_submit span{
    z-index: 4;
}
.button_submit:before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background-color: #358d44;
    border: 1px solid #358D44;
    box-shadow: 0 5px 20px rgba(53, 141, 68, 0.47);
    transform: translate(-50%,-50%);
    transition: all 0.2s ease-in-out;
}
.button_submit:hover:before{
    transform: translate(-50%,-50%) scale(1.1);
}
.button_submit:disabled:before{
    background-color: #67a972;
    border-color: #67a972;
}
.button_submit:disabled:hover:before{
    transform: translate(-50%,-50%);
}



.main-container{
    width: 100%;
    max-width: 100vw;
    padding-left: 200px;
    overflow-x: hidden;
}
.main-container-full{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 0;
}

@media screen and (max-width: 1100px){
    .main-container{
        display: block;
        padding-top: 41px;
        padding-left: 0;
    }
    .main-container-full{
        padding-top: 95px;
    }
}


.main{
    flex-grow: 100;
    width: 100%;
}
.main-block{
    margin: 100px 0;
}
.center-main-block{
    width: 100%;
    max-width: 968px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.center-main-block-full{
    max-width: 100%;
}
.center-main-block-no-padding{
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

@media screen and (min-width: 1441px){
    .center-main-block{
        max-width: 1068px;
        padding-left: 70px;
        padding-right: 70px;
    }
    .center-main-block-full{
        max-width: 100%;
    }
    .center-main-block-no-padding{
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}
@media screen and (max-width: 1100px){
    .main{
        width: 100%;
    }
}


.video_block{}
.video_container{
    position: relative;
    display: flex;
    align-items: center;
}
.video_box{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-color: #121212;
}
.video_box iframe{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    display: block;
    width: 100%;
    height: 100%;
}
.video_box video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.video_emulate{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video_emulate:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 78px;
    height: 78px;
    background-image: url(../images/play-btn.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in-out;
}
.video_emulate img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video_control{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #ffffff;
    text-align: center;
}
.video_control:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}
.video_box.active .video_control{
    display: none;
}
.video_control_inner{
    position: relative;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.video_control h2{
    font-size: 36px;
    line-height: 1.33;
}
.video_butt{}
.video_butt a{
    display: block;
    width: 78px;
    height: 78px;
    background-image: url(../images/play-btn.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out;
}
.video_butt a:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 768px){
    .video_control h2{
        margin-bottom: 16px;
        font-size: 20px;
    }
}


.lightbox_container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
}
.lightbox_background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 120;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}
.lightbox{
    position: relative;
    z-index: 200;
    margin: 50px;
    max-width: calc(100% - 100px);
    max-height: calc(100% - 100px);
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #ffffff;
}
.lightbox_close{
    position: absolute;
    top: -30px;
    right: -30px;
    z-index: 220;
}
.lightbox_arrow{
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.lightbox_arrow-right{
    left: auto;
    right: -40px;
}
.lightbox .fa{
    display: block;
    color: #ffffff;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.lightbox .fa:hover{
    opacity: 0.8;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.lightbox img{
    display: block;
    max-width: calc(100vw - 100px);
    max-height: calc(100vh - 100px);
}
.lightbox img.active{
    animation: lightbox 0.2s ease-in-out;
}
@keyframes lightbox{
    0%{opacity: 0;}
    100%{opacity: 1;}
}


.scroll-emul_block{
    overflow-y: hidden;
}
.scroll-emul_container{
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}
.scroll-emul_content{
    width: calc(100% + 50px);
    height: 100%;
    padding-right: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
}
.scroll-emul_content::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.scroll-emul_line{
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 10;
    width: 3px;
    height: calc(100% - 2px);
    background-color: rgba(220, 220, 220, 0.5);
    border-radius: 2px;
}
.scroll-emul_line_item{
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: rgba(220, 220, 220, 0.8);
    border-radius: 2px;
}


.popup_container{
    position: fixed;
    top: -200%;
    left: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    padding: 10px;
    opacity: 0;
}
.popup_container.active{
    top: 0;
    opacity: 1;
    transition: top 0.2s ease-in-out, opacity 1s ease-in-out;
    -webkit-transition: top 0.2s ease-in-out, opacity 1s ease-in-out;
}
.popup_background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.popup{
    position: relative;
    z-index: 200;
    width: 100%;
    max-width: 624px;
    padding: 56px 24px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.popup_close{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 7px;
    height: 7px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.popup_close:hover{
    transform: scale(1.2);
}
.popup_close img{
    display: block;
}
.popup h2{
    margin-bottom: 20px;
    font-weight: 400;
    text-align: center;
}
.popup_form{
    width: 100%;
    max-width: 480px;
    margin: auto;
    text-align: center;
}
.popup_form_item{
    margin-bottom: 24px;
}
.popup_form_item:last-of-type{
    margin-bottom: 0;
}
.popup_form_item textarea{
    width: 100%;
    min-height: 144px;
}
.popup_form_item .form_validate_alert{
    display: none;
    margin-top: 10px;
    width: 100%;
    color: #ff0000;
    font-size: 14px;
    line-height: 1;
    text-align: center;
}
.popup_form_item.invalid .form_validate_alert{
    display: block;
}

@media screen and (max-width: 768px){
    .popup_container{
        max-height: 100vh;
        padding: 0;
        overflow: hidden;
    }
    .popup{
        max-height: 100%;
        overflow-y: auto;
    }
}


.doc-header{
    border-bottom: 1px solid #F2F4F8;
}
.doc-header .doc-center-main-block{
    display: flex;
    justify-content: space-between;
}
.doc-logo{
    display: flex;
    height: 100%;
    padding: 16px 0;
}
.doc-logo img{
    display: block;
    width: 140px;
}
.doc-header_container{
    flex-grow: 100;
    display: flex;
    justify-content: flex-end;
}
.doc-header_box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    border-right: 1px solid #F2F4F8;
}
.doc-header_box_item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 32px;
    border-left: 1px solid #F2F4F8;
}
.doc-header_box_item_link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.doc-header_box_item_link.doc-header_box_item_link-gray{
    color: #808080;
}
.doc-header_box_item_link svg{
    display: block;
    height: 24px;
    margin-right: 4px;
}
.doc-header_box_item_link img{
    display: block;
    height: 24px;
    margin-right: 8px;
    border-radius: 50%;
}
.doc-header_box_item_link span{
    display: block;
}
.doc-header_box_item_arrow{
    display: block;
    margin-left: 4px;
}
.doc-header_box_item_arrow img{
    display: block;
    width: 8px;
}
.doc-header_box_item_langs{
    position: relative;
    width: 20px;
    height: 18px;
}
.doc-header_box_item_langs:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.doc-header_box_item_langs.active:after{
    display: none;
}
.doc-header_box_item_langs_list{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 18px;
    background-color: #ffffff;
    overflow: hidden;
}
.doc-header_box_item_langs.active .doc-header_box_item_langs_list{
    height: auto;
}
.doc-header_box_item_lang{
    order: 4;
    display: inline-block;
    width: 20px;
    height: 18px;
    line-height: 20px;
    text-align: center;
    opacity: 0;
}
.doc-header_box_item_lang.active{
    order: 2;
    color: #F56107;
    opacity: 1;
}
.doc-header_box_item_langs.active .doc-header_box_item_lang{
    opacity: 1;
}
.doc-header_search{
    flex-grow: 100;
    display: flex;
    align-items: center;
    height: 0;
    width: 0;
    opacity: 0;
    overflow: hidden;
}
.doc-header_search.active{
    width: auto;
    height: auto;
    margin-left: 125px;
    opacity: 1;
    overflow: visible;
    transition: opacity 0.4s ease-in-out;
}
.doc-header_search .face_form{
    flex-grow: 100;
}
.doc-header_search .face_form_item-search{
    flex-grow: 100;
    width: auto;
    border-right: 1px solid #E6E6E6;
}
.doc-header_search .face_form_item-search input,
.doc-header_search .select_option{
    background-color: #F5F5F5;
}
.doc-header_search .face_form_item-search input{
    border-color: #F5F5F5;
}
.doc-header_search .face_form_item-button button{
    z-index: 0;
}
.doc-header_search .face_form_item-button button:before{
    border-radius: 0 7px 7px 0;
    box-shadow: none;
    transform: translate(-50%,-50%);
}
.doc-header_search .face_form_item-cancel{
    display: inline-block;
    margin-left: 16px;
    color: #F56107;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 1100px){
    .doc-header{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        min-width: 100vw;
    }
}


.doc-main-block{}
.doc-center-main-block{
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.doc-main-block h1{
    font-weight: 400;
}
.doc-main-block h2{
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    text-transform: uppercase;
}
.doc-main-block .button_green:before{
    box-shadow: none;
}

@media screen and (max-width: 768px){
    .doc-main-block h1{
        font-size: 20px;
        line-height: 24px;
    }
    .doc-main-block h2{
        font-size: 24px;
        line-height: 29px;
    }
}


.face-block{
    padding: 112px 0;
    background-color: #f4f4f4;
    background-image: url(../images/ad_bg.jpg);
    background-size: cover;
}
.face_content{
    width: 100%;
    max-width: 540px;
}
.face_title{
    margin-bottom: 24px;
}
.face_form{
    display: flex;
    align-items: center;
}
.face_form_item{}
.face_form_item-search{
    position: relative;
    width: 100%;
    border-right: 1px solid #EEEEEE;
}
.face_form_item-search input{
    width: 100%;
    padding-left: 42px;
    background-color: #FFFFFF;
    border-radius: 7px 0 0 7px;
}
.face_form_item-search a{
    position: absolute;
    display: block;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.face_form_item-search img{
    display: block;
    width: 20px;
}
.face_form_item-select{
    font-size: 14px;
    line-height: 17px;
}
.face_form_item-select .select{
    width: 155px;
    min-width: 155px;
}
.select{
    position: relative;
    background-color: #ffffff;
    text-align: center; 
}
.select_option{
    width: 100%;
    padding: 16px 4px 17px;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.select_option:hover{
    background-color: #f4f4f4;
}
.select_tit{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.select_option.selected{
    display: none;
}
.select_tit:after{
    content: "";
    width: 10px;
    height: 6px;
    display: block;
    margin-left: 15px;
    background-image: url(../images/downarrow_black.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}
.select_list_outer{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    height: 0;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
}
.select.active .select_list_outer{
    height: auto;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}
.face_form_item-button{}
.face_form_item-button button{
    position: relative;
    z-index: 20;
    min-width: 96px;
    font-size: 14px;
    line-height: 17px;
    text-transform: none;
}
.face_form_item-button button:before{
    border-radius: 0 7px 7px 0;    
}

@media screen and (max-width: 768px){
    .face-block{
        padding: 64px 0;
    }
    .face_content{
        max-width: 100%;
    }
    .doc-main-block .face_title{
        font-size: 24px;
        line-height: 29px;
        text-align: center;
    }
    .face_form_item-select{
        display: none;
    }
}


.doc-category{
    padding: 40px 0;    
}
.doc-category_title{
    margin-bottom: 24px;
}
.doc-category_box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.doc-category_item{
    width: calc((100% - 81px) / 4);
    padding: 16px 20px 24px;
    margin-right: 27px;
    margin-bottom: 20px;
    background-color: #F3F6F9;
    border-radius: 5px;
}
.doc-category_item:last-of-type{
    margin-right: 0;
}
.doc-category_item figure{
    display: flex;
    align-items: center;
}
.doc-category_item figure div{
    position: relative;
    width: 108px;
    min-width: 108px;
    height: 90px;
    margin-right: 16px;
}
.doc-category_item figure img{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    object-fit: contain;
    object-position: center left;
}
.doc-category_item figure figcaption{
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.div-category_item_content{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}
.div-category_item_text{
    margin-top: 16px;
    flex-grow: 100;
}
.div-category_item_links{
    position: relative;
    padding-top: 18px;
    margin-top: 16px;
    color: #F56107;
}
.div-category_item_links:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 2px;
    background-color: #F57C1D;
}
.div-category_item_links p{
    margin-bottom: 12px;
}
.div-category_item_links p:last-of-type{
    margin-bottom: 0;
}
.div-category_item_link{
    text-decoration: underline;
}

@media screen and (max-width: 1100px){
    .doc-category_item{
        margin-right: 0;
    }
    .doc-category_item figure{
        display: block;
    }
}

@media screen and (max-width: 768px){
    .doc-category_item figure{
        display: flex;
    }
}


.doc-footer{
    padding: 32px 0;
    background-color: #E7ECEF;
    font-weight: 400;
}
.doc-footer .doc-center-main-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*.doc-footer_langs{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}
.doc-footer_lang{
    display: inline-block;
    margin-right: 20px;
}
.doc-footer_lang:hover{
    color: #F56107; 
}
.doc-footer_lang.active{
    color: #F56107;
}*/
.doc-footer_main-link{
    color: #F56107;
    text-decoration-line: underline;
}
.doc-footer_main-link:hover{
    color: #F56107;
    text-decoration-line: none;
}

.doc-footer_contacts{}
.doc-footer_contact{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.doc-footer_contact:last-of-type{
    margin-bottom: 0;
}
.doc-footer_contact img{
    display: block;
}
.doc-footer_contact span{
    display: block;
    margin-left: 8px;
}

@media screen and (max-width: 768px){
    .doc-footer{
        padding: 40px 0 39px;
    }
}


.doc-breadcrumbs{
    padding: 12px 0;
    margin-bottom: 40px;
    background-color: #F9FAFB;
}
.doc-breadcrumbs_box{
    color: #808080;
    font-size: 14px;
    line-height: 160%;
}
.doc-breadcrumbs_box_item{
    display: inline;
    color: #F67426;
}
.doc-breadcrumbs_box_item:after{
    content: "/";
    display: inline-block;
    padding-left: 0.3em;
}
.doc-breadcrumbs_box_item:last-of-type{
    color: #808080;
}
.doc-breadcrumbs_box_item:last-of-type:after{
    display: none;
}

@media screen and (max-width: 768px){
    .doc-footer .doc-center-main-block{
        flex-direction: column;
        align-items: flex-start;
    }
    .doc-footer_main-link{
        margin-top: 24px;       
    }
    .doc-footer_contacts{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .doc-footer_contact{
        margin-top: 24px;
        margin-right: 22px;
        margin-bottom: 0;
    }
    .doc-footer_contact:last-of-type{
        margin-right: 0;
    }
}


.filling-block{
    padding-bottom: 52px;
}
.filling-block .doc-center-main-block{
    display: flex;
}
.filling_aside{
    position: relative;
    width: 44px;
    min-width: 44px;
}
.filling_aside.active{
    width: 531px;
    min-width: 531px;
}
.filling_aside_costul{
    height: 200px;
}
.filling_aside_container{
    position: sticky;
    position:-webkit-sticky;
    top: 0;
    padding: 0;
    transition: width 0.4s ease-in-out, min-width 0.4s ease-in-out;
}
.filling_aside.active .filling_aside_container{
    padding: 0 32px 20px;
    border-radius: 5px;
    border: 1px solid #D9DADD;

}
.filling_switcher{
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
}
.filling_aside.active .filling_switcher{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 10px;
}
.filling_switcher_title{
    margin-top: 6px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}
.filling_aside.active .filling_switcher_title{
    margin-top: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
}
.filling_switcher_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #358D44;
    border-radius: 5px;
    cursor: pointer;
}
.filling_aside.active .filling_switcher_button{
    background-color: transparent;
}
.filling_switcher_button svg{
    display: block;
    height: 20px;
    --svg-color1: #ffffff;
    transform: rotate(90deg);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.filling_aside.active .filling_switcher svg{
    --svg-color1: #808080;
    transform: rotate(-90deg);  
}
.filling_nav{
    width: 0;
    height: 0;
    font-size: 16px;
    line-height: 19px;
    opacity: 0;
    overflow: hidden;
}
.filling_aside.active{
    width: auto;
    transition: width 0s;
    transition-delay: 0.4s;
}
.filling_aside.active .filling_nav{
    height: auto;
    opacity: 1;
    width: calc(100% + 20px);
    padding-bottom: 20px;
    margin-left: -20px;
    transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
}
.filling_nav_item{
    position: relative;
    height: 0;
    padding-left: 20px;
    opacity: 0;
    overflow: hidden;
}
.active>.filling_nav_item{
    height: auto;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
}
.filling_nav_item.active:before{
    content: "";
    position: absolute;
    top: 24px;
    left: 28px;
    width: 0;
    height: calc(100% - 42px);
    border-right: 1px dashed #D9DADD;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.filling_nav_item_punkt{
    position: relative;
    display: block;
    margin-bottom: 18px;
    padding-left: 24px;
}
.filling_nav_item_punkt:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    background-color: #F57C1D;
    background-image: url(../images/filling_nav_item_punkt.svg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.filling_nav_item_punkt:after{
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: #ffffff;
    transform: translateY(-50%);
    display: block;
    width: 1px;
    height: 7px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.filling_nav_item.active>.filling_nav_item_punkt:after{
    transform: translate(-50%,-50%) rotate(-90deg);
    -webkit-transform: translate(-50%,-50%) rotate(-90deg);
}
.filling_nav_item_link{
    display: flex;
    padding-left: 11px;
    margin-bottom: 18px;
}
.filling_nav_item_link:before{
    content: "";
    display: block;
    width: 5px;
    height: 19px;
    margin-right: 8px;
    background-image: url(../images/rightarrow_orange.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.filling_nav_item_link.active{
    font-weight: 400;
}

.filling_content{
    width: 100%;
    padding-left: 29px;
}
.filling_content_header{
    border-bottom: 1px solid #EEEEEE;
}
.filling_content_header_title{
    margin-bottom: 16px;
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
}
.filling_content_header_panel{
    display: flex;
    flex-wrap: wrap;
}
.filling_content_header_panel_item{
    display: flex;
    align-items: center;
    margin-right: 32px;
    margin-bottom: 21px;
    color: #808080;
    font-size: 14px;
    line-height: 17px;
}
.filling_content_header_panel_item img{
    display: block;
    height: 24px;
    margin-right: 4px;
}
.filling_content_header_panel_item-like span{
    padding-bottom: 2px;
    display: inline-block;
    color: #F56107;
    border-bottom: 1px dashed #F56107;
}
.filling_content_header_panel_item-finger{
}
.filling_content_header_panel_item-finger-yes{
    margin-right: 12px;
    color: #5CB85C;
}
.filling_content_header_panel_item-finger-no{
    margin-right: 0;
    color: #D9534F;
}
.filling_content_text{
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 160%;
}
.filling_content_text p{
    margin-bottom: 20px;
}
.filling_content_text img{
    margin-bottom: 20px;
}
.filling_articles{}
.filling_articles_title{
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
}
.filling_articles_item{
    display: flex;
    margin-bottom: 19px;
    font-size: 14px;
    line-height: 17px;
}
.filling_articles_item:hover{
    color: #F56107;
}
.filling_articles_item:before{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-image: url(../images/document.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.filling_question{
    margin-top: 40px;
    padding: 40px 0 40px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
.filling_question_title{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
}
.filling_question_buttons{
    display: flex;
    align-items: center;
    color: #ffffff;
}
.filling_question_button{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 112px;
    padding: 11px 10px;
    margin-right: 24px;
    background-color: #5CB85C;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #5CB85C;
    text-transform: uppercase;
}
.filling_question_button:last-of-type{
    margin-right: 0;
}
.filling_question_button:after{
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 4px;
    background-image: url(../images/hand.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.filling_question_button:hover:after{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.filling_question_button-red{
    background-color: #D9534F;
    border-color: #D9534F;
}

@media screen and (max-width: 1100px){
    .filling-block .doc-center-main-block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .filling_aside{
        margin-bottom: 32px;
    }
    .filling_aside.active{
        min-width: 0;
    }
    .filling_content{
        padding-left: 0;
    }
}
@media screen and (max-width: 768px){
    .filling-block{
        padding: 0 0 44px;
    }
    .filling_aside{
        width: 100%;
        min-width: 0;
    }
    .filling_switcher{
        padding: 20px 0;
    }
    .filling_switcher_title{
        font-size: 16px;
        line-height: 19px;
    }
    .filling_aside.active .filling_nav{
        padding-bottom: 0;
    }
    .filling_content_header_title{
        margin-bottom: 24px;
        font-size: 20px;
        line-height: 24px;
    }
    .filling_content_header_panel_item{
        margin-right: 24px;
    }
    .filling_content_text{
        font-size: 14px;
        font-weight: 400;
        line-height: 190%;
    }
    .filling_articles_title{
        font-size: 18px;
        line-height: 22px;
    }
}


.doc-comments{
    padding: 40px 0 0;
}
.doc-comments_header{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
.doc-comments_header_title{
    margin-bottom: 0;
    margin-right: 24px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
}
.doc-comments_switcher{
    display: flex;
    margin-top: 8px;
    margin-bottom: 2px;
    color: #808080;
}
.doc-comments_switcher:after{
    content: "";
    display: block;
    width: 8px;
    height: 17px;
    margin-left: 4px;
    background-image: url(../images/downarrow.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.doc-comments.active .doc-comments_switcher:after{
    transform: scale(1,-1);
    -webkit-transform: scale(1,-1);
}
.doc-comments_switcher span{
    color: #808080; 
}
.doc-comments_switcher_on{
    display: none;
}
.doc-comments_switcher_off{
    display: block;
}
.doc-comments.active .doc-comments_switcher_on{
    display: block;
}
.doc-comments.active .doc-comments_switcher_off{
    display: none;
}
.doc-comments_add_container{
    width: 100%;    
    margin-top: 8px;
}
.doc-comments_add{
    display: inline-block;
    padding-bottom: 2px;
    margin-bottom: 2px;
    border-bottom: 1px dashed #F56107;
}
.doc-comments_add span{
    color: #F56107; 
}
.doc-comments_add.gray{
    border-color: #808080;
}
.doc-comments_add.gray span{
    color: #808080;
}
.doc-comments_body{
    height: 0;
    opacity: 0;
    overflow: hidden;
}
.doc-comments.active .doc-comments_body{
    height: auto;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
}
.doc-comments_box{
    height: auto;
    opacity: 1;
    overflow: hidden;
    transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
}
.doc-comments_box.collapsed{
    height: 0;
    opacity: 0;
}
.doc-comments_item{
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 1px solid #D9DADD;
}
.doc-comments_body>.doc-comments_box:last-of-type .doc-comments_item:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}
.doc-comments_box .doc-comments_box .doc-comments_item{
    padding-left: 48px;
}
.doc-comment_header{
    display: flex;
    margin-bottom: 16px;
}
.doc-comment_header figure{
    width: 48px;
    height: 48px;
    min-width: 48px;
    border-radius: 50%;
    overflow: hidden;
}
.doc-comment_header figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.doc-comment_header figcaption{
    margin-left: 12px;
    font-size: 16px;
    line-height: 19px;
}
.doc-comment_name{
    margin-bottom: 4px;
    font-weight: 400;
}
.doc-comment_date{
    display: flex;
    align-items: center;
    color: #808080;
    font-size: 14px;
    line-height: 17px;
}
.doc-comment_date:before{
    content: "";
    position: relative;
    top: -1px;
    display: block;
    width: 20px;
    height: 20px;
    min-width: 20px;
    margin-right: 4px;
    background-image: url(../images/calendar.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.doc-comment_body{}
.doc-comment_bottom{
    margin-top: 20px;
    padding-top: 1px;
    color: #F56107;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.doc-comment_bottom_panel{
    display: flex;
}
.doc-comment_bottom_panel_item:not(:last-of-type){
    padding-right: 12px;
    margin-right: 12px;
    border-right: 1px solid #D9DADD;
}
.doc-comment_bottom_panel_item.gray{
    color: #808080;
}
.doc-comment_bottom_panel_item-show{
    display: flex;
    align-items: center;
}
.doc-comment_bottom_panel_item-show:after{
    content: "";
    display: block;
    width: 8px;
    height: 17px;
    margin-left: 4px;
    background-image: url(../images/downarrow_orange.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1,-1);
    -webkit-transform: scale(1,-1);
}
.doc-comment_bottom_panel_item-show.collapse:after{
    transform: scale(1,1);
    -webkit-transform: scale(1,1);  
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 768px){
    .doc-comments_header{
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .doc-comments_header_title{
        width: calc(100% - 20px);
        margin-right: 0;
        font-size: 18px;
        line-height: 22px;
    }
    .doc-comments_switcher{
        width: 20px;
        margin-bottom: 0;
        font-size: 0;
    }
    .doc-comments_switcher:after{
        width: 20px;
        height: 20px;
    }
    .doc-comments_add{
        margin: 8px 0 0;
    }
    .doc-comments_box .doc-comments_box .doc-comments_item{
        padding-left: 16px;
    }
    .doc-comment_header{
        margin-bottom: 20px;
    }
}


.doc-comment{
    margin-top: 32px;
}
.doc-comments_header+.doc-comment{
    margin-bottom: 32px;
}
.doc-comment_title{
    display: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
}
.doc-comment_form{
    text-align: center;
}
.doc-comment_form_item{
    margin-bottom: 20px;
}
.doc-comment_form_item:last-of-type{
    margin-bottom: 0;
}
.doc-comment_form_item textarea{
    width: 100%;
    min-height: 160px;
    padding: 20px;
    background-color: #ffffff;
    font-size: 12px;
    line-height: 14px;
    border-radius: 7px;
    border: 1px solid #EEEEEE;
}
.doc-comment_form_item-buttons{
    display: flex;
    align-items: center;
}
.doc-comment_form_item .button_submit{
    text-transform: none;   
}
.doc-comment_form_item .button_submit:before{
    box-shadow: none;
}
.doc-comment_form_item_button-cancel{
    display: inline-block;
    margin-left: 16px;
    color: #F56107;
    font-size: 14px;
    line-height: 17px;
}
.doc-comment_form_item_button-cancel:hover{
    color: #F56107;
}

@media screen and (max-width: 768px){
    .doc-comment_form_item-buttons{
        display: block;
    }
    .doc-comment_form_item_button-cancel{
        width: 100%;
        margin-top: 16px;
        margin-left: 0;
    }
}


.error-block{
    padding: 72px 0;
}
.error-block .doc-center-main-block{
    max-width: 680px;
}
.error_content{
    text-align: center;
}
.error_text{}
.error_text h1{
    margin-bottom: 16px;
}
.error_image{
    margin-top: 48px;
    text-align: center;
}
.error_image img{
    display: inline-block;
}
.button_container{
    margin-top: 48px;
}

@media screen and (max-width: 768px){
    .error-block{
        padding: 64px 0;
    }
}


.sel-block{
    padding-bottom: 36px;
}
.sel_title{
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    text-transform: uppercase;
}
.sel_box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 50px;
}
.sel_item{
    margin-bottom: 36px;
}
.sel_item_top{
    position: relative;
    padding: 22px 12px 24px;
    background-color: #F3F6F9;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    border-radius: 5px;
}
.sel_item_close{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,-50%); 
}
.sel_item_close img{
    width: 24px;
}
.sel_date{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #808080;
}
.sel_date:before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background-image: url(../images/calendar.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.sel_image{
    margin: 24px auto 0;
}
.sel_image img{
    height: 90px;
}
.sel_link_box{
    color: #F56107;
    font-weight: 400;
}
.sel_link{
    text-decoration: underline;
}
.sel_item_bottom{
    margin-top: 16px;
    font-weight: 400;
}

@media screen and (max-width: 1100px){
    .sel_box{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 768px){
    .sel_box{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15px;
    }
    .sel_item{
        justify-self: flex-end;
        width: 160px;
        max-width: calc(50vw - 27px);
    }
    .sel_item:nth-of-type(2n + 2){
        justify-self: flex-start;
    }
    .sel_item_top{
        padding: 16px 12px 16px;        
    }
    .sel_image img{
        height: 56px;
    }
    .sel_image{
        margin: 16px auto 19px;
    }
}
@media screen and (max-width: 370px){
    .sel_box{
        grid-template-columns: 1fr;
        grid-column-gap: 0;
    }
    .sel_item{
        width: 200px;
        max-width: 100%;
        justify-self: center;
    }
    .sel_item:nth-of-type(2n + 2){
        justify-self: center;
    }
}


.doc-login{
    padding: 72px 0 32px;
    text-align: center;
}
.doc-login_title{
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
}
.doc-login_form{
    width: 100%;
    max-width: 400px;
    margin: 40px auto;
    text-align: center;
}
.doc-login_form_item{
    margin-bottom: 24px;
}
.doc-login_form_item:last-of-type{
    margin-bottom: 24px;
}
.doc-login_form_item input{
    width: 100%;
}
.doc-login_form_item button{
    min-width: 171px;
}
.doc-login_form_item button:before{
    box-shadow: none;
}
.doc-login_form_item .form_validate_alert{
    display: none;
    margin-top: 10px;
    width: 100%;
    color: #ff0000;
    font-size: 14px;
    line-height: 1;
    text-align: center;
}
.doc-login_form_item.invalid .form_validate_alert{
    display: block;
}

@media screen and (max-width: 768px){
    .doc-login{
        padding: 62px 0 22px;
    }
}


.rewind_top{
    position: fixed;
    bottom: 30px;
    right: 20px;
}
.rewind_top img{
    display: block;
}


.result-block{
    padding-bottom: 180px;
}
.result_box{}
.result_item{
    margin-bottom: 24px;
    color: #20262E;
    font-size: 16px;
    line-height: 160%;
}
.result_item:last-of-type{
    margin-bottom: 0;
}
.result_item_title{
    margin-bottom: 8px;
    color: #F56107;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

@media screen and (max-width: 768px){
    .result-block{
        padding-bottom: 60px;
    }
}

[v-cloak] {
    display: none;
}

.recaptcha-key {
    display: none;
}

.map_block iframe{
    width: 100%;
    height: 500px;
}

@media screen and (max-width: 768px) {
    .map_block iframe{
        height: 360px;
    }
}


.table table{
    border-spacing: 0 0;
}
.table tr th{
    min-width: 20%;
    padding: 0.25em 0.5em;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-align: left;
}
.table tr th:last-of-type{
    border-right: 1px solid #ccc;
}
.table tr td{
    min-width: 20%;
    padding: 0.25em 0.5em;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.table td:last-of-type{
    border-right: 1px solid #ccc;
}
.table tr:last-of-type td{
    border-bottom: 1px solid #ccc;
}