@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans/MuseoSansCyrl-100.eot');
    src: local('../fonts/MuseoSans/MuseoSansCyrl-100'),
    url('../fonts/MuseoSans/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/MuseoSansCyrl-100.woff') format('woff'),
    url('../fonts/MuseoSans/MuseoSansCyrl-100.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans/MuseoSansCyrl-100Italic.eot');
    src: local('../fonts/MuseoSans/MuseoSansCyrl-100Italic'),
    url('../fonts/MuseoSans/MuseoSansCyrl-100Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/MuseoSansCyrl-100Italic.woff') format('woff'),
    url('../fonts/MuseoSans/MuseoSansCyrl-100Italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans/MuseoSansCyrl-300.eot');
    src: local('../fonts/MuseoSans/MuseoSansCyrl-300'),
    url('../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/MuseoSansCyrl-300.woff') format('woff'),
    url('../fonts/MuseoSans/MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans/MuseoSansCyrl-300Italic.eot');
    src: local('../fonts/MuseoSans/MuseoSansCyrl-300Italic'),
    url('../fonts/MuseoSans/MuseoSansCyrl-300Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/MuseoSansCyrl-300Italic.woff') format('woff'),
    url('../fonts/MuseoSans/MuseoSansCyrl-300Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans/MuseoSansCyrl-500.eot');
    src: local('../fonts/MuseoSans/MuseoSansCyrl-500'),
    url('../fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/MuseoSansCyrl-500.woff') format('woff'),
    url('../fonts/MuseoSans/MuseoSansCyrl-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans/MuseoSansCyrl-500Italic.eot');
    src: local('../fonts/MuseoSans/MuseoSansCyrl-500Italic'),
    url('../fonts/MuseoSans/MuseoSansCyrl-500Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/MuseoSansCyrl-500Italic.woff') format('woff'),
    url('../fonts/MuseoSans/MuseoSansCyrl-500Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans/MuseoSansCyrl-700.eot');
    src: local('../fonts/MuseoSans/MuseoSansCyrl-700'),
    url('../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/MuseoSansCyrl-700.woff') format('woff'),
    url('../fonts/MuseoSans/MuseoSansCyrl-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans/MuseoSansCyrl-700Italic.eot');
    src: local('../fonts/MuseoSans/MuseoSansCyrl-700Italic'),
    url('../fonts/MuseoSans/MuseoSansCyrl-700Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/MuseoSansCyrl-700Italic.woff') format('woff'),
    url('../fonts/MuseoSans/MuseoSansCyrl-700Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans/MuseoSansCyrl-900.eot');
    src: local('../fonts/MuseoSans/MuseoSansCyrl-900'),
    url('../fonts/MuseoSans/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/MuseoSansCyrl-900.woff') format('woff'),
    url('../fonts/MuseoSans/MuseoSansCyrl-900.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans/MuseoSansCyrl-900Italic.eot');
    src: local('Museo Sans Cyrl 900 Italic'), local('../fonts/MuseoSans/MuseoSansCyrl-900Italic'),
    url('../fonts/MuseoSans/MuseoSansCyrl-900Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/MuseoSansCyrl-900Italic.woff') format('woff'),
    url('../fonts/MuseoSans/MuseoSansCyrl-900Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}




*{
    margin: 0;
    padding: 0;
    font-family: inherit;
    word-break: break-word;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
}
html{}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    color: #20262E;
    font-family: Museo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 1.2;
}
h1{
    margin-bottom: 40px;
    font-size: 36px;
    text-transform: uppercase;
}
h2{
    font-size: 36px;
    line-height: 1.19;
    text-transform: uppercase;
}
h3{
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.2; 
    text-transform: uppercase;   
}
h4{
    margin-bottom: 12px;
    font-size: 17px;
    font-weight: 500;
    line-height: 19px;
}
img{
    max-width: 100%;
    border-style: none;
}
p{
    margin-bottom: 0.75em;
}
p:last-of-type{
    margin-bottom: 0;
}
a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
a:hover,
a:focus,
a:visited{
    text-decoration: none;
}
ul,ol{
    padding-left: 1.2em;
}
ul li,
ol li{
    margin-bottom: 10px;
}
label{
    cursor: pointer;
}
iframe{
    border: none;
    outline: none;
}
input,
textarea{
    max-width: 100%;
    padding: 6px;
    background-color: #ffffff;
    color: inherit;
    font-size: 14px;
    line-height: 18px;
    outline: none;
    text-align: center;
    border-radius: 7px;
    border: 1px solid #EEEEEE;
    transition: all 0.2s ease-in-out;
}
textarea{
    min-height: 104px;
    padding: 10px 20px;
    resize: none;
}
input.invalid,
textarea.invalid{
    border-color: #ff0000;
}
input:focus,
textarea:focus{
    outline: none;
    border-color: #31beff;
}
input::placeholder,
textarea::placeholder{
    color: #757575;
    font-weight: 300;
}
input.fill{
    border-color: #008000;
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
.inputFile{
    display: none;
}
.inputFileLabel{
    display: block;
    padding: 14px 20px;
    background: #f5f5f5;
    color: #757575;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    border-radius: 7px;
    border: 1px solid #ffffff;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1100px){
    h2{
        font-size: 24px;
    }
}


.hidden{
    display: none!important;
}
.tal{
    text-align: left;
}
.tac{
    text-align: center;
}
.tar{
    text-align: right;
}


.button_container{
    text-align: center;
}
.button_green{
    display: inline-flex;
    justify-content: center;
    padding: 17px 64px;
    background-color: #358D44;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    border-radius: 7px;
    border-color: #358D44;
    box-shadow: 0px 4px 10px rgba(103, 169, 114, 0.15);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.button_green-add:before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 16px;
    margin-right: 6px;
    background-image: url(../images/plus_button.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.button_trans{
    display: inline-flex;
    justify-content: center;
    padding: 17px 64px;
    background-color: #ffffff;
    color: #358D44;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    border-radius: 7px;
    border: 1px solid #358D44;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}



.main-container{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    min-height: 100vh;
}


.aside-main{
    position: relative;
    width: 200px;
    min-width: 200px;
    border-right: 1px solid #EBECEC;
}
.aside_container{
    position: sticky;
    top: 0;
}
.logotype{}
.logotype figure{
    padding: 16px 30px;
    border-bottom: 2px solid #E46914;
}
.logotype figure img{
    display: block;
}
.aside_menu{
    color: #24272D;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.16;
}
.aside_item{
    position: relative;
    border-bottom: 1px solid #EBECEC;
}
.aside_item:last-of-type{
    border-bottom: none;
}
.aside_label{
    display: flex;
    align-items: center;
    padding: 12px 20px 12px 16px;
}
.aside_item-accordion .aside_label:after{
    content: "";
    position: absolute;
    top: 22px;
    right: 11px;
    display: block;
    width: 10px;
    height: 6px;
    background-image: url(../images/arrow_aside.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(-180deg);
    transition: all 0.2s ease-in-out;
}
.aside_item-accordion.active .aside_label:after{
    transform: rotate(0);
}
.aside_label img{
    display: block;
    width: 24px;
    min-width: 24px;
    margin-right: 4px;
}
.aside_label span{
    line-height: 1;
}
.aside_item_list{
    max-height: 0;
    opacity: 0;
    padding-left: 44px;
    list-style: none;
    overflow: hidden;
}
.aside_item-accordion.active .aside_item_list{
    max-height: 100vh;
    margin-bottom: 20px;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}
.aside_item_list li{
    margin-bottom: 12px;
}
.aside_item_list li:last-of-type{
    margin-bottom: 0;
}
.aside_item_list li a{}

@media screen and (max-width: 1100px){
    .aside-main{
        display: none;
    }
}


.main{
    flex-grow: 100;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main_content{
    flex-grow: 100;
}
.main-block{}
.center-main-block{
    width: 100%;
    max-width: 1127px;
    padding-left: 20px;
    padding-right: 20px;
}
.center-main-block-full{
    max-width: 100%;
}
.center-main-block-no-padding{
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

@media screen and (min-width: 1441px){
    .center-main-block{
        max-width: 1153px;
        padding-left: 33px;
        padding-right: 33px;
        margin-left: auto;
        margin-right: auto;
    }
    .center-main-block-full{
        max-width: 100%;
    }
    .center-main-block-no-padding{
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}
@media screen and (max-width: 1100px){
    .main{
        width: 100%;
        padding-top: 125px;
    }
}


.header-main{
    border-bottom: 1px solid #F2F4F8;
}
.header_container{
    display: flex;
    justify-content: flex-end;
}
.header_box{
    display: flex;
    border-left: 1px solid #F2F4F8;
}
.header_item{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 93px;
    padding: 30px 32px;
    border-right: 1px solid #F2F4F8;;
}
.header_link{
    display: flex;
    align-items: center;
}
.header_link img{
    display: block;
    height: 24px;
    margin-right: 4px;
}
.header_link span{
    line-height: 1;
}
.header_langs{
    position: relative;
    width: 24px;
    height: 24px;
}
.header_langs_list{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 24px;
    height: 20px;
    background-color: #ffffff;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
}
.header_langs_list:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.header_langs.active .header_langs_list{
    height: 60px;
    transition: all 0.2s ease-in-out;
}
.header_langs.active .header_langs_list:after{
    display: none;
}
.header_lang{
    display: block;
    width: 24px;
    height: 20px;
    min-height: 20px;
    order: 4;
}
.header_lang.active{
    order: 2;
    color: #F56107;
}
.header_profile{
    display: flex;
    align-items: center;
}
.header_profile_face{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}
.header_profile_face img{
    display: block;
}
.header_profile_menu{
    margin-left: 10px;
}
.header_profile_menu_arrow{}
.header_profile_menu_arrow svg{
    display: block;
}

@media screen and (min-width: 1441px){
    .header-main .center-main-block{
        max-width: 100%;
    }
}
@media screen and (max-width: 1100px){
    .header-main{
        display: none;
    }
}


.footer-main{
    padding: 32px 0;
    background-color: #E7ECEF;
    font-weight: 400;
}
.footer-main .center-main-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_main-link{
    display: inline-block;
    color: #F56107;
    text-decoration-line: underline;
}
.footer_main-link:hover{
    color: #F56107;
    text-decoration-line: none;
}
.footer_contacts{}
.footer_contact{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.footer_contact:last-of-type{
    margin-bottom: 0;
}
.footer_contact img{
    display: block;
}
.footer_contact span{
    display: block;
    margin-left: 8px;
}

@media screen and (max-width: 768px){
    .footer-main{
        padding: 20px 0 5px;
    }
    .footer-main .center-main-block{
        display: block;
    }
    .footer_contacts{
        margin-bottom: 15px;
    }
    .footer_main-link{
        margin-bottom: 15px;
    }
}


.header_mobile{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 56px 0 28px;
    background-color: #ffffff;
    border-bottom: 1px solid #F2F4F8;
}
.header_mobile .center-main-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_mobile_menu{
    width: 40px;
}
.header_mobile_menu img{
    display: block;
}
.header_mobile_title{
    flex-grow: 100;
    position: relative;
    padding: 0 10px;
    height: 40px;
    text-align: center;
}
.header_mobile_title h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: 0 20px;
}
.header_mobile_filter{
    width: 32px;
}
.header_mobile_filter a{
    display: block;
}
.header_mobile_filter a img{
    display: block;
}

@media screen and (max-width: 1100px){
    .header_mobile{
        display: block;
    }
}


.menu_mobile{
    position: fixed;
    top: -200%;
    left: 0;
    z-index: 1100;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #ffffff;
    opacity: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;
}
.menu_mobile.active{
    top: 0%;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}
.menu_mobile_header{
    padding: 57px 20px 15px;
}
.menu_mobile_header_button{
    display: block;
    width: 40px;
}
.menu_mobile_header_button img{
    display: block;
}
.menu_mobile_body{
    height: calc(100% - 112px);
    overflow-y: auto;
}
.menu_mobile_list{}
.menu_mobile_list_item{
    border-bottom: 1px solid #F2F4F8;
}
.menu_mobile_list_label{
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    transition: all 0.2s ease-in-out;
}
.menu_mobile_list_item-accordion .menu_mobile_list_label{
    padding: 20px 26px 20px 20px;
}
.menu_mobile_list_label-gray{
    background-color: #F5F5F5;
}
.menu_mobile_list_item-accordion .menu_mobile_list_label:after{
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    display: block;
    width: 12px;
    height: 6px;
    background-image: url(../images/arrow_aside.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(-180deg) translate(-50%);
    transition: all 0.2s ease-in-out;
}
.menu_mobile_list_item-accordion.active .menu_mobile_list_label:after{
    transform: rotate(0) translate(-50%);
}
.menu_mobile_list_label img{
    display: block;
    width: 24px;
    min-width: 24px;
    margin-right: 4px;
}
.menu_mobile_list_links{
    max-height: 0;
    opacity: 0;
    padding-left: 46px;
    font-size: 0.9em;
    list-style: none;
    overflow: hidden;
}
.menu_mobile_list_item-accordion.active .menu_mobile_list_links{
    max-height: 100vh;
    margin-bottom: 20px;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}
.menu_mobile_list_links li{
    margin-bottom: 12px;
}
.menu_mobile_list_links li:last-of-type{
    margin-bottom: 0;
}
.menu_mobile_box{}
.menu_mobile_item{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #F2F4F8;
}
.menu_mobile_item img{
    display: block;
    width: 24px;
    min-width: 24px;
    margin-right: 4px;
}
.menu_mobile_profile{}
.menu_mobile_profile_label{
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 26px 20px 20px;
    border-bottom: 1px solid #F2F4F8;
}
.menu_mobile_profile_label:after{    
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    display: block;
    width: 12px;
    height: 6px;
    background-image: url(../images/arrow_aside.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(-180deg) translate(-50%);
    transition: all 0.2s ease-in-out;
}
.menu_mobile_profile.active .menu_mobile_profile_label:after{
    transform: rotate(0) translate(-50%);
}
.menu_mobile_profile_label img{
    display: block;
    width: 40px;
    min-width: 40px;
}
.menu_mobile_langs{
    display: flex;
    padding: 20px;
}
.menu_mobile_lang{
    display: inline-block;
    padding-right: 20px;
}
.menu_mobile_lang:last-of-type{
    padding-right: 0;
}
.menu_mobile_lang.active{
    color: #F56107;
}


.banner_block{
    padding: 20px 0;
    background-color: #F56107;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
}
.banner_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner_text{
    width: 54%;
    padding-left: 36px;
    padding-right: 10px;
}
.banner_text h1{
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 48px;
}
.banner_image{
    width: 46%;
}
.banner_image figure{}
.banner_image figure img{
    display: block;
}

@media screen and (max-width: 1100px){
    .banner_block{
        display: none;
    }
}



@media screen and (min-width: 1101px){
    .mobile{
        display: none!important;
    }
}

@media screen and (max-width: 1100px){
    .desktop{
        display: none!important;
    }
}

.content_block{
    padding: 20px 0;
}
.return_button{
    margin-bottom: 8px;
}
.return_button a{
    display: flex;
    align-items: center;
    color: #808080;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
}
.return_button a:before{
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    margin-right: 6px;
    background-image: url(../images/arrow_return.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.tabl:not(:last-of-type){
    margin-bottom: 20px;
}

.w-1{
    width: 1%;
    min-width: 1%;
}
.w-2{
    width: 2%;
    min-width: 2%;
}
.w-3{
    width: 3%;
    min-width: 3%;
}
.w-4{
    width: 4%;
    min-width: 4%;
}
.w-5{
    width: 5%;
    min-width: 5%;
}
.w-6{
    width: 6%;
    min-width: 6%;
}
.w-7{
    width: 7%;
    min-width: 7%;
}
.w-8{
    width: 8%;
    min-width: 8%;
}
.w-9{
    width: 9%;
    min-width: 9%;
}
.w-10{
    width: 10%;
    min-width: 10%;
}
.w-11{
    width: 11%;
    min-width: 11%;
}
.w-12{
    width: 12%;
    min-width: 12%;
}
.w-13{
    width: 13%;
    min-width: 13%;
}
.w-14{
    width: 14%;
    min-width: 14%;
}
.w-15{
    width: 15%;
    min-width: 15%;
}
.w-16{
    width: 16%;
    min-width: 16%;
}
.w-17{
    width: 17%;
    min-width: 17%;
}
.w-18{
    width: 18%;
    min-width: 18%;
}
.w-19{
    width: 19%;
    min-width: 19%;
}
.w-20{
    width: 20%;
    min-width: 20%;
}
.w-25{
    width: 25%;
    min-width: 25%;
}
.w-30{
    width: 30%;
    min-width: 30%;
}
.w-33{
    width: 33%;
    min-width: 33%;
}
.w-40{
    width: 40%;
    min-width: 40%;
}
.w-50{
    width: 50%;
    min-width: 50%;
}
.w-60{
    width: 60%;
    min-width: 60%;
}
.w-70{
    width: 70%;
    min-width: 70%;
}
.w-80{
    width: 80%;
    min-width: 80%;
}
.w-90{
    width: 90%;
    min-width: 90%;
}
.w-100{
    width: 100%;
    min-width: 100%;
}

@media screen and (max-width: 1100px){
    .return_button{
        margin-bottom: 20px;
    }
    .wm-10{
        width: 10%;
        min-width: 10%;
    }
    .wm-20{
        width: 20%;
        min-width: 20%;
    }
    .wm-25{
        width: 25%;
        min-width: 25%;
    }
    .wm-30{
        width: 30%;
        min-width: 30%;
    }
    .wm-33{
        width: 33%;
        min-width: 33%;
    }
    .wm-40{
        width: 40%;
        min-width: 40%;
    }
    .wm-50{
        width: 50%;
        min-width: 50%;
    }
    .wm-60{
        width: 60%;
        min-width: 60%;
    }
    .wm-70{
        width: 70%;
        min-width: 70%;
    }
    .wm-80{
        width: 80%;
        min-width: 80%;
    }
    .wm-90{
        width: 90%;
        min-width: 90%;
    }
    .wm-100{
        width: 100%;
        min-width: 100%;
    }
}


.title_panel{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.title_panel_left{
    flex-grow: 100;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.title_panel_title{
    margin-bottom: 8px;
}
.title_panel_left *:last-child{
    margin-bottom: 0;
}
.title_panel_undertitle{
    width: 100%;
    max-width: 710px;
    font-weight: 300;
}
.title_panel_right{
    display: flex;
    align-items: center;
    width: 25%;
    min-width: 25%;
    margin-left: 20px;
}
.title_panel_right .button_container{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}
.title_panel_right .button_container a{
    width: 100%;
    padding: 17px;
}
.title_panel_progress{
    width: 100%;
}
.title_panel_progress_title{
    margin-bottom: 6px;
}
.title_panel_progress_line{
    display: flex;
    position: relative;
    width: 100%;
    height: 8px;
    background-color: #F3F6F9;
    border-radius: 5px;
}
.title_panel_progress_line_item{
    background-color: #F57C1D;
    border-radius: 5px;
}
.title_panel_progress_percent{
    margin-top: 6px;
    color: #F57C1D;
}

@media screen and (max-width: 1100px){
    .title_panel{
        margin-bottom: 0;
    }
    .title_panel_left{
        display: none;
    }
    .title_panel_right{
        width: 100%;
        min-width: 0;
        margin-left: 0;
        margin-bottom: 20px;
    }
}


.balance_box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -20px;
}
.balance_item{
    width: calc(50% - 10px);
    padding: 20px 24px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #E7EAF0;
}
.balance_item-full{
    width: 100%;
    min-height: 200px;
}
.balance_title{
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.balance_title_outer{
    display: none;
    width: 100%;
    margin-top: 0;
    margin-bottom: 12px;
}
.balance_row{
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    border-bottom: 1px dashed #DDE1EA;
}
.balance_row:last-of-type{
    padding-bottom: 0;
    border-bottom: none;
}
.balance_row_key{
    display: inline-block;
    min-width: 40%;
    color: #808080;
}
.balance_row_value{
    text-align: right;
}

@media screen and (max-width: 1100px){
    .balance_item{
        width: 100%;
        padding: 16px;
    }
    .balance_title_outer{
        display: block;
    }
    .balance_title{
        display: none;
    }
    .balance_row:first-of-type{
        padding-top: 0;
    }
}


.table{}
.table_header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 24px;
    background: #FFFFFF;
    color: #98999B;
    font-size: 12px;
    line-height: 14px;
    border-radius: 7px;
    border: 1px solid #EEEEEE;
}
.table_header_item{
    flex-grow: 100;
}
.table_label{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 22px 24px 22px 22px;
    background-color: #F3F6F9;
    border-radius: 3px;
    cursor: pointer;
}
.table_label_item{
    flex-grow: 100;
}
.table_label_item:first-of-type{
    position: relative;
    padding-left: 22px;
}
.table_label_item:first-of-type:before{
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    display: block;
    width: 16px;
    height: 17px;
    min-width: 16px;
    margin-right: 8px;
    background-image: url(../images/label_table_plus.svg); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.table_label.active .table_label_item:first-of-type:before{
    background-image: url(../images/label_table_min.svg);  
}
.table_content{
    max-height: 0;
    margin-bottom: 4px;
    opacity: 0;
    overflow: hidden;
}
.table_label.active + .table_content{
    max-height: 10000px;
    opacity: 1;
    padding-bottom: 20px;
    transition: opacity 0.4s ease-in-out, max-height 1s linear, padding-bottom 1s linear;
}
.table_box{}
.table_row{
    display: flex;
    align-items: center;
    padding: 16px 24px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    border-bottom: 1px dashed #D9DADD;
}
.table_row.active{
    border-bottom: none;
}
.table_item{
    flex-grow: 100;
}
.table_item-b{
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
}
.table_row_addition{
    opacity: 0;
    max-height: 0;
    font-size: 12px;
    line-height: 1.16;
    overflow: hidden;
}
.table_row.active+.table_row_addition{
    max-height: 100vh;
    padding: 3px 16px 0;
    opacity: 1;
    border-bottom: 1px dashed #D9DADD;
    transition: opacity 0.2s ease-in-out, max-height 0.1s linear;
}
.table_row_addition_item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.table_row_addition_item_title{
    display: inline-block;
    color: #98999B;
}
.table_row_addition_item_value{
    display: inline-block;
    font-weight: 300;
    text-align: right;
}
.table_item-question{
    position: relative;
}
.table_item-question:before{
    content: "";
    position: absolute;
    top: -1px;
    left: -24px;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../images/question_table.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.table_item_status{
    display: inline-block;
    padding: 4px 8px;
    color: #808080;
    border-radius: 50px;
    border: 1px solid #808080;
}
.table_item_status-active{
    color: #358D44;
    border: 1px solid #358D44;
}
.table_item_link{
    color: #F56107;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
}
.table_item-arrow{
    display: block;
}
.table_item-arrow img{
    display: block;
    width: 12px;
    margin-left: auto;
    transition: all 0.2s ease-in-out;
}
.table_row.active .table_item-arrow img{
    transform: rotate(180deg);
}
.table_item-input{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.table_item-input_inner{
    position: relative;
    width: 90%;
    max-width: 106px;
}
.table_item-input .select{
    text-align: left;
}
.table_item-input .select_tit:after{
    right: 10px;
}
.table_item-input .select_option{
    padding: 6px 6px 6px 12px;
    font-size: 14px;
    line-height: 18px;
}
.table_item-input .select_tit{
    justify-content: space-between;
    padding: 6px 20px 6px 12px;
    border-radius: 7px;
    border: 1px solid #EEEEEE;
}
.table_item-input .select_option:hover{
    background-color: #ffffff;
}
.table_item-input .select_list{
    border-radius: 7px;
    border: 1px solid #EEEEEE;
}
.table_item-input{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.table_item-input input{}
.table_item-input-number{
    position: relative;
}
.table_item-input-number input{
    padding: 6px 24px;
}
.table_item-input_control{
    position: absolute;
    top: 1px;
    left: 1px;
    display: block;
    width: 24px;
    height: calc(100% - 2px);
    background-color: transparent;
    cursor: pointer;
}
.table_item-input_control[data-label="1"]{
    left: auto;
    right: 1px;
}
.table_item-input_control:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 8px;
    height: 1.5px;
    background-color: #F57C1D;
    transform: translate(-50%,-50%);  
}
.table_item-input_control[data-label="1"]:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 1.5px;
    height: 8px;
    background-color: #F57C1D;
    transform: translate(-50%,-50%);  
}
.table_button{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.table_button-double a:not(:last-of-type){
    margin-right: 20px;
}

@media screen and (max-width: 1100px){
    .table_header{
        padding: 20px 16px;
    }
    .table_row{
        padding: 16px;
    }
    .table_label{
        padding: 12px 16px;
    }
    .table_label_item.wm-100 ~ .table_label_item{
        margin-top: 4px;
    }
    .table_item-question{
        padding-left: 6px;
    }
    .table_item-question:before{
        left: -16px;
    }
    .table_button{
        justify-content: center;
        flex-wrap: wrap;
    }
    .table_button a{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .table_button-double a:not(:last-of-type){
        margin-right: 0;
        margin-bottom: 10px;
    }
}


.filter_container{}
.filter_background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}
.filter_content{}
.filter_content_panel{
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.filter_content_title{
    margin-bottom: 0;
}
.filter_content_close{
    margin-left: 10px;
}
.filter_content_close img{
    display: block;
    width: 16px;
    min-width: 16px;
}
.filter{
    display: flex;
    justify-content: flex-end;
    background-color: #F5F5F5;
    border-radius: 7px;
}
.filter_item{
    flex-grow: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    border-left: 1px solid #E6E6E6;
}
.filter_item:first-of-type{
    border-left: none;
}
.filter_item-select{
    padding: 0;
}
.filter_item-select .select{
    width: 100%;
    background-color: #F5F5F5;
    text-align: left;
    border-radius: 7px 0 0 7px;
}
.filter_item:last-of-type.filter_item-select .select{
    border-radius: 0 7px 7px 0;    
}
.filter_item-select .select_option{
    padding: 16px 24px;
    background-color: #F5F5F5;
    font-size: 14px;
    line-height: 17px;
}
.filter_item-select .select_option:hover{
    background-color: #f5f5f5;
}
.filter_item-select .select_tit{
    justify-content:flex-start;
    border-radius: 7px 0 0 7px;
    padding-right: 34px;
}
.filter_item:last-of-type.filter_item-select .select_tit{
    border-radius: 0 7px 7px 0;
}
.filter_item-select-doc .select_tit:before,
.filter_item-select-date .select_tit:before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    min-width: 20px;
    margin-right: 4px;
    background-image: url(../images/document_select.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.filter_item-select-date .select_tit:before{
    background-image: url(../images/date_select.svg);
}
.filter_item-date{}
.filter_item-date input{
    display: none;
}
.filter_item-date_content{
    display: flex;
    align-items: center;
    color: #98999B;
}
.filter_item-date_content span{
    display: block;
}
.filter_item-date_value{
    margin: 0 11px 0 8px;
    color: #20262E;
}
.filter_item-date_content figure{}
.filter_item-date_content figure img{
    display: block;
    height: 20px;
}
.filter_item-button{
    padding: 0;
}
.filter_item-button a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 14px 24px;
    background-color: #FFFFFF;
    color: #358D44;
    text-align: center;
    border-radius: 0px 7px 7px 0px;
    border: 1px solid #358D44;
}
.filter_item-button a:hover{
    background-color: #358D44;
    color: #ffffff;
}

@media screen and (max-width: 1100px){
    .filter_container{
        position: fixed;
        top: -200%;
        left: 0;
        z-index: 10000;
        width: 100%;
        height: 100%;
        min-width: 100vw;
        min-height: 100vh;
        opacity: 0;
    }
    .filter_container.active{
        top: 0;
        opacity: 1;
        transition: top 0.1s linear, opacity 0.2s ease-in-out;
    }
    .filter_background{
        display: block;
    }
    .filter_content{
        position: relative;
        z-index: 20;
        width: 100%;
        max-width: 400px;
        padding: 46px 20px 30px;
        margin: 20px auto;
        background-color: #ffffff;
    }
    .filter_content_panel{
        display: flex;
    }
    .filter{
        display: block;
        background-color: transparent;
        border-radius: 0;
    }
    .filter_item{
        width: 100%;
        min-width: 100%;
        margin-bottom: 10px;
        background: #F5F5F5;
        border-radius: 7px;
        border-left: none;
    }
    .filter_item.wm-100{
        margin-bottom: 12px;
    }
    .filter_item.wm-100:last-of-type{
        margin-bottom: 0;
    }
    .filter_item-date_content{
        width: 100%;
        justify-content: space-between;
    }
    .filter_item-date_content figure{
        margin-left: auto;
    }
    .filter_item-button a{
        border-radius: 7px;
    }
}


.lightbox_container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
}
.lightbox_background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 120;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}
.lightbox{
    position: relative;
    z-index: 200;
    margin: 50px;
    max-width: calc(100% - 100px);
    max-height: calc(100% - 100px);
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #ffffff;
}
.lightbox_close{
    position: absolute;
    top: -30px;
    right: -30px;
    z-index: 220;
}
.lightbox_arrow{
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.lightbox_arrow-right{
    left: auto;
    right: -40px;
}
.lightbox .fa{
    display: block;
    color: #ffffff;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.lightbox .fa:hover{
    opacity: 0.8;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.lightbox img{
    display: block;
    max-width: calc(100vw - 100px);
    max-height: calc(100vh - 100px);
}
.lightbox img.active{
    animation: lightbox 0.2s ease-in-out;
}
@keyframes lightbox{
    0%{opacity: 0;}
    100%{opacity: 1;}
}


.scroll-emul_block{
    overflow-y: hidden;
}
.scroll-emul_container{
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}
.scroll-emul_content{
    width: calc(100% + 50px);
    height: 100%;
    padding-right: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
}
.scroll-emul_content::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}
.scroll-emul_line{
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 10;
    width: 3px;
    height: calc(100% - 2px);
    background-color: rgba(220, 220, 220, 0.5);
    border-radius: 2px;
}
.scroll-emul_line_item{
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: rgba(220, 220, 220, 0.8);
    border-radius: 2px;
}


.popup_container{
    position: fixed;
    top: -200%;
    left: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    padding: 10px;
    opacity: 0;
}
.popup_container.active{
    top: 0;
    opacity: 1;
    transition: top 0.2s ease-in-out, opacity 1s ease-in-out;
    -webkit-transition: top 0.2s ease-in-out, opacity 1s ease-in-out;
}
.popup_background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.popup{
    position: relative;
    z-index: 200;
    width: 100%;
    max-width: 624px;
    padding: 56px 24px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.popup_close{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 7px;
    height: 7px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.popup_close:hover{
    transform: scale(1.2);
}
.popup_close img{
    display: block;
}
.popup h2{
    margin-bottom: 20px;
    font-weight: 400;
    text-align: center;
}
.popup_form{
    width: 100%;
    max-width: 480px;
    margin: auto;
    text-align: center;
}
.popup_form_item{
    margin-bottom: 24px;
}
.popup_form_item:last-of-type{
    margin-bottom: 0;
}
.popup_form_item textarea{
    width: 100%;
    min-height: 144px;
}
.popup_form_item .form_validate_alert{
    display: none;
    margin-top: 10px;
    width: 100%;
    color: #ff0000;
    font-size: 14px;
    line-height: 1;
    text-align: center;
}
.popup_form_item.invalid .form_validate_alert{
    display: block;
}

@media screen and (max-width: 768px){
    .popup_container{
        max-height: 100vh;
        padding: 0;
        overflow: hidden;
    }
    .popup{
        max-height: 100%;
        overflow-y: auto;
    }
}


.select{
    position: relative;
    background-color: #ffffff;
    text-align: center; 
}
.select_option{
    width: 100%;
    padding: 14px 4px;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.select_option:hover{
    background-color: #f4f4f4;
}
.select_tit{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.select_option.selected{
    display: none;
}
.select_tit:after{
    content: "";
    position: absolute;
    top: 50%;
    right: 24px;
    display: block;
    width: 10px;
    height: 6px;
    background-image: url(../images/arrow_select.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(-50%);
}
.select_list_outer{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    height: 0;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
}
.select.active .select_list_outer{
    height: auto;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}