.ms-container{}
.ms-main-block{
	margin-bottom: 100px;
}
.ms-center-main-block{
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.ms-button_container{}
.ms-button_order{
	display: inline-block;
    background-color: #7b589c;
    padding: 13px 46px;
    color: #ffffff;
    text-align: center;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.ms-button_order:hover{
	color: #ffffff;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

@media screen and (max-width: 768px){
	.ms-main-block{
		margin-bottom: 30px;
	}
}

.ms-sentence{}
.ms-title-line{
	display: flex;
	margin-bottom: 50px;
	color: #212121;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
}
.ms-title-line:before,
.ms-title-line:after{
	content: "";
	flex-grow: 100;
	display: block;
	height: 1px;
	margin-top: 15px;
	background-color: #ebebeb;
}
.ms-title-line span{
	padding: 0 30px;
	min-width: 350px;
	max-width: 100%;
}
.ms-title-line-short{
	margin-bottom: 30px;
}
.ms-sentence_tab{}
.ms-sentence_tab_panel{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}
.ms-sentence_tab_panel_item{
	padding: 12px 18px;
	margin: 0 20px;
	color: #212121;
	font-size: 16px;
	line-height: 1;
	text-align: center;
	border-radius: 50px;
	background-color: transparent;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.ms-sentence_tab_panel_item:hover,
.ms-sentence_tab_panel_item.active{
	background-color: #7b589c;
	color: #ffffff;
}
.ms-sentence_tab_content{}
.ms-sentence_tab_content_item{
	display: none;
}
.ms-sentence_tab_content_item.active{
	display: block;
}
.ms-sentence_tab_content_item_controls{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 50px;
}
.ms-sentence_tab_content_item_control_arrow{
	display: inline-block;
	cursor: pointer;
}
.ms-sentence_tab_content_item_control_arrow img{
	display: block;
	width: 38px;
	height: 17px;
}
.ms-sentence_tab_content_item_control_arrow-right img{
	transform: scale(-1,1);
}
.ms-sentence_tab_content_item_control_number{
	display: inline-block;
	margin: 0 20px;
	font-family: "Open Sans", "Roboto", sans-serif;
	color: #bdbdbd;
	font-size: 18px;
	line-height: 1;
}
.ms-sentence_tab_content_item_control_number_first{
	color: #212121;
}
.ms-sentence_tab_content_item_control_number_second{}
.ms-sentence_tab_content_item_slider{}
.ms-sentence_tab_content_item .pr_elect_item{
	width: calc((100% - 90px) / 4)
}
.ms-sentence_slider_container .owl-buttons{}
.ms-sentence_slider_container .order_slider_arrow{
	display: none;
}
.ms-sentence_slider_container .order_slider_arrow:before,
.ms-sentence_slider_container .order_slider_arrow:after{
	display: none;
}
.ms-sentence_slider_container .owl-pagination{
	display: none;
}
.ms-sentence .ms-button_container{
	margin-top: 20px;
	text-align: center;
}

.ms-info_item{
	display: flex;
	flex-direction: column;
	width: calc((100% - 60px) / 3);
	border: 1px solid #e8e8e8;
}
.ms-info_item_top{
	border-bottom: 1px solid #e8e8e8;
}
.ms-info_item_top figure{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 77%;
}
.ms-info_item_top figure img{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.ms-info_item_bottom{
	flex-grow: 100;
	padding: 20px 24px;
	color: #757575;
	font-size: 14px;
}
.ms-info_item_bottom_title{
	margin-bottom: 20px;
	color: #7b589c;
	font-size: 16px;
	font-weight: 500;
}
.ms-info_item_bottom_data{
	margin-bottom: 20px;
}


@media screen and (max-width: 992px){
	.ms-sentence_tab_content_item .pr_elect_item{
		width: 49%;
	}
	.ms-info_item{
		width: 49%;
	}
}

@media screen and (max-width: 768px){
	.ms-title-line{
		justify-content: center;
		margin-bottom: 20px;
	}
	.ms-title-line:before,
	.ms-title-line:after{
		display: none;
	}
	.ms-title-line span{
		min-width: 0;
		padding: 0;
	}
	.ms-sentence_tab_panel{
		margin-bottom: 20px;
	}
	.ms-sentence_tab_panel_item{
		padding: 6px 6px;
		margin: 0 2px;
		font-size: 13px;
	}
	.ms-sentence_tab_content_item_controls{
		display: none;
	}	
	.ms-sentence_slider_container .owl-pagination{
		display: block;
	}
	.ms-sentence_tab_content_item .pr_elect_item{
		width: 100%;
	}
	.ms-info_item{
		width: 100%;
	}
	.ms-sentence .ms-button_container{
		margin-top: 40px;
	}
}


.rekl_block{
	padding: 100px 0;
	background-color: #eff2f2;
}
.rekl_container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2%;
	padding-left: 60px;
}
.rekl_logotype{
	grid-column: 1/2;
	grid-row: 1/2;
	width: 100%;
	max-width: 220px;
	margin-bottom: 20px;
}
.rekl_logotype img{
	display: block;
	max-width: 100%;
}
.rekl_image{
	grid-column: 2/3;
	grid-row: 1/3;
	display: flex;
	align-items: center;
	height: 100%;
}
.rekl_image img{
	max-width: 100%;
}
img.rekl_image_mobile{
	display: none;
}
.rekl_content{
	grid-column: 1/2;
	grid-row: 2/3;
}
.rekl_content:before{
	content: "";
	display: block;
	height: 2px;
	width: 130px;
	background-color: #ffa700;
}
.rekl_text{
	margin-top: 50px;
	color: #7b589c;
	font-size: 24px;
	font-weight: 900;
	text-transform: uppercase;
}
.rekl_button{
	margin-top: 80px;
}
.rekl_button .ms-button_order{
	min-width: 310px;
	text-transform: uppercase;
}

@media screen and (max-width: 768px){
	.rekl_block{
		padding: 60px 0;
	}
	.rekl_container{
		display: block;
		padding-left: 0;
	}
	.rekl_logotype{		
		display: flex;
		justify-content: center;
		width: 100%;
		max-width: 100%;
	}
	.rekl_image{
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 40px auto;
	}
	img.rekl_image_desktop{
		display: none;
	}
	img.rekl_image_mobile{
		display: block;
	}
	.rekl_content{
		text-align: center;
	}
	.rekl_content:before{
		margin: 0 auto;
	}
	.rekl_text{
		margin-top: 30px;
		font-size: 16px;
	}
	.rekl_text br{
		display: none;
	}
	.rekl_button{
		margin-top: 40px;
	}
	.rekl_button .ms-button_order{
		min-width: 0;
		width: 310px;
		max-width: 100%;
	}
}


.company_block{}
.company_content{
	margin-top: 80px;
	margin-bottom: 110px;
	color: #757575;
	font-size: 14px;
}
.company_content a{
	font-weight: 500;
	text-decoration: underline;
}
.company_content a:hover{
	text-decoration: none;
}
.company_signature{}
.company_signature svg{
	display: block;
	max-width: 100%;
	margin-left: auto;
}

@media screen and (max-width: 768px){
	.company_content{
		margin-top: 40px;
		margin-bottom: 0;
	}
	.company_signature svg{
		display: none;
	}
}


.nv_block{
	padding-top: 30px;
}
.nv_block-hidden{
	display: none;
}
.nv_container{
	display: flex;
}
.nv_left{
	width: 300px;
	min-width: 300px;
	padding-right: 30px;
}
.nv_left .yum.amenu>div{
	display: none;
}
.nv_logo{
	display: none;
	margin-bottom: 30px; 
}
.nv_logo img{
	display: block;
	width: 130px;
	max-width: 100%;
	margin: 0 auto;
}
.nv_menu_switch{
	display: none;
	text-align: center;
}
.nv_menu_switcher{
	position: relative;
	display: inline-block;
	padding: 14px 50px;
	background-color: #7b589c;
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	border-radius: 50px;
}
.nv_menu_switcher:hover{
	color: #ffffff;
}
.nv_menu_switcher:after{
	content: "";
	position: absolute;
	top: 50%;
	right: 30px;
	display: inline-block;
	border-left: 8px solid #ffa700;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transition: all 0.2s ease-in-out;
}
.nv_menu_switcher.active:after{
	transform: translateY(-50%) rotate(90deg);
	-webkit-transform: translateY(-50%) rotate(90deg);
}
.nv_menu_switcher span{}
.nv_menu{
	box-shadow: -3px -3px 3px 0 rgba(111,104,104,0.1);
}
.nv_menu_box{}
.nv_menu_item{
	position: relative;
	padding: 20px 20px 20px 30px;
	margin-bottom: 2px;
	background-color: #e8e8e8;
	color: #212121;
	font-size: 14px;
	border-top: 2px solid #dddddd;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.nv_menu_item:before,
.nv_menu_item:after{
	content: "";
	position: absolute;
	top: 24px;
	right: 12px;
	display: inline-block;
	width: 3px;
	height: 12px;
	background-color: #8b6da7;
	border-radius: 2px;
	transform: translateY(-3px) rotate(-45deg);
	transition: all 0.2s ease-in-out;
}
.nv_menu_item:after{
	transform: translateY(3px) rotate(45deg);
}
.nv_menu_item.active{
	background-color: #7b589c;
	color: #ffffff;
}
.nv_menu_item.active:before,
.nv_menu_item.active:after{
	right: 15px;
	background-color: #ffffff;
}
.nv_menu_item.active:after{
	top: 18px;
    right: 8px;
}
.nv_item_text{}
.nv_menu_list{
	display: none;
	padding-top: 30px;
	padding-left: 20px;
}
.nv_menu_link{
	display: block;
	margin-bottom: 10px;
	color: #ffffff;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}
.nv_menu_link:hover{
	color: #ffa700;
	text-decoration: underline;
}

.nv_right{
	width: calc(100% - 300px);
}
.nv_slider{
	box-shadow: 0 0 7px 0 rgba(33,33,33,0.13);
}
.nv_slider .owl-pagination{
	top: -30px;
	height: 0;
}
.nv_slider .owl-buttons{
	display: none;
}
.nv_slide{
	background-size: cover;
	background-position: center right;
	background-repeat: no-repeat;
}
.nv_slide_link-box{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}
.nv_slide_desktop,
.nv_slide_mobile{
	display: block;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}
.nv_slide_mobile{
	display: none;
}
/*.nv_slide_content{
	width: 50%;
	padding: 60px 0 0 60px;
	margin-bottom: 60px;
}
.nv_slide_title{
	margin-bottom: 30px;
	color: #7b589c;
	font-size: 33px;
	font-weight: 900;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.nv_slide_undertitle{
	color: #212121;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
}
.nv_slide_price{
	position: relative;
	padding-top: 50px;
	font-weight: 900;
	overflow: hidden;
}
.nv_slide_price:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 400px;
	height: 400px;
	background-color: #ffa700;
	border-radius: 50%;
	transform: translate(-60px,0);
}
.nv_slide_price_old{
	position: absolute;
	top: 0;
	left: 260px;
	z-index: 4;
	display: inline-block;
	color: rgba(33,33,33,0.5);
	font-size: 12px;
	line-height: 1;
}
.nv_slide_price_old:after{
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #ffa700;
}
.nv_slide_price_old b{
	font-weight: 900;
	font-size: 18px;
}
.nv_slide_price_new{
	position: relative;
	z-index: 4;
	padding-left: 70px;
	color: #ffffff;
	font-size: 24px;
}
.nv_slide_price_new b{
	font-weight: 900;
	font-size: 48px;
}*/

.nv_right_box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.nv_right_item{
	width: calc(50% - 12px);
	margin-top: 24px;
	box-shadow: 0 0 7px 0 rgba(33,33,33,0.1);
}
.nv_right_item_banner{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #ececed;
}
.nv_right_item_banner img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.nv_right_button_box{
	display: none;
	margin-top: 50px;
	text-align: center;
}
.nv_right_button{
	display: inline-block;
	padding: 16px 30px;
	background-color: #f6f6f6;
	color: #7b589c;
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 50px;
	border: 1px solid #ededed;
}
.nv_right_button:hover{
	color: #7b589c;
	text-decoration: none;
}

@media screen and (max-width: 992px){
	.nv_block-hidden{
		display: block;
		margin-bottom: 30px;
		background-color: #fcfcfc;
		background-image: linear-gradient(to bottom, #fcfcfc, #fdfdfd);
		box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
	}
	.nv_container{
		display: block;
	}
	.nv_left{
		width: 100%;
		min-width: 0;
		padding-right: 0;
		padding-bottom: 20px;
	}
	.nv_logo{
		display: block;
	}
	.nv_menu_switch{
		display: block;
	}
	.nv_menu{
		display: none;
		margin-top: 20px;
		padding: 0;
	}
	.nv_right{
		width: 100%;
	}
	.nv_right_button_box{
		display: block;
	}
}
@media screen and (max-width: 767px){
	.nv_left{
		padding-bottom: 0;
	}
	.nv_left .yum.amenu>div{
		display: block;
	}
	.nv_slider{
		margin-bottom: 30px!important;
	}
	.nv_slide_desktop{
		display: none;
	}
	.nv_slide_mobile{
		display: block;
	}
	/*.nv_slide{
		position: relative;
	}
	.nv_slide:before{
		content: "";
		position: absolute;
		top: 0;
	    left: 0;
		display: block; 
	    width: 100%;
	    height: 100%;
	    background-color: rgba(255,255,255,0.5);
	}
	.nv_slide_content{
		position: relative;
		z-index: 4;
		width: 100%;
		padding: 30px 20px 10px;
		margin-bottom: 0;
	}
	.nv_slide_title{
		margin-bottom: 14px;
		font-size: 16px;
	}
	.nv_slide_undertitle{
		font-size: 12px;
	}
	.nv_slide_price:before{
		width: 160px;
		height: 160px;
		transform: translate(-10px,20px);
	}
	.nv_slide_price_old{
		top: auto;
	    left: 170px;
	    bottom: 24px;
	    margin-bottom: 0;
		font-size: 12px;
	}
	.nv_slide_price_old b{
		font-size: 14px;
	}
	.nv_slide_price_new{
		padding-left: 36px;
		font-size: 12px;
	}
	.nv_slide_price_new b{
		font-size: 18px;
	}*/
	.nv_slider .owl-pagination{
		top: 10px;
	}
	.nv_right_item{
		width: 100%;
		margin-top: 14px;
	}
}


.ms-video_block{
    max-width: 100vw;
	overflow: hidden;
}
.ms-video_panel{
	position: relative;
	padding-bottom: 90px;
}
.ms-video_title{
	position: relative;
	color: #363636;
	font-size: 24px;
	font-weight: 900;
	letter-spacing: 0.07em;
	text-transform: uppercase;
}
.ms-video_title:after{
	content: "";
	display: block;
	height: 2px;
	width: 130px;
	margin-top: 10px;
	background-color: #ffa700;
}
.ms-video_yb{
	position: absolute;
	left: 0;
	bottom: 0;
}
.ms-video_yb img{
	display: block;
	width: auto;
	height: 76px;
	max-width: 100%;
}
.ms-video_block .ms-sentence_tab_content_item_controls{
	position: relative;
	z-index: 1;
	margin-top: -40px;
	margin-bottom: 150px;
}
.ms-video_slider{
	position: relative;
	width: 100%;
	max-width: 810px;
	margin: 150px auto 110px!important;
}
.ms-video_slider:before{
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	display: block;
	width: 100vw;
	height: calc(100% + 140px);
	background-color: #7b589c;
	border-radius: 250px;
	transform: translate(88%,-50%);
}
.ms-video_slider.owl-carousel .owl-wrapper-outer{
	position: relative;
	z-index: 10;
	overflow: visible;
}
.ms-video_slider .owl-item{
	opacity: 0.6;
	transform: scale(0.73);
}
.owl-item.active{
	opacity: 1;
	transform: none;
}
.ms-video_item{
	width: 100%;
}
.ms-video_item_box{
	width: 100%;
}
.ms-video_item_box figure{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}
.ms-video_item_box figure iframe{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
    height: 100%;
}
.ms-video_button_box{
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}
.ms-video_button{
	display: inline-block;
	min-width: 290px;
	padding: 20px;
	background-color: #ffa700;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 50px;
	transition: all 0.2s ease-in-out;
}
.ms-video_button:hover{
	color: #ffffff;
	text-decoration: none;
	transform: scale(1.1);
}

@media screen and (max-width: 992px){
	.ms-video_panel{
		padding-bottom: 0;
	}
	.ms-video_yb{
		display: none;
	}
	.ms-video_block .ms-sentence_tab_content_item_controls{
		display: none;
	}
	.ms-video_slider:before{
		display: none;
	}
	.ms-video_slider{
		margin: 30px auto!important;
	}
}


.ms-recently{}
.ms-recently_box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.ms-recently_item{
	display: flex;
	width: calc((100% - 60px) / 3);
	margin-bottom: 30px;
	border: 1px solid #e8e8e8;
}
.ms-recently_image{
	flex-basis: 150px;
}
.ms-recently_image figure{
	position: relative;
	height: 100%;
}
.ms-recently_image figure img{
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	max-height: 100%;
	max-width: 100%;
	transform: translate(-50%,-50%);
}
.ms-recently_content{
	padding: 20px;
	font-weight: 500;
}
.ms-recently_content_title{
	margin-bottom: 20px;
	color: #7b589c;
	font-size: 16px;
	text-transform: uppercase;
}
.ms-recently_price{
	margin-bottom: 4px;
	color: #f24841;
	font-size: 14px;
}
.ms-recently_price b{
	font-size: 16px;
	font-weight: 600;
}

@media screen and (max-width: 768px){
	.ms-recently{
		display: none;
	}
}


.ms-discount_block{}
.ms-discount_panel{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 22px;
}
.ms-discount_title{
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 40px;
	color: #7b589c;
	font-size: 20px;
	font-weight: 400;
	line-height: 1;
}
.ms-discount_code{
	margin-bottom: 0;
	color: #757575;
	font-size: 14px;
}
.ms-discount_panel_number{
	display: none;
	color: #bababa;
	font-size: 20px;
	line-height: 1;
}
.ms-discount{
	display: flex;
	align-items: center;
	width: 100%;
	padding: 18px 0;
	color: #212121;
}
.ms-discount_item{
	display: flex;
	align-items: center;
}
.ms-discount_item_image{
	width: 160px;
	min-width: 160px;
	margin-right: 24px;
}
.ms-discount_item_image figure{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	border: 1px solid #e8e8e8;
}
.ms-discount_item_image figure img{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.ms-discount_item_text{
	font-weight: 500;
}
.ms-discount_item_link{
	color: #7b589c;
}
.ms-discount_item_price{
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 500;
}
.ms-discount_item_price_first{
	position: relative;
	display: inline-block;
	color: #757575;
}
.ms-discount_item_price_first:after{
	content: "";
	position: absolute;
	top: 50%;
	left: -5px;
	display: inline-block;
	width: calc(100% + 10px);
	height: 1px;
	background-color: #ffa700;
}
.ms-discount_item_price_first b{
	font-weight: 500;
}
.ms-discount_item_price_second{
	display: block;
	color: #f26022;
}
.ms-discount_item_price_second b{
	font-size: 23px;
	font-weight: 900;
}
.ms-discount_sign{
	margin: 0 15px;
}
.ms-discount_sign-plus{
	position: relative;
	width: 18px;
	height: 18px;
}
.ms-discount_sign-plus:before,
.ms-discount_sign-plus:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	height: 18px;
	display: block;
	width: 18px;
	height: 4px;
	background-color: #ffa700;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.ms-discount_sign-plus:after{
	width: 4px;
	height: 18px;
}
.ms-discount_sign-equally{}
.ms-discount_sign-equally:before,
.ms-discount_sign-equally:after{
	content: "";
	display: block;
	width: 16px;
	height: 3px;
	margin-bottom: 4px;
	background-color: #ffa700;
}
.ms-discount_sign-plus:after{
	margin-bottom: 0;
}
.ms-discount_item-final{
	flex-direction: column;
	align-items: center;
}
.ms-discount_item_fprice{
	margin-bottom: 24px;
	font-size: 18px;
}
.ms-discount_item_fprice b{
	font-size: 23px;
	font-weight: 900;
}
.ms-discount_item_redact{
	display: none;
	padding: 10px 20px;
	margin: 0 auto 20px;
	background-color: #ffffff;
	text-align: center;
}
.ms-discount_item_redact a{
	color: #212121;
	font-size: 14px;
}
.ms-discount_item_fbutton{
	text-align: center;
}
.ms-discount_item_fbutton a{
	display: inline-block;
	min-width: 170px;
	padding: 12px 10px;
	background-color: #ffa700;
	color: #ffffff;
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	border-radius: 50px;
	cursor: pointer;
}
.ms-discount_item_fbutton a:hover{
	color: #ffffff;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

@media screen and (max-width: 1100px){
	.ms-discount_block{
		padding-top: 18px;
		background-color: #f3f3f3;
	}
	.ms-discount_panel{
		margin-bottom: 10px;
	}
	.ms-discount_title{
		padding-left: 0;
	}
	.ms-discount_code{
		display: none;
	}
	.ms-discount_panel_number{
		display: block;
	}
	.ms-discount{
		flex-wrap: wrap;
		align-items: stretch;
	}
	.ms-discount_item{
		margin-bottom: 20px;
		width: calc(50% - 20px);
	}
	.ms-discount_item-final{
		width: 100%;
		margin-bottom: 0;
	}
	.ms-discount_sign{
		margin: auto 10px;
	}
	.ms-discount_sign-equally{
		display: none;
	}
	.ms-discount_item_redact{
		display: block;
	}
	.ms-discount_item_fprice{
		margin-bottom: 15px;
	}
}
@media screen and (max-width: 768px){
	.ms-discount_item{
		flex-direction: column;
		align-items: flex-start;
	}
	.ms-discount_item-final{
		align-items: center;
	}
	.ms-discount_item_image{
		max-width: 100%;
		min-width: 0;
		margin-right: 0;
		margin-bottom: 14px;
	}
}


.ms-info{}
.ms-info_tabs{
	display: flex;
	border-bottom: 1px solid #e8e8e8;
}
.ms-info_tab{
	display: block;
	padding: 12px 24px;
	margin: 0 20px;
	color: #212121;
	font-size: 16px;
	line-height: 1;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.ms-info_tab:hover,
.ms-info_tab.active{
	background-color: #ebebeb;
}
.ms-info_contents{}
.ms-info_content{
	display: none;
	padding-top: 30px;
}
.ms-info_content_head{
	position: relative;
	display: none;
	padding: 20px 30px 20px 24px;
	background-color: #e8e8e8;
	cursor: pointer;
}
.ms-info_content_head:after{
	content: "";
	position: absolute;
	top: 50%;
	right: 22px;
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-left: 9px solid #757575;
	border-bottom: 6px solid transparent;
	transform: translateY(-50%);
	transition: all 0.2s ease-in-out;
}
.ms-info_content.active .ms-info_content_head:after{	
	transform: translateY(-50%) rotate(-90deg);
}
.ms-info_content_text{
	display: flex;
	align-items: center;
	color: #212121;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
}
.ms-info_content_text_title{}
.ms-info_content_text_number{
	display: inline-block;
	padding-left: 0.6em;
	color: #7b589c;
}
.ms-info_content.active{
	display: block;
}
.ms-info_har_box{
	margin-bottom: 30px;
}
.ms-info_har{
	display: flex;
	color: #727272;
	font-size: 14px;
}
.ms-info_har_title{
	display: block;
	width: 250px;
	min-width: 250px;
}
.ms-info_har_text{
	display: block;
	color: #7b589c;
}
.ms-info_content .ms-button_container{
	text-align: center;
}

@media screen and (max-width: 768px){
	.ms-info{
		margin-bottom: 0;
	}
	.ms-info .ms-center-main-block{
		padding-left: 0;
		padding-right: 0;
	}
	.ms-info_tabs{
		display: none;
	}
	.ms-info_content{
		display: block;
		padding-top: 0;
		margin-top: 2px;
	}
	.ms-info_content_head{
		display: block;
	}
	.ms-info_content_body{
		display: none;		
		padding: 30px 15px;
	}
	.ms-info_content.active .ms-info_content_body{
		display: block;
	}
	.ms-info_har_title{
		width: 130px;
		min-width: 130px;
	}
}




.ms-info_q_container{
	padding-top: 30px;
}
.ms-info_q_button_container{
	margin-bottom: 34px;
}
.ms-info_q_button_box{
	text-align: center;
}
.ms-info_q_button_box .ms-button_order{
	text-transform: uppercase;
}
.ms-info_q_box{}
.ms-info_q_item{
	display: flex;
	padding: 46px 12px 40px;
	color: #757575;
	border-bottom: 1px solid #ebebeb;
}
.ms-info_q_box .ms-info_q_item:nth-of-type(n + 2){
	padding-left: 100px;
}
.ms-info_q_image{
	width: 68px;
	height: 68px;
	min-width: 68px;
	margin-right: 30px;
	background-color: #ebebeb;
}
.ms-info_q_image img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.ms-info_q_content{
	flex-grow: 100;
}
.ms-info_q_header{
	margin-bottom: 15px;
}
.ms-info_q_tense{
	font-size: 12px;
	line-height: 18px;
}
.ms-info_q_name{
	display: inline-block;
	margin-right: 10px;
	color: #7b589c;
	font-size: 14px;
}
.ms-info_q_date{
	display: inline-block;
	min-width: 100px;
	padding: 0 10px;
	color: #838383;
	text-align: center;
}
.ms-info_q_plash{
	display: inline-block;
	padding: 2px 12px;
	margin-left: 10px;
	background-color: #7dc855;
	color: #ffffff;
	border-radius: 2px;
}
.ms-info_q_plash-a{
	background-color: #ffa700;
}
.ms-info_q_text{}
.ms-info_q_bottom{
	margin-top: 30px;
}
.ms-info_q_rating{
	display: flex;
	align-items: center;
}
.ms-info_q_rating_text{}
.ms-info_q_rating_buttons{
	display: flex;
	margin-right: 60px;
	color: #bdbdbd;
}
.ms-info_q_rating_button{
	display: flex;
	align-items: center;
	margin-left: 40px;
	cursor: pointer;
}
.ms-info_q_rating_button img{
	display: block;
	transform: translateY(-1px);
	-webkit-transform: translateY(-1px);
}
.ms-info_q_rating_button span{
	display: inline-block;
	margin-left: 10px;
}
.ms-info_q_answer{}
.ms-info_q_answer_link{
	padding: 5px 20px;
}
.ms-info_q_answer_box{
	display: none;
}
.ms-info_q_answer_field{
	margin-top: 20px;
}
.ms-info_q_answer_field textarea{
	width: 100%;
	min-height: 100px;
	padding: 14px 16px;
	background-color: #f8f8fa;
	border-radius: 4px;
	border: 1px solid #ecedee;
	resize: none;
}
.ms-info_q_answer_button{
	margin-top: 36px;
	text-align: right;
}

.ms-info_o_title{
	margin: 18px 0 24px;
	padding-left: 40px;
	color: #7b589c;
	font-size: 20px;
	font-weight: 400;
}
.ms-info_o_box{}
.ms-info_o_box .ms-info_q_item{
	border-bottom: none;
}
.ms-info_o_form{
	padding: 40px 14px;
	border: 1px solid #ebebeb;
}
.ms-info_o_form_title{
	margin-bottom: 30px;
	color: #757575;
	font-size: 14px;
	font-weight: 500;
}
.ms-info_o_form_box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.ms-info_o_form_item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 29%;
	margin-bottom: 20px;
}
.ms-info_o_form_item-full{
	width: 100%;
}
.ms-info_o_form_item input,
.ms-info_o_form_item textarea{
	width: 100%;
	padding: 12px 18px;
	background-color: #f8f8fa;
	font-size: 14px;
	line-height: 16px;
	border-radius: 2px;
	border: 1px solid #ecedee;
	outline: none;
}
.ms-info_o_form_item textarea{
	min-height: 100px;
	resize: none;
}
.ms-info_o_form_star_title{
	color: #757575;
	font-size: 14px;
	font-weight: 500;
}
.ms_stars{
	display: flex;
	margin-top: 10px;
}
.ms_star{
	display: inline-block;
	width: 17px;
	height: 16px;
	background-image: url(/image/catalog/star-full.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.ms_star-half{
	background-image: url(/image/catalog/star-half.svg);
}
.ms_star input{
	display: none;
}
.ms-info_o_form_item .ms_stars{
	margin: 0 30px 0 10px;
}
.ms-info_o_form_item .ms_star{
	filter: grayscale(1);
	opacity: 0.7;
}
.ms-info_o_form_item .ms_star.active{
	filter: grayscale(0);
	opacity: 1;
}
.ms-info_o_form_button_box{
	width: 100%;
	margin-top: 20px;
	text-align: center;
}
.ms-info_o_form_button_box button{
	text-transform: uppercase;
}

@media screen and (max-width: 786px){
	.ms-info_q_item{
		padding: 24px 12px 14px;
	}
	.ms-info_q_box .ms-info_q_item:nth-of-type(n + 2){
		padding-left: 12px;
	}
	.ms-info_q_plash{
		margin: 10px auto 0 0;
	}
	.ms-info_q_rating{
		justify-content: space-between;
		flex-wrap: wrap;
		width: calc(100% + 98px);
		margin-left: -98px;
		margin-top: 20px;
	}
	.ms-info_q_rating_text,
	.ms-info_q_rating_buttons,
	.ms-info_q_answer_link{
		margin-bottom: 10px;
	}
	.ms-info_q_answer{
		width: calc(100% + 98px);
		margin-left: -98px;
	}
	.ms-info_q_rating_buttons{
		margin-right: 0;
	}
	.ms-info_q_rating_button{
		margin-left: 20px;
	}
	.ms-info_q_answer{
		text-align: right;
	}
	.ms-info_q_answer_button{
		margin-top: 16px;
	}
	.ms-info_o_title{
		padding-left: 0;
	}
	.ms-info_o_form_item{
		width: 100%;
	}
}


.ms-basis{}
.ms-basis_container{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 14px;
	border: 1px solid #e8e8e8;
}

.ms-basis_images{
	display: flex;
	width: 49%;
}
.ms-basis_images_column{
	width: 16%;
	min-width: 16%;
	margin-right: 14px;
}
.ms-basis_images_column_item{
	margin-bottom: 8px;
}
.ms-basis_images_column_item:last-of-type{
	margin-bottom: 0;
}
.ms-basis_images_column_item figure{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 117%;
}
.ms-basis_images_column_item figure img{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	max-width: 100%;
	object-fit: cover;
	object-position: center;
	cursor: pointer;
	border: 1px solid #ebebeb;
	transition: all 0.2s ease-in-out;
}
.ms-basis_images_column_item figure img.active{
	border-color: #ffbe44;
}
.ms-basis_images_main{
	flex-grow: 100;
}
.ms-basis_images_main figure{
	position: relative;
	width: 100%;
	height: 100%;
}
.ms-basis_images_main figure img{
	display: block;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	object-position: center;
	border: 1px solid #ebebeb;
}
.ms-basis_images_main_plash{
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	min-width: 60px;
	font-size: 12px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
}
.ms-basis_images_main_plash_first{
	display: block;
	padding: 12px 6px;
	background-color: #f26022;
	color: #ffffff;
}
.ms-basis_images_main_plash_second{
	display: block;
	padding: 10px 6px;
	background-color: #ffffff;
	color: #f26022;
	font-family: "Open Sans", "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 600;
	border: 1px solid #ebebeb;
}

.ms-basis_content{
	width: 49%;
}

.ms-basis_content_top{
	padding-bottom: 30px;
	border-bottom: 1px solid #e8e8e8;
}
.ms-basis_content_top_panel{
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
}
.ms-basis_content_top_title{
	flex-grow: 100;
	margin-top: 0;
	margin-bottom: 20px;
	color: #212121;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.1;
	text-transform: uppercase;
}
.ms-basis_content_top_title_top{
	display: block;
}
.ms-basis_content_top_title_bottom{
	display: block;
	color: #7b589c;
}
.ms-basis_content_top_panel .ms_stars{
	width: 90px;
	min-width: 90px;
	margin-top: 0;
	margin-left: 10px;
}
.ms-basis_content_top_slider{
	display: none!important;
	padding-bottom: 30px;
}
.ms-basis_content_top_slide{}
.ms-basis_content_top_slide figure{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 97%;
	border: 1px solid #ebebeb;
}
.ms-basis_content_top_slide figure img{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.ms-basis_content_top_slider .owl-buttons{
	display: none;
}
.ms-basis_content_top_info{
	display: grid;
	grid-template-columns: 31% 1fr 36px;
	grid-column-gap: 10px;
	grid-row-gap: 14px;
	padding: 0 44px 0 54px;
}
.ms-basis_content_top_info_limited{
	display: none;
	color: #f24841;
	align-self: center;
}
.ms-basis_content_top_info_stars{
	display: none;
	align-self: center;
	align-items: center;
}
.ms-basis_content_top_info_stars .ms_stars{	
	margin-top: 0;
}
.ms-basis_content_top_info_stars_text{
	display: inline-block;
	margin-left: 10px;
	color: #757575;
	font-family: "Open Sans", "Roboto", sans-serif;
	font-family: 12px;
}
.ms-basis_content_top_info_price-now{
	grid-column: 1/2;
	grid-row: 1/2;
	color: #f26022;
	font-size: 20px;
}
.ms-basis_content_top_info_price-now b{
	font-size: 26px;
	font-weight: 900;
}
.ms-basis_content_top_info_price-old{
	grid-column: 1/2;
	grid-row: 2/3;
	color: #212121;
	font-size: 16px;
}
.ms-basis_content_top_info_price-old span{
	position: relative;
	display: inline-block;
}
.ms-basis_content_top_info_price-old span:after{
	content: "";
	position: absolute;
	top: 50%;
	left: -4px;
	display: block;
	width: calc(100% + 8px);
	height: 1px;
	background-color: #f26022;
}
.ms-basis_content_top_info_price-old b{
	font-size: 20px;
	font-weight: 400;
}
.ms-basis_content_top_info_button-quick{
	grid-column: 2/3;
	grid-row: 1/2;
}
.ms-basis_content_top_info_button-quick a{
	display: inline-block;
	min-width: 200px;
    padding: 10px;
    margin: 0 auto;
    background-color: #e8e8e8;
    color: #757575;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.ms-basis_content_top_info_button-quick a:hover{
	transform: scale(1.1);
}
.ms-basis_content_top_info_button-temp{
	grid-column: 2/3;
	grid-row: 2/3;
}
.ms-basis_content_top_info_button-temp a{
	display: inline-block;
	min-width: 200px;
    padding: 10px;
    margin: 0 auto;
    background-color: #ffa700;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.ms-basis_content_top_info_button-temp a:hover{
	transform: scale(1.1);
}
.ms-basis_content_top_info_icon{}
.ms-basis_content_top_info_icon a{
	position: relative;
	display: block;
	width: 36px;
	height: 36px;
	background-color: #e8e8e8;
	border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.ms-basis_content_top_info_icon a:hover{
	transform: scale(1.1);
}
.ms-basis_content_top_info_icon svg{
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	height: 19px;
	transform: translate(-50%,-50%);
}
.ms-basis_content_top_info_icon-scales{
	grid-column: 3/4;
	grid-row: 1/2;
}
.ms-basis_content_top_info_icon-heart{
	grid-column: 3/4;
	grid-row: 2/3;
}

.ms-basis_content_middle{
	display: grid;
	grid-template-columns: 49% 49%;
	grid-row-gap: 30px;
	padding: 28px 0 30px 40px;
	border-bottom: 1px solid #e8e8e8;
}
.ms-basis_content_middle_part-1{
	grid-column: 1/2;
	grid-row: 1/2;
}
.ms-basis_content_middle_part-1_title{
	margin-bottom: 18px;
	color: #212121;
}
.ms-basis_content_middle_size{
	display: flex;
	margin-bottom: 8px;
	line-height: 1;
}
.ms-basis_content_middle_size_item{
	display: inline-block;
	margin-right: 6px;
	margin-bottom: 0;
}
.ms-basis_content_middle_size_item:last-of-type{
	margin-right: 0;
}
.ms-basis_content_middle_size_item input{
	display: none;
}
.ms-basis_content_middle_size_item span{
	display: inline-block;
	min-width: 28px;
	padding: 8px;
	background-color: #ebebeb;
	color: #212121;
	font-size: 12px;
	font-weight: 500;
	line-height: 1;
	text-align: center;
	border-radius: 2px;
	border: 2px solid #ffffff;
	transition: all 0.2s ease-in-out;
}
.ms-basis_content_middle_size_item input:checked+span{
	border-color: #ffa700;
}
.ms-basis_content_middle_link{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	color: #7b589c;
	font-size: 12px;
	line-height: 14px;
	cursor: pointer;
	text-decoration: underline;
}
.ms-basis_content_middle_link svg{
	display: block;
	width: 23px;
	min-width: 23px;
	margin-right: 14px;
}
.ms-basis_content_middle_link span{
	display: inline-block;
}
.ms-basis_content_middle_color{
	display: flex;
	align-items: center;
}
.ms-basis_content_middle_color_title{
	margin-bottom: 0;
	margin-right: 18px;
	color: #212121;
	font-weight: 500;
}
.ms-basis_content_middle_color_box{
	display: flex;
	align-items: center;
}
.ms-basis_content_middle_color_item{
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 0;
}
.ms-basis_content_middle_color_item:last-of-type{
	margin-right: 0;
}
.ms-basis_content_middle_color_item input{
	display: none;
}
.ms-basis_content_middle_color_item span{
	display: block;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	border: 2px solid #ffffff;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.ms-basis_content_middle_color_item input:checked+span{
	border-color: #ffa700;
}
.ms-basis_content_middle_part-2{
	grid-column: 2/3;
	grid-row: 1/2;
}
.ms-basis_content_middle_part-2_p{
	margin-bottom: 7px;
	color: #7b589c;
}
.ms-basis_content_middle_part-2_p_t{
	color: #757575;
}
.ms-basis_content_middle_part-3{
	grid-column: 1/3;
	grid-row: 2/3;
}

.ms-basis_content_bottom{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 16px;
}
.ms-basis_content_bottom_item{
	display: grid;
	grid-template-columns: 60px 1fr;
	width: 48%;
	margin-top: 20px;
}
.ms-basis_content_bottom_item_image{
	grid-column: 1/3;
	grid-row: 1/2;
}
.ms-basis_content_bottom_item_image svg{
	display: block;
	width: 44px;
	margin-right: 16px;
}
.ms-basis_content_bottom_item_content{
	grid-column: 2/3;
	grid-row: 1/2;
}
.ms-basis_content_bottom_item_content_title{
	margin-bottom: 12px;
	color: #7b589c;
	font-weight: 500;
	text-transform: uppercase;
}
.ms-basis_content_bottom_item_content b{
	color: #212121;
	font-weight: 500;
}
.ms-basis_content_bottom_item_link{
	grid-column: 2/3;
	grid-row: 2/3;
}
.ms-basis_content_bottom_item_link a{
	color: #7b589c;
	text-decoration: underline;
}

@media screen and (max-width: 1100px){
	.ms-basis_images{
		width: 100%;
	}
	.ms-basis_content{
		width: 100%;
		padding-top: 20px;
	}
}
@media screen and (max-width: 768px){
	.ms-basis_container{
		padding: 0;
		border: none;
	}
	.ms-basis_images{
		display: none;
	}
	.ms-basis_content_top_title{
		margin-bottom: 0;
		font-size: 14px;
	}
	.ms-basis_content_top_slider{
		display: block!important;
	}
	.ms-basis_content_top_panel .ms_stars{
		display: none;
	}
	.ms-basis_content_top_info{
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-row-gap: 0;
		max-width: 375px;
		padding: 0;
    	margin: 0 auto;
	}	
	.ms-basis_content_top_info_limited{
		display: block;
		grid-column: 1/3;
		grid-row: 1/2;
	}
	.ms-basis_content_top_info_stars{
		display: flex;
		grid-column: 1/3;
		grid-row: 2/3;
	}
	.ms-basis_content_top_info_price-now{
		grid-column: 3/5;
    	grid-row: 2/3;
    }
	.ms-basis_content_top_info_price-old{
		grid-column: 3/5;
    	grid-row: 1/2;
	}
	.ms-basis_content_top_info_button-quick{
		grid-column: 2/5;
    	grid-row: 4/5;
    	margin-top: 10px;
    }
    .ms-basis_content_top_info_button-quick a{
    	width: 100%;
    	min-width: 0;
    }
	.ms-basis_content_top_info_button-temp{
		grid-column: 2/5;
    	grid-row: 3/4;
    	margin-top: 10px;
    }
    .ms-basis_content_top_info_button-temp a{
    	width: 100%;
    	min-width: 0;
    }
	.ms-basis_content_top_info_icon-scales{
		grid-column: 1/2;
    	grid-row: 3/4;
    	margin-top: 10px;
    }
	.ms-basis_content_top_info_icon-heart{
		grid-column: 1/2;
    	grid-row: 4/5;
    	margin-top: 10px;
    }
	.ms-basis_content_middle{
		display: block;
		padding: 28px 0 0;
		border-bottom: none;
	}
	.ms-basis_content_middle_part-1{
		margin-bottom: 20px;
	}
	.ms-basis_content_middle_part-2{
		margin-bottom: 20px;
	}
	.ms-basis_content_bottom{
		display: none;
	}
	.ms-basis_content_bottom_item{
		width: 100%;
	}
}



.ms-footer{
	padding: 45px 0 40px;
	background-color: #ebebeb;
	color: #757575;
	font-size: 14px;
	line-height: 24px;
}
.ms-footer_panel{
	text-align: center;
}
.ms-footer_panel_title{
	margin-bottom: 4px;
	color: #212121;
	font-weight: 500;
	text-transform: uppercase;
}
.ms-footer_panel_under_title{
	margin-bottom: 10px;
}
.ms-footer_panel_form{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.ms-footer_panel_form input{
	width: 320px;
	max-width: 100%;
	padding: 16px 28px;
	background-color: #ffffff;
	color: #212121;
	font-size: 14px;
	line-height: 18px;
	border: none;
	outline: none;
}
.ms-footer_panel_form input::placeholder{
	color: #757575;
}
.ms-footer_panel_form button{
	position: relative;
	display: flex;
	align-items: center;
	padding: 16px 20px;
	background-color: #7b589c;
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.ms-footer_panel_form button:hover{
	transform: scale(1.1);
}
.ms-footer_panel_form button svg{
	content: "";
	display: block;
	width: 16px;
	margin-right: 16px;
}
.ms-footer_columns{
	display: flex;
	justify-content: center;
	margin-top: 70px;
}
.ms-footer_column{
	margin-bottom: 20px;
}
.ms-footer_column:not(:last-of-type){
	margin-right: 6%;
	padding-right: 6%;
	border-right: 1px solid #ffffff;
}
.ms-footer_column_title{
	margin-bottom: 24px;
	color: #7b589c;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	text-transform: uppercase;
}
.ms-footer_column_list{
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.ms-footer_column_list li{}
.ms-footer_column_list li a{
	color: inherit;
	transition: all 0.2s ease-in-out;
}
.ms-footer_column_list li a:hover{
	color: #faa61a;
	text-decoration: underline;
}
.ms-footer_column_text{
	margin-top: 40px;
	color: #212121;
	font-weight: 500;
}
.ms-footer_column_text a{
	color: #6858a1;
	text-decoration: underline;
}
.ms-footer_column_item{
	margin-bottom: 20px;
}
.ms-footer_column_item:last-of-type{
	margin-bottom: 0;
}
.ms-footer_column_item_title{
	margin-bottom: 0;
	color: #7b589c;
}
.ms-footer_column_item_city{
	margin-bottom: 0;
}
.ms-footer_column_item_city a{
	color: #212121;
	font-weight: 500;
	text-decoration: underline;
	cursor: pointer;
}
.ms-footer_column_item_city a:hover{
	color: #212121;
	text-decoration: none;
}
.ms-footer_column_soc{
	margin-top: 30px;
}
.ms-footer_column_soc_title{
	margin-bottom: 16px;
	color: #7b589c;
}
.ms-footer_column_soc_box{
	display: flex;
}
.ms-footer_column_soc_item{
	display: block;
	width: 32px;
	height: 32px;
	min-width: 32px;
	margin-right: 13px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.ms-footer_column_soc_item:last-of-type{
	margin-right: 0;
}
.ms-footer_column_soc_item:hover{
	transform: scale(1.1);
}
.ms-footer_column_soc_item img{
	display: block;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 992px){
	.ms-footer{
		padding: 35px 0 20px;
	}
	.ms-footer_panel_form input{
		padding: 16px 14px;
	}
	.ms-footer_panel_form button{
		padding: 16px 14px;
	}
	.ms-footer_panel_form button svg{
		display: none;
	}
	.ms-footer_columns{
		flex-direction: column;
		margin-top: 50px;
		text-align: center;
	}
	.ms-footer_column:not(:last-of-type){
		padding-right: 0;
		padding-bottom: 20px;
		margin-right: 0;
		margin-bottom: 20px;
		border-right: none;
		border-bottom: 1px solid #ffffff;
	}
	.ms-footer_column-about,
	.ms-footer_column-info{
		display: none;
	}
	.ms-footer_column_soc_box{
		justify-content: center;
	}
}



.ms-header{
	padding: 30px 0;
}
.ms-header .ms-center-main-block{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logotype{
	width: 150px;
	max-width: 100%;
}
.logotype img{
	display: block;
	max-width: 100%;
	transform: translateY(-14%);
}
.hamburger{
	display: none;
}
.ms-header_panel{
	flex-grow: 100;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: 20px;
}
.ms-header_search{
	position: relative;
	margin-right: 6%;
}
.ms-header_search input{
	width: 290px;
    max-width: 100%;
    padding: 8px 30px 8px 22px;
    color: #bababa;
    font-size: 14px;
    border-radius: 50px;
    outline: none;
    border: 1px solid #bababa;
}
.ms-header_search input::placeholder{
    color: #bababa;
}
.ms-header_search img{
	position: absolute;
	top: 50%;
	right: 12px;
	display: block;
	width: 17px;
	transform: translateY(-50%);
}
.ms-header_contacts{
	margin-right: 6%;
}
.ms-header_contacts_top{
	margin-bottom: 0;
	color: #757575;
	font-size: 16px;
}
.ms-header_contacts_middle{
	margin-bottom: 0;
	color: #7b589c;
	font-size: 30px;
	font-weight: 700;
}
.ms-header_contacts_middle a{
	color: inherit;
}
.ms-header_contacts_bottom{
	display: flex;
	justify-content: space-between;
}
.ms-header_contacts_sh{}
.ms-header_contacts_sh_label{
	display: flex;
	align-items: center;
}
.ms-header_contacts_sh_label img{
	display: block;
	height: 17px;
	margin-right: 4px;
}
.ms-header_contacts_sh_label span{
	color: #757575;
	font-size: 14px;
	line-height: 1;
	text-decoration: underline;
}
.ms-header_panel_item{
	margin-right: 18px;
}
.ms-header_panel_item-search{
	display: none;
}
.ms-header_panel_item figure{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: #e8e8e8;
	border-radius: 50%;
}
.ms-header_panel_item figure svg,
.ms-header_panel_item figure img{
	display: block;
	width: 22px;
}
.ms-header_panel_item figure span{
	position: absolute;
	right: 0;
	bottom: 0;
	display: block;
	width: 20px;
	height: 20px;
	background-color: #ffa700;
	color: #ffffff;
	line-height: 20px;
	text-align: center;
	border-radius: 50%;
}
.ms-header_panel_item-big{
	margin-left: 22px;
}
.ms-header_panel_item-big figure{
	width: 70px;
	height: 70px;	
}
.ms-header_panel_item-big figure svg,
.ms-header_panel_item-big figure img{
	display: block;
	width: 40px;
}
.ms-header_langs{
	position: relative;
	width: 40px;
	min-width: 40px;
	height: 16px;
	margin-left: 12px;
}
.ms-header_langs_list{
	position: absolute;
	width: 100%;
	height: 16px;
	padding-right: 12px;
	background-color: #ffffff;
	overflow: hidden;
	cursor: pointer;
}
.ms-header_langs_list:before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 10px;
	height: 16px;
	background-image: url(/image/catalog/header_arrow.png);
	background-position: center 8px;
	background-repeat: no-repeat;
	background-size: 100%;
}
.ms-header_langs_list:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 16px;
	font-size: 14px;
	line-height: 16px;
}
.ms-header_langs_list.active{
	height: 48px;
}
.ms-header_langs_list.active:after{
	display: none;
}
.ms-header_langs_list_item{
	order: 8;
	display: block;
	height: 16px;
	color: #757575;
}
.ms-header_langs_list_item.active{
	order: 4;
}

@media screen and (max-width: 1200px){
	.ms-header_search{
		margin-right: 4%;
	}
	.ms-header_search input{
		width: 240px;
	}
	.ms-header_contacts{
		margin-right: 4%;
	}
}
@media screen and (max-width: 1100px){
	.ms-container{
		padding-top: 62px;
	}
	.ms-header{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		width: 100%;
		padding: 16px 0;
		background-color: #fcfcfc;
		box-shadow: 3px 0 3px 3px rgba(0,0,0,0.1);
	}
	.logotype{
		display: none;
	}
	.hamburger{
		display: block;
		width: 30px;
		margin-right: 20px;
	}
	.hamburger img{
		display: block;
		max-width: 100%;
	}
	.ms-header_panel{
		margin-left: 0;
	}
	.ms-header_search{
		display: none;
	}
	.ms-header_contacts{
		display: none;
	}
	.ms-header_panel_item{
		margin-left: 16px;
		margin-right: 0;
	}
	.ms-header_panel_item-search{
		display: block;
	}
	.ms-header_panel_item figure{
		width: 30px;
		height: 30px;
	}
	.ms-header_panel_item figure svg,
	.ms-header_panel_item figure img{
		width: 16px;
	}
	.ms-header_panel_item figure span{
		top: -6px;
    	right: -6px;
		bottom: auto;
		width: 16px;
		height: 16px;
		font-size: 10px;
	}
	.ms-header_panel_item-big{
		margin-right: 0;
	}
	.ms-header_panel_item-big figure{
		width: 30px;
		height: 30px;
	}
	.ms-header_panel_item-big figure img{
		width: 16px;
	}
	.ms-header_langs{
		display: none;
	}
}



.ms-menu{
	background-color: #7b589c;
}
.ms-menu_box{
	position: relative;
	display: flex;
}
.ms-menu_item{
	flex-grow: 100;
}
.ms-menu_item_link{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 10px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.ms-menu_item_link:after{
	content: "";
	position: absolute;
	top: 12px;
	right: 0;
	display: block;
	width: 1px;
	height: calc(100% - 24px);
	background-color: #9579b0;
}
.ms-menu_item:last-of-type .ms-menu_item_link:after{
	display: none;
}
.ms-menu_item_link:hover{
	color: #ffffff;
	background-color: #ffa700;
}
.ms-menu_section{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 0;
	background-color: #ffffff;
    overflow: hidden;
    transform: translateY(100%);
}
.ms-menu_item:hover .ms-menu_section{
	height: auto;
	padding: 20px;
    border-radius: 0 0 7px 7px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.ms-menu_section_box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-height: 0vh;
	overflow: hidden;
}
.ms-menu_item:hover .ms-menu_section_box{
	max-height: 100vh;
	transition: max-height 0.4s ease-in-out;
}
.ms-menu_section_item{
	display: flex;
	align-items: center;
	width: 24%;
	margin-bottom: 20px;
	color: #212121;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}
.ms-menu_section_item img{
	display: block;
	width: 91px;
	height: 91px;
	margin-right: 20px;
	object-fit: cover;
	object-position: center;
}
.ms-menu_section_item span{}
.ms-menu_section_border{
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #7b589c;
    border-radius: 0 0 7px 7px;
}

@media screen and (max-width: 1100px){
	.ms-menu{
		display: none;
	}
}


.m-menu{
	position: fixed;
    top: -200%;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    opacity: 0;
    overflow-y: auto;
}
.m-menu.active{
	top: 0;
	opacity: 1;
	transition: top 0.1s linear, opacity 0.2s ease-in-out;
}
.m-menu_container{
	position: relative;
    padding-bottom: 60px;
}
.m-menu_background{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    cursor: pointer;
}
.m-menu_popup{
	position: relative;
    z-index: 20;
    background-color: #ffffff;
}
.m-menu_top{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 30px 24px 24px;
	background-color: #7b599d;
	color: #ffffff;
}
.m-menu_top .logotype{
	display: block;
	width: 140px;
	min-width: 140px;
	margin-bottom: 26px;
}
.m-menu_top .logotype img{
	transform: none;
}
.m-menu_langs{
	display: flex;
	align-items: center;
}
.m-menu_lang{
	position: relative;
	display: block;
	color: #ffffff;
}
.m-menu_lang:not(:last-of-type){
	padding-right: 15px;
	margin-right: 15px;
}
.m-menu_lang:not(:last-of-type):after{
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	width: 1px;
	height: 10px;
	background-color: #ffffff;
	transform: translateY(-50%);
}
.m-menu_enter{
	width: 100%;
}
.m-menu_enter_item{
	position: relative;
	color: #ffffff;
}
.m-menu_enter_item:not(:last-of-type){
	padding-right: 15px;
	margin-right: 15px;
}
.m-menu_enter_item:not(:last-of-type):after{
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	width: 1px;
	height: 12px;
	background-color: #ffffff;
	transform: translateY(-50%);
}
.m-menu_middle{
	padding: 24px;
}
.m-menu_salons{
	font-family: "Open Sans", "Roboto", sans-serif;
}
.m-menu_salons span{}
.m-menu_salons a{
	margin-left: 0.2em;
	display: inline-block;
	color: #f26022;
	text-decoration: underline;
}
.m-menu_catalog{
	margin: 24px auto 10px;
	text-align: center;
}
.m-menu_catalog a{
	position: relative;
	display: inline-block;
	padding: 14px 50px;
	background-color: #ffa700;
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	border-radius: 50px;
}
.m-menu_catalog a:hover{
	color: #ffffff;
}
.m-menu_catalog a:after{
	content: "";
	position: absolute;
	top: 50%;
	right: 30px;
	display: inline-block;
	border-left: 8px solid #ffffff;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transition: all 0.2s ease-in-out;
}
.m-menu_list{}
.m-menu_box{}
.m-menu_item{
	display: block;
	padding: 22px 24px !important;
	color: #7b589c;
	font-size: 16px;
	font-weight: 500;
	border-top: 1px solid #e8e8e8;
}
.m-menu_bottom{
	padding: 24px;
	background-color: #e8e8e8;
	color: #757575;
}
.m-menu_contact-client{
	margin-bottom: 20px;
}
.m-menu_contact-client a{
	color: inherit;
	font-size: 18px;
}
.m-menu_contact-time{
	font-family: "Open Sans", "Roboto", sans-serif;
}
.m-menu_contact-time b{
	font-weight: 600;
}


.breadcrumb_block{
	margin-bottom: 0;
	padding-bottom: 1px;
}
.breadcrumb_block .breadcrumb{
	margin: 30px 0;
}

@media screen and (max-width: 992px){
	.breadcrumb_block{
		display: none;
	}
}